.book_container {
  box-shadow: 0px 3px 6px #04275B1A;
  border: 1px solid #F5EDED;
  border-radius: 8px;
  height: auto;
  width: 194px;
  .cover {
    width: 168px;
    height: 143px;
    margin: 13px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .link {
    color: #0AA1FF;
    font-size: 14px;
    margin-left: 13px;
  }

  .linkIcon {
    background: #F8F8F8;
    height: 35px;
    width: 35px;
    margin-left: 13px;
    margin-top: 5px;
    border-radius: 50%;
    color: #099670;

    i {
      line-height: 39px;
      margin-left: 10px;
    }
  }
}