// max-width = 1200px
@media (max-width: map-get($grid-breakpoints,"xl")) {
}

// max-width = 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
}

// max-width = 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
}

// max-width = 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .ActivityCardSlider {
    padding: 40px 0;
  }
}

// max-width = 400px
@media (max-width: map-get($grid-breakpoints,"xs")) {
}
