@import "../../../../styles/_variable.scss";

.ActivityCardSlider {
  padding: 40px;
  width: 100%;
  height: 100%;

  :global {
    .slider-frame {
      overflow: inherit !important;

      .slider-list {
        margin-bottom: 30px !important;
      }
    }
  }

  .ActivityCard__Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      box-shadow: none;
    }

    .PaginationDot {
      width: 8px;
      height: 8px;
      background-color: #32a68770;
      border-radius: 50%;
      margin: auto 10px;
    }

    .PaginationDot__Active {
      background-color: #32a687;
    }

    .ActivityCard__Pagination_LeftArrow {
      color: #32a687;
      font-weight: 700;
      font-size: 20px;
    }

    .ActivityCard__Pagination_RightArrow {
      color: #32a687;
      font-weight: 700;
      font-size: 20px;
    }
  }
}

@import "./ActivityCardSlider.media.scss";
