// @import "variable.scss";

.WatchVideoReveal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  transition: all 5s, height 1s;
  overflow: hidden;
  clip-path: circle(0px at right);

  .ReactPlayer {
    width: 100% !important;
    height: 100% !important;

    position: absolute;

    video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .Mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.WatchVideoButtonContainer {
  position: absolute;
  z-index: 100;
  height: calc(100% + 110px);
  transition: all 1s;
  top: -110px;
  right: 0;

  .WatchVideoButtonContainer__BackgroundImage {
    position: absolute;
    right: 0;
    height: 100%;
  }

  .WatchVideoButton {
    background: none;
    border: none;
    color: white;
    font-size: 27px;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 50%;
    display: flex;
    align-items: center;
    box-shadow: none;
    height: 100px;

    .WatchVideoButton_Image {
      margin-left: 5px;
    }
  }
}

.fullScreen {
  height: calc(100% + 110px);
  clip-path: circle(500vh at right);
  top: -110px;

  .ReactPlayer {
    z-index: 500;
  }
}

@import "./WatchVideoReveal.media.scss";
