@import "../../../../styles/variable";

.ActivityCard {
  width: 424px;
  box-shadow: 0px 5px 4px #6e6e6e1a;
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 500ms;
  height: 100%;
  min-height: 506px;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover {
    box-shadow: 9px 12px 9px #6e6e6e4f;
    z-index: 100;
  }

  .ActivityCard__Label {
    position: absolute;
    left: 15px;
    top: 10px;
    background-color: white;
    color: green;
    padding: 3px 9px;
    border-radius: 20px;
  }

  .ActivityCard__Content {
    padding: 20px 17px;
    margin-bottom: auto;

    .ActivityCard__Summary {
      color: #0f0f0f;
      font-size: 16px;
      font-weight: 400;
    }

    .ActivityCard__Header {
      margin-top: 9px;
      margin-bottom: 20px;
    }

    .ActivityCard__PriceAndActivityLevel {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ActivityCard__Price {
        font-weight: 500;
        font-size: 22px;
        color: #099670;
      }
    }
  }

  .ActivityCard__Footer {
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 10px 23px;
    padding-bottom: 16px;

    :global {
      .ant-rate {
        font-size: 16px;
      }
    }

    .ActivityCard__Footer_IconsContainer {
      display: flex;
      align-items: center;
    }

    .ActivityCard__Footer_ShareIcon {
      margin-right: 20px;
      cursor: pointer;
      height: 20px;
    }

    .ActivityCard__Footer_HeartIcon {
      font-size: 21px;
      cursor: pointer;
    }
  }
}

@import "./ActivityCard.media.scss";
