<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description"
    content="Join Expeditions Connect for free. Explore the best adventure courses, workshops and expeditions directly crafted by professionals." />
  <meta property="og:title" content="Connect. Learn. Impact | Expeditions Connect">
  <meta property="og:description"
    content="Join Expeditions Connect for free. Explore the best adventure courses, workshops and expeditions directly crafted by professionals.">
  <meta property="og:image:type" content="image/ong" />
  <meta property="og:image"
    content="https://expeditions-connect-bucket.s3.eu-central-1.amazonaws.com/Logos/expeditionLohgo.png">
  <meta property="og:url" content="http://expeditionsconnect.com/">
  <meta name="facebook-domain-verification" content="hy2r6qalzpbjg8i3wdiwfp4s8yta9l" />
  <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
  <link rel="stylesheet" href="node_modules/react-quill/dist/quill.snow.css" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap"
    rel="stylesheet" />
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NBJMRFW');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Analytics -->
  <script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-148922410-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1307387226293332');
    fbq('track', 'PageView');
  </script>
  <!-- Facebook Pixel Code -->

  <!--Mailchimp-->
  <script id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/702a8b68f3b84331ed41c1478/1dd49c9595b5db10ddd09feac.js");
  </script>
  <!--Mailchimp-->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRbkCf-zFbUjLsY62KXua-1p-cVmrj6v0&libraries=places"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <title>Expeditions Connect</title>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBJMRFW" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/7338962.js"></script>
  <!-- End of HubSpot Embed Code -->
  <% if (process.env.NODE_ENV==='production' ) { %>
    <!-- Facebook Pixel Code -->
    <script>
      !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
          n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1307387226293332');
      fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->
    <% } %>

      <% if (process.env.NODE_ENV==='production' ) { %>

        <noscript>
          <Image layout="fill" height="1" width="1" src="https://www.facebook.com/tr?id=1307387226293332&ev=PageView
    &noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->
        <% } %>
</body>

</html>