.award_box {
  padding: 10px;
  box-shadow: 0px 3px 6px #04275B1A;
  border: 1px solid #F5EDED;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;

  img {
    width: 30px;
    height: 34px;
  }

  .logo {
    margin: auto 15px;
  }

  .year {
    margin: 5px 10px auto auto;
    color: #2fa686;
    font-weight: bold;
  }
  h5{
    color: rgb(0, 0, 0);  
  }
  span{
    color: rgb(0, 0, 0);
  }
}