.btn-action {
    padding: 13px 0;
    text-align: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    max-width: 200px;
    color: #fff;
    box-shadow: none !important;
    img {
      margin-left: 10px;
    }
  
    &:hover {
      color: #000;
      background: #fff;
      img {
        filter: invert(1);
      }
    }
  }
  
  .medium-text {
    font-family: "rubik-medium";
  }
  
  .img-fluid {
    max-width: 100%;
  }
  
  .order-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  
  .order-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  
  .order-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  
  .order-md-1 {
    @include min-992 {
      -ms-flex-order: 1;
      order: 1;
    }
  }
  
  .order-md-2 {
    @include min-992 {
      -ms-flex-order: 2;
      order: 2;
    }
  }
  
  .order-md-3 {
    @include min-992 {
      -ms-flex-order: 3;
      order: 3;
    }
  }
  
  .about {
    // max-width:1920px;
    // margin:0 auto;
  
    .ant-row::before,
    .ant-row::after {
      display: none;
    }
  
    .ant-row {
      display: flex;
      flex-wrap: wrap;
    }
  
    .container-fluid {
      padding-left: 8% !important;
      padding-right: 8% !important;
  
      @include min-1400 {
        padding-left: 3%;
        padding-right: 3%;
      }
  
      @include min-1600 {
        padding: 0 1%;
        max-width: 1640px;
        width: 100%;
        margin: 0 auto;
      }
    }
  
    p {
      @include media-sm {
        font-size: 18px;
        line-height: 1.5;
      }
    }
  
    section {
      padding: 40px 0;
  
      @include min-768 {
        padding: 60px 0;
      }
  
      @include min-992 {
        padding: 100px 0;
      }
  
      @include min-1200 {
        padding: 150px 0;
      }
      &.banner {
        padding: 0;
      }
      h2 {
        line-height: 40px;
        font-size: 38px;
        color: #099670;
        font-family: "rubik-medium";
  
        @include min-768 {
          line-height: 60px;
          font-size: 38px;
        }
  
        @include min-1200 {
          line-height: 60px;
          font-size: 38px;
        }
      }
  
      .content {
        p {
          // font-size: 16px;
          // line-height: 30px;
          color: #111;
          padding-left: 25px;
          position: relative;
  
          @include min-768 {
            font-size: 22px;
            line-height: 36px;
          }
  
          @include min-1200 {
            font-size: 24px;
            line-height: 36px;
          }
  
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          &:nth-child(2) {
            font-weight: 600;
            &:before {
              content: "";
              width: 4px;
              height: 100%;
              background: #ffbc00;
              display: inline-block;
              position: absolute;
              left: 0px;
            }
          }
        }
        .content-main-title {
          margin-bottom: 35px;
        }
        .main-text {
          font-family: "Rubik";
          font-weight: 500 !important;
          margin-bottom: 45px !important;
        }
        .sub-text {
          font-family: "Rubik";
          font-weight: 400;
        }
      }
  
      .content-wrap-bar {
        @include min-1200 {
          max-width: 480px;
        }
        h2 {
          margin-bottom: 0;
          line-height: normal;
          color: inherit;
  
          span {
            color: #ffbc00;
            // display: block;
          }
          &:after {
            content: "";
            display: block;
            width: 150px;
            height: 6px;
            background: #ffbc00;
            margin: 20px 0px 34px 0px;
          }
        }
  
        p {
          // font-size: 16px;
          // line-height: 30px;
          color: #111;
  
          @include min-768 {
            font-size: 24px;
            line-height: 36px;
          }
        }
      }
  
      .row-reverse {
        .right-img-wrap {
          text-align: right;
          padding-right: 0px;
          padding-left: 0px;
        }
  
        .content {
          @include min-1400 {
            padding-right: 105px;
          }
          @include min-1600 {
            padding-right: 105px;
          }
        }
      }
    }
    .banner {
      background: url("./../public/images/about/banner.jpg") no-repeat;
      background-size: cover;
      background-position: center right 20%;
      color: #fff;
      position: relative;
  
      @include min-1400 {
        background-position: 75%;
      }
  
      &:before {
        @include media-md {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background: rgba(0, 0, 0, 0.15);
        }
      }
    }
    .banner-text {
      padding: 75px 0;
  
      @include min-768 {
        padding: 116px 0;
      }
      .main-title {
        font-family: "rubik-regular";
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 0px;
      }
      h1 {
        font-size: 36px;
        line-height: 50px;
        color: inherit;
  
        @include min-768 {
          font-size: 55px;
          line-height: 70px;
        }
  
        @include min-1200 {
          font-size: 75px;
          line-height: 90px;
        }
  
        span {
          color: #ffbc00;
        }
      }
  
      .sub-title {
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 30px;
  
        @include min-768 {
          font-size: 20px;
        }
  
        @include min-1200 {
          font-size: 20px;
        }
      }
      .border-bottom-yellow {
        background: #fbca48 0 0 no-repeat padding-box;
        opacity: 1;
        width: 120px;
        height: 7px;
        margin-top: 15px;
        margin-bottom: 25px;
      }
    }
    
    .community .content p {
      font-size: 20px;
      line-height: 36px;
      text-align: justify;
    }
    .community{
      div.right-img-wrap{
        padding: 0px !important;
      }
      .community-img-2{
        padding: 0px !important;
        img{
          max-width: 96%;
        }
      }
    }
  }
  
  .about-us {
    position: relative;
    // &:after{
    //     content:"";
    //     background: url("../images/about/triangle_pattern.png") no-repeat;
    //     background-size: contain;
    //     display: block;
    //     position: absolute;
    //     width: 412px;
    //     max-width:400px;
    //     height: 625px;
    //     top: 50%;
    //     transform:translateY(-50%);
    //     right:-200px;
    //     z-index:-1;
    // }
    .what-we-do-img{
      margin-top: 15px;
      border-radius: 30px;
    }
    p {
      font-size: 24px !important;
      line-height: 36px !important;
      text-align: justify;
    }
  }
  
  .connect {
    background: #f6f6f6;
  
    h2 {
      max-width: 630px;
    }
  
    .ant-row {
      @include min-992 {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: stretch !important;
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
      }
      & > .ant-col {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
      }
    }
  
    .left-wrap {
      -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
    }
  
    .content-box {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
      -webkit-box-align: end !important;
      -ms-flex-align: end !important;
      align-items: flex-end !important;
      margin-top: 30px;
      @include min-992 {
        margin: 0;
      }
  
      .box {
        padding: 20px;
        width: 100%;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);
        margin-bottom: 30px;
        background: #fff;
        @include min-992 {
          background: linear-gradient(#fff 0%, #f6f6f6 100%);
          padding: 20px;
        }
  
        @include min-1200 {
          padding: 15px 50px 10px 30px;
          width: 465px;
        }
  
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
          @include min-992 {
            border: 0;
            margin-bottom: 30px;
          }
  
          @include min-1400 {
            margin-bottom: 40px;
          }
        }
        ul li {
          font-family: "Rubik" !important;
          font-size: 18px !important;
          margin-bottom: 10px;
        }
  
        &:nth-child(2n-1) {
          @include min-992 {
            margin-right: 20px;
          }
  
          @include min-1200 {
            margin-right: 50px;
          }
  
          @include min-1400 {
            margin-right: 100px;
          }
        }
      }
  
      h5 {
        font-weight: 600;
        font-size: 20px;
        color: #099670;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0;
        font-family: "Rubik";
        font-weight: 600;
  
        @include min-768 {
          text-align: unset;
          font-size: 20px;
          text-transform: capitalize;
        }
  
        &:after {
          content: "";
          width: 150px;
          height: 5px;
          background: #fbca48;
          display: block;
          margin: 15px 0;
  
          @include min-768 {
            margin: 15px 0;
            height: 5px;
          }
  
          @include min-1200 {
            margin: 20px 0;
          }
  
          @include min-1600 {
            margin: 30px 0;
          }
        }
      }
  
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          color: #111;
          font-size: 18px;
          line-height: 28px;
  
          @include min-1200 {
            font-size: 20px;
          }
          &:not(:last-child) {
            // margin-bottom:5px;
            @include min-1200 {
              margin-bottom: 10px;
            }
          }
          &:before {
            content: "";
            height: 20px;
            width: 20px;
            background: url("./../public/images/about/tick.png") no-repeat;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
  
            @include min-575 {
              margin-right: 20px;
            }
          }
        }
      }
    }
    .content-section-img {
      margin-bottom: 35px;
    }
  }
  
  .our-dream {
    .our-dream-right {
      padding-left: 100px !important;
      // margin-top: 60px;
    }
  }
  
  .sustainable-section {
    .sustainable-section-right {
      padding-left: 65px !important;
    }
  }
  
  .rows-wrap {
    .container-fluid {
      & > div {
        &:not(:last-child) {
          margin-bottom: 40px;
  
          @include min-768 {
            margin-bottom: 80px;
          }
  
          @include min-992 {
            margin-bottom: 130px;
          }
        }
      }
    }
  }
  
  .row-reverse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  
  .testimonial {
    background: #111;
    color: #fff;
    .testimonial-content {
      position: relative;
  
      @include min-768 {
        padding-left: 65px;
      }
  
      &:before {
        content: "";
        background: url("./../public/images/about/quotes.png") no-repeat;
        width: 47px;
        height: 37px;
        background-size: contain;
        display: block;
  
        @include min-768 {
          position: absolute;
          top: -10px;
          left: 0;
        }
      }
      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
  
        @include min-768 {
          font-size: 36px;
          line-height: 65px;
        }
  
        @include min-1200 {
          font-size: 43px;
          line-height: 75px;
        }
  
        &:after {
          content: "";
          width: 96px;
          height: 5px;
          border-radius: 1px;
          background: #ffbc00;
          display: block;
          margin: 25px 0;
  
          @include min-575 {
            margin: 50px 0;
          }
        }
      }
  
      .author {
        font-size: 18px;
        @include min-768 {
          font-size: 26px;
        }
  
        span {
          color: #ffbc00;
        }
      }
    }
  
    // .container.align-center{
    //     @include min-1200{
    //         padding-left: 10%;
    //         padding-right: 10%;
    //     }
    // }
  }
  
  .our-value {
    padding: 0 !important;
    .content-wrap-bar {
      padding: 0px 50px 0px 35px;
      p {
        color: #fff !important;
        font-size: 18px !important;
        line-height: 1.7 !important;
        text-align: justify;
        font-family: 'Rubik';
      }
    }
    
    .left-wrap {
      background: #333;
      color: #fff;
      padding: 5%;
  
      @include min-1200 {
        padding: 20px;
      }
    }
  
    .right-wrap {
      background: url("./../public/images/about/values_banner.jpg") no-repeat;
      background-size: cover;
      background-position: right;
      padding: 40px 5%;
      padding-right: 60px !important;
  
      @include min-768 {
        padding: 60px 5%;
      }
  
      @include min-992 {
        padding: 100px 5%;
      }
  
      @include min-1200 {
        padding: 150px 0;
      }
    }
  
    .values-wrap {
      max-width: 100%;
  
      @include media-md {
        flex-direction: column;
      }
  
      @include min-1200 {
        margin-left: -20px;
      }
  
      @include min-1400 {
        margin-left: -40px;
      }
  
      @include min-1600 {
        margin-left: -125px;
      }
  
      & > div {
        flex: 1;
        max-width: 332px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
  
        @include media-md {
          max-width: unset;
          -webkit-box-orient: horizontal !important;
          -webkit-box-direction: normal !important;
          -ms-flex-direction: row !important;
          flex-direction: row !important;
        }
  
        @include media-mobile {
          -webkit-box-orient: vertical !important;
          -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
          flex-direction: column !important;
        }
  
        &:not(:last-child) {
          @include min-768 {
            margin-right: 25px;
          }
        }
        & > div {
          @include media-md {
            margin-bottom: 15px;
          }
  
          &:not(:last-child) {
            margin-bottom: 15px;
  
            @include media-md {
              margin-right: 15px;
            }
  
            @include media-mobile {
              margin-right: 0;
            }
  
            @include min-1200 {
              margin-bottom: 30px;
            }
  
            @include min-1400 {
              margin-bottom: 49px;
            }
          }
        }
      }
      .box {
        padding: 25px 15px;
        background: #fff;
        box-shadow: 0px 100px 100px rgba(112, 126, 149, 0.2);
        border-radius: 12px;
        color: #111;
  
        @include media-md {
          flex: 0 0 50%;
        }
  
        @include min-768 {
          padding: 20px 15px;
          min-height: 350px;
        }
  
        @include min-1400 {
          padding: 20px 26px;
        }
  
        .box-content {
          img {
            margin-bottom: 20px;
            @include media-mobile {
              width: 40px;
            }
          }
          h6 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            font-size: 18px;
            // color: #14212b;
            color: inherit;
            text-transform: uppercase;
  
            @include min-575 {
              margin-bottom: 30px;
            }
  
            @include min-768 {
              font-size: 22px;
            }
          }
  
          p {
            font-size: 14px;
            line-height: 2;
            // color: #111;
          }
        }
      }
    }
  }
  
  .why-choose {
    padding: 40px 0 !important;
  
    @include min-768 {
      padding: 60px 0 !important;
    }
  
    @include min-992 {
      padding: 100px 0 !important;
    }
    .content-wrap-bar {
      h2 {
        font-size: 38px;
        line-height: 1.5 !important;
        @include min-768 {
          font-size: 38px;
        }
  
        span {
          display: block;
        }
      }
    }
  
    .why-us-wrap {
      margin-top: 50px;
      @include min-1200 {
        padding-left: 20px;
        margin-top: 0;
      }
      .box-wrap {
        margin-bottom: 40px;
        // flex:0 0 50%;
        font-family: "rubik-regular";
        font-size: 18px;
        line-height: 1.7;
        @include min-575 {
          max-width: 450px;
          flex: 0 0 48%;
        }
  
        @include min-768 {
          margin-bottom: 35px;
        }
  
        @include min-1400 {
          flex: 0 0 48%;
        }
  
        @include min-1600 {
          flex: 0 0 50%;
        }
  
        &:nth-child(2n-1) {
          margin-right: auto;
        }
  
        img {
          margin-right: 20px;
          width: 50px;
          @include min-992 {
            width: unset;
          }
        }
  
        h6 {
          font-size: 20px;
          font-weight: 600;
  
          @include min-768 {
            font-size: 24px;
          }
  
          &:after {
            content: "";
            width: 96px;
            height: 5px;
            border-radius: 1px;
            background: #ffbc00;
            display: block;
            margin: 17px 0;
          }
        }
  
        p {
          // font-size: 16px;
          font-family: "rubik-regular";
          color: #111;
          @include min-768 {
            font-size: 18px;
            font-family: "rubik-regular";
            color: #111;
          }
        }
  
        &:nth-last-child(-n + 1) {
          @include media-sm {
            margin-bottom: 0px;
          }
        }
  
        &:nth-last-child(-n + 2) {
          @include min-575 {
            margin-bottom: 0px;
          }
        }
      }
    }
    .why-choose-description {
      padding-right: 30px;
    }
  }
  
  .our-team {
    background: #f6f6f6;
    .top-head {
      margin: 0 auto;
      float: unset;
      margin-bottom: 40px;
  
      @include min-768 {
        margin-bottom: 80px;
      }
      h2 {
        color: #111;
        margin-bottom: 20px;
  
        @include min-768 {
          margin-bottom: 50px;
        }
      }
  
      p {
        // font-size: 16px;
        // line-height: 30px;
        color: #111;
        @include min-768 {
          font-size: 24px;
          line-height: 36px;
          color: #111;
        }
      }
    }
  
    .my-team {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      padding: 0 25px;
      img {
        // max-width: 345px;
        width: 218px;
        height: 218px;
        overflow: hidden;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 30px;
      }
  
      .team-detail {
        span {
          // font-size: 24px;
          color: #111;
          font-size: 18px;
          &:not(:last-child) {
            font-family: Rubik-Medium;
  
            @include min-768 {
              font-size: 26px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  
    .slick-dots {
      // width: 15px;
      // height: 15px;
      // background: #00976f;
      margin-top: 40px;
      position: unset;
  
      @include min-768 {
        margin-top: 60px;
      }
  
      @include min-992 {
        margin-top: 100px;
      }
      li {
        button {
          height: 15px;
          width: 15px;
          &:before {
            font-size: 15px;
            color: #d3d3d3;
            opacity: 1;
          }
        }
        &.slick-active {
          button {
            &:before {
              color: #00976f;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1600px) and (min-width: 1200px) {
    .about {
      .banner-text h1 {
        font-size: 65px;
        line-height: 80px;
      }
      .banner {
        background-position: 75%;
      }
      .why-choose .why-us-wrap .box-wrap img {
        width: 50px;
      }
      .banner-text {
        padding: 75px 0px;
      }
      .about-us p {
        font-size: 20px !important;
        line-height: 36px !important;
        text-align: justify;
      }
  
      section h2 {
        line-height: 55px;
        font-size: 38px;
      }
      section {
        padding: 100px 0;
      }
      .connect .content-box ul li:not(:last-child) {
        margin-bottom: 8px;
      }
      section .content p {
        font-size: 20px;
        line-height: 2;
      }
      section .content-wrap-bar p {
        font-size: 20px;
        line-height: 1.7;
      }
      .banner-text p {
        font-size: 24px;
        line-height: 36px;
      }
      .community .content p {
        font-size: 20px;
        line-height: 36px;
        text-align: justify;
      }
      section .content p:not(:last-child) {
        margin-bottom: 0;
      }
      .our-value .values-wrap .box .box-content h6 {
        font-size: 24px;
        margin-bottom: 15px;
      }
      .our-value .left-wrap {
        padding: 0px 20px;
      }
      .our-value .right-wrap {
        padding: 60px 0;
      }
      .why-choose .why-us-wrap .box-wrap h6 {
        font-size: 20px;
      }
      .our-team .top-head p {
        font-size: 20px;
      }
      .our-team .top-head h2 {
        margin-bottom: 40px;
      }
      .our-team .top-head {
        margin-bottom: 50px;
      }
      .our-team .slick-dots {
        margin-top: 60px;
      }
    }
  }

  @media (max-width:768px){
      .about{
        .banner-text {
            .main-title{
                font-size: 30px;
            }
        }

        .connect{
          .connect-right-box{
            padding-left: 0px !important;
          }
          .content-box {
            .box{
              padding: 12px !important;
            }
            ul li{
              display: flex;
            } 
            ul li:before{
              width:25px;
              margin-top: 3px;
            }
          }
        }
        .what-we-do-img{
          margin-top: 25px;
        }
        .our-dream{
          .our-drem-img{
            margin-top:25px; 
            margin-bottom:25px; 
          }
          .our-dream-right{
            padding-left: 10px !important;
          }
        }
        .community-img{
          margin-top: 25px;
        }
        .sustainable-section-right{
          padding-left: 15px !important;
        }
        .our-value{
          .ant-col.right-wrap{
            padding-right: 20px !important;
          }
           .content-wrap-bar {
            padding: 0px 10px 0px 10px !important;
          }
        }
        .why-choose{
          .why-us-wrap{
            .box-wrap h6{
              margin-top: 15px !important; 
            }
            .why-choose-description{
              padding-right: 0px;
            }
            .flex-x {
              display: block !important;
              flex-direction: row;
            }
          }
          .content-wrap-bar h2{
            font-size: 30px !important;
          }
        }
        .about-us{
          .content .main-text{
            text-align: left;
          }
        }

        section h2{
          line-height: 1.3;
        }
        .row-reverse{
          .main-text.mb45{
            text-align: left !important;
          }
        }

        p{
          font-size: 18px !important;
          line-height: 36px !important;
        }
        section .content p:nth-child(2):before{
          display: none;
        }
        .content .main-text{
          padding-left: 0px;
        }
        .content .sub-text{
          padding-left: 0px;
        }
        .community .content p{
          text-align: left;
        }
        .our-value{
          .left-wrap.flex-x{
            padding-top: 40px;
          }
          .content-wrap-bar p{
            font-size: 20px !important;
            text-align: left;
          }
          .values-wrap{
            .box{
              margin-bottom: 30px !important;
            }
          }
        }
        .change-direction{
          flex-direction: column-reverse !important;
        }

      }
  }
  