.adventure-page {
  padding-left: 5%;
  padding-right: 5%;
  .filter-section {
    overflow: hidden;
    background-color: #f2f4f6;
  }
  .filter-section-child {
    border: 1px solid #d4d4d4;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 6px;
    background-color: white;
    margin: 30px 30px 0px 30px;
    height: auto;
    .types {
      display: inline-flex;
      .filter-type-img {
        position: relative;
        width: 15%;
        overflow: hidden;
        padding-right: 0px;
        margin-left: 14px;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        img.type {
          width: 49px;
          height: 44px;
        }
        img.group {
          width: 39px;
          height: 47px;
        }
        img.pin {
          width: 19px;
          height: 24px;
        }
      }
      .filter-type-img.a_type {
        // margin-left: 15px;
      }
      .filter-type-right {
        width: 85%;
      }
      .filter-sub-heading {
        color: #989898;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 5px;
        padding-left: 12px;
        text-transform: uppercase;
      }
      .filter-heading {
        color: #000000;
        font-family: "Rubik";
        font-size: 20px;
        font-weight: 500;
      }
      .activity-filter-txt {
        margin-left: 10px;
        margin-top: 1px;
      }
      .ant-select-selection {
        border: none !important;
      }
      .ant-select-selection--single {
        height: 25px;
      }
      .ant-select {
        font-size: 20px;
        font-family: "Rubik";
        color: #000000 !important;
        font-weight: 500;
      }
      .ant-select-selection__placeholder,
      .ant-select-search__field__placeholder {
        font-family: "Rubik";
        color: #000000 !important;
        font-weight: 500;
      }
      .ant-select-open .ant-select-selection {
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
      .ant-select-selection--multiple .ant-select-selection__choice {
        font-size: 20px;
        font-family: "Rubik";
        color: #000000 !important;
        font-weight: 500;
      }
    }
    .ant-select-arrow {
      color: #000000 !important;
      // top: 3px !important;
      right: 15px;
      font-size: 13px;
    }
    .activity-drop-arrow {
      font-size: 17px;
      margin-top: 5px;
      text-align: right;
      color: #000000 !important;
      margin-right: 15px;
      svg {
        transition: transform 0.3s, -webkit-transform 0.3s;
      }
    }
    .rotate.activity-drop-arrow {
      svg {
        transition: transform 0.3s, -webkit-transform 0.3s;
        transform: rotate(180deg);
      }
    }
  }
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    box-shadow: none !important;
  }
  .extra-filters {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 30px 15px 30px;
    background-color: transparent;
    height: auto;
  }
  .total_records {
    font-size: 16px;
    font-family: "Rubik";
    color: #000000 !important;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .border-bottom-1 {
    border-bottom: 1px solid #dfdfdf !important;
  }
  .show-more {
    text-align: center;
    padding: 10px;
    border: 2px solid #e2e2e2;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 0.75px;
    color: white;
    background: #0a9670;
  }
  .show-more.no-more-result {
    cursor: not-allowed;
    background: #0a9670;
    opacity: 0.5;
  }
  .extra-filters {
    .extra-parent {
      padding-right: 6px;
      display: inline-block;
      margin-top: 5px;
    }
    .near_me_icon {
      width: 16px;
      margin-right: 10px;
    }
    .extra-child {
      padding: 3px 10px 3px 10px;
      color: #535454;
      border: 2px solid #525253;
      border-radius: 3px;
      cursor: pointer;
      font-family: "Rubik";
    }
    .extra-child.active {
      background: #0a9670;
      color: white;
      border: 2px solid #0a9670;
    }
    .extra-child.no-border {
      border: none !important;
      span {
        letter-spacing: 0.75 !important;
        letter-spacing: 0.7px;
        font-weight: 500;
        font-family: "Rubik";
      }
    }
    .local-adventure {
      padding: 3px 22px 3px 10px !important;
    }
  }
  .search-btn {
    height: 50px;
    margin-top: -1px;
    width: 100%;
    background: #0a9670;
    color: white;
    font-size: 20px;
    font-family: "Rubik";
    font-weight: 500;
  }
  .right-border {
    border-right: 1px solid #d4d4d4;
  }
  .ant-select-show-arrow.ant-select.ant-select-enabled {
    // width: 320px !important;
    display: inline-block;
    width: 100%;
  }
  .filter-view-section {
    display: inline-block;
    .filter-view-child {
      display: inline;
      padding: 6px;
      font-family: "Rubik";
      font-weight: 500;
      letter-spacing: 0.75px;
      color: #000000;
      font-size: 16px;
      img {
        padding-right: 2px;
        height: 17px;
        width: 17px;
        margin-right: 5px;
      }
    }
    .filter-view-child.grid {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #dfdfdf;
      border-radius: 3px 0px 0px 3px;
      opacity: 1;
      cursor: pointer;
      padding-top: 4px;
    }
    .filter-view-child.mapview {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #dfdfdf;
      border-radius: 0px 3px 3px 0px;
      opacity: 1;
      cursor: pointer;
      padding-top: 4px;
    }
    .filter-view-child.active {
      background: #f2f4f6;
    }
    .filter-view-child.sort-By {
      padding-left: 30px;
      .ant-select-selection {
        border: none !important;
      }
      .ant-select-focused .ant-select-selection,
      .ant-select-selection:focus,
      .ant-select-selection:active {
        box-shadow: none !important;
      }
      .ant-select-arrow {
        color: #000000 !important;
      }
    }
  }
  .map-block.height {
    height: 497px !important;
  }
  .map-view {
    height: 700px;
    .map-view-card {
      height: 700px;
      overflow: auto;
      padding: 0px !important;
      .ant-col.gutter-row {
        padding-right: 0px !important;
      }
    }
    .ptop0 {
      padding-top: 0px !important;
    }
    .padding-zero {
      padding: 0px !important;
    }
    .all-border {
      width: 98%;
      height: 700px;
      margin-left: 10px;
      border: 4px solid #dfdfdf;
    }
    .close-map {
      position: absolute;
      z-index: 100;
      font-size: 25px;
      color: black;
      padding: 10px 20px;
    }
    .google-map-height {
      height: 700px;
      width: 100%;
    }
  }
  .show-more-parent {
    position: absolute;
    margin-top: -51px;
    padding: 5px 13px 12px 25px !important;
  }
  .google-map-card {
    width: 250px;
    .ant-card.ant-card-bordered {
      z-index: 101;
    }
    .ant-card-cover {
      img {
        height: 150px !important;
      }
    }
    .card_close_tag {
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px;
      color: #000000;
      i {
        font-size: 16px;
      }
    }
    .card-main-title {
      font-size: 16px !important;
    }
    .price-tag {
      font-size: 14px !important;
      .price_txt {
        font-size: 16px !important;
      }
    }
    .card-1st-line {
      min-height: 16px;
      font-size: 11px !important;
    }
  }
}

// Filter popup
.filter {
  .ant-radio-wrapper {
    display: block !important;
    padding-bottom: 10px !important;
    color: #828282;
    font-family: "Rubik";
  }
}

.advance-filter-popup {
  left: 6% !important;
  .ant-popover-arrow {
    display: none;
  }
  .ant-radio-wrapper {
    display: block !important;
    padding-bottom: 10px !important;
    color: #828282;
    font-family: "Rubik";
  }
  .filter-by {
    text-align: left;
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 1px;
    color: #000000;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 18px;
  }
  .filter-by-subheading {
    text-align: left;
    font-family: "Rubik";
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000000;
    opacity: 1;
    padding-bottom: 20px;
    font-size: 14px;
  }
  .ant-checkbox-wrapper {
    padding-bottom: 10px;
    color: #828282;
    font-family: "Rubik";
  }
}
// Activity Dropdown list
.activity-dropdown {
  .search-dropdown {
    padding: 15px 10px 10px 15px;
  }
  .ant-popover-inner-content {
    height: 350px !important;
    overflow: auto;
    padding: 0px !important;
    .ant-menu-item {
      height: 30px !important;
      line-height: 30px !important;
      margin: 0px;
      padding: 0 0 0 16px;
    }
    .ant-menu.ant-menu-light {
      border-right: none;
    }
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
  }
}
//Date Filter
.date-filter-popup {
  width: 250px;
  .ant-radio-button-wrapper {
    margin: 5px;
    background: #eaedef;
    border-radius: 5px;
    padding: 0 18px;
    border: none;
    color: #000000;
    width: 60px;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    display: none;
  }
  span {
    font-weight: 400;
    font-family: "Rubik";
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    outline: none;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #0a9670;
    border-color: #0a9670;
  }
  .flexi-checkbox {
    padding-left: 7px;
    margin-top: 7px;
    .ant-checkbox-wrapper {
      span {
        font-size: 14px;
      }
      .flexi-checkbox-txt {
        width: 165px;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
.year-dropdwon {
  margin-top: 8px;
  width: 91.5%;
  left: 5px;
  background: #eaedef;
  margin-bottom: 10px;
}
.language-popup {
  .btn-apply {
    float: right;
    margin-left: 10px;
    margin-top: -15px;
  }
}

.filters-sec {
  display: inline-block;
  float: left;
  padding-right: 40px;
  .ant-checkbox-group {
    .ant-checkbox-wrapper {
      display: block;
      margin-left: 0px !important;
    }
  }
}
.btn-apply {
  text-align: center !important;
  button {
    background: #0a9670;
    color: white;
    margin-top: 15px;
    width: 95px;
  }
}

/*  Map View, Map Marker, Google Map css ---- Start*/
.marker-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  .marker {
    height: 35px;
    width: 35px;
  }
}
.map-icon {
  top: -25px;
  color: #000000;
  right: -40px;
  position: absolute;
  font-size: 13px;
  background: #ffffff;
  text-align: center;
  visibility: visible;
  font-weight: 500;
  border-radius: 2px;
  font-family: "Rubik";
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  transform: scale(0.9, 0.9);
  transition: all 0.08s ease-in-out;
}
span.map-icon:after {
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  border-top: 4px solid #ffffff;
  margin-left: -4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
span.map-icon.map-icon-animate:after {
  border-top: 4px solid #000000;
}

.map-icon-animate {
  // z-index: 100;
  // transform: scale(1, 1);
  // transition: all .1s ease-in-out;
  -webkit-animation: action 0.5s infinite alternate;
  animation: action 0.5s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*  Map View, Map Marker, Google Map css ---- End*/

@media (min-width: 320px) and (max-width: 767px) {
  .adventure-page {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .right-border {
      border: none !important;
    }
    .search-parent {
      text-align: center;
      .search-btn {
        height: 40px !important;
        margin-bottom: 5px;
        width: 95%;
      }
    }

    .types {
      margin-bottom: 15px;
      .filter-type-img img.type {
        width: 40px !important;
        height: 40px !important;
      }
      .filter-type-img img.group {
        width: 35px !important;
        height: 40px !important;
      }
      .activity-drop-arrow {
        width: 40px !important;
      }
    }
    .filter-section-child {
      padding-right: 0px;
      padding-bottom: 0px;
      margin: 15px 15px 0px 15px;
    }
    .extra-filters {
      .near_me_icon {
        width: 16px;
        margin-right: 10px;
      }
      .extra-parent {
        margin-top: 7px;
      }
      margin: 0px 30px 15px 20px;
    }
    .web_grid {
      .padding-zero {
        padding: 0px !important;
      }
    }
    .map-view {
      height: 0px;
      .map-view-card.hide {
        display: none !important;
      }
      .google-map-height {
        height: 550px !important;
        width: 100%;
      }
      .all-border {
        width: 95%;
      }
    }
    .show-more-parent {
      position: relative;
      margin-top: 0px;
      padding: 0px;
    }
    .filter-view-child.sort-By {
      .sort-by-txt {
        display: none;
      }
    }
    .filter-view-section {
      width: 100%;
      .filter-view-child.grid,
      .filter-view-child.mapview {
        float: left;
      }
      .ant-select-selection__rendered {
        margin-left: 6px;
      }
    }
    .filter-view-child .ant-select-arrow {
      margin-top: -8px;
    }
  }
  .advance-filter-popup {
    left: 25px !important;
    right: 25px !important;
  }
  .filter-view-child.sort-By {
    padding-left: 10px !important;
  }
  .ant-popover.activity-dropdown {
    left: 30px !important;
  }


}

//* New Card design*//
.new-card-design {
  .ant-card-cover img {
    height: 255px !important;
    object-fit: cover !important;
  }
  .ant-card-cover {
    border: none !important;
  }
  .ant-card.ant-card-bordered.ant-card-hoverable {
    border: none !important;
  }
  .ant-card-body {
    border: 1px solid #e2e2e2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px !important;
  }
  .image_text_set_on_card {
    background: #000000;
    padding: 5px 5px 5px 15px;
    text-align: left;
    text-transform: uppercase;
  }
  .card-1st-line {
    text-overflow: ellipsis;
    word-break: break-all;
    color: #ffffff;
    overflow: hidden;
    min-height: 20px;
    max-height: 20px;
    white-space: nowrap;
    span {
      color: #ffffff;
      letter-spacing: 0.75px;
      font-family: "Rubik";
      font-weight: 600;
    }
    // .duration-lowercase{
    //     text-transform: upe;
    // }
    .secondLine::before {
      display: inline-block;
      content: "·";
      color: #ffffff;
      position: relative;
      top: 0px;
      right: 1px;
      font-weight: bold;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  .card-main-title {
    font-size: 18px!important;
    font-family: "Rubik";
    color: #000000 !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    // text-overflow: ellipsis;
    // word-break: break-all;
    // margin-bottom: 5px !important;
    // overflow: hidden;
    // white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 55px;
  }
  .card-main-description {
    color: #000000;
    font-family: "Rubik";
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 45px;
  }
  .price_txt {
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: "Rubik";
  }
  .price_pp {
    font-size: 12px !important;
    font-family: "Rubik";
    font-weight: 500;
  }
  .heart_fill .text-right .share_icn {
    width: 16px !important;
    margin-right: 15px !important;
  }
  .card_rate {
    width: 50%;
    display: inline;
  }
  .card_like {
    width: 50%;
    float: right;
  }
  .heart_fill label svg {
    margin-top: 0px !important;
  }
  .ant-rate-star:not(:last-child) {
    margin-right: 3px;
  }
  .review_txt {
    margin-left: 10px;
    color: #000000;
    font-family: "Rubik";
  }
  .like-count-text-on-card {
    min-height: 21px;
    span {
      font-family: "Rubik";
      color: #000000;
      font-weight: 500;
    }
  }
  .skill-level-img {
    height: 55px;
    width: 40px;
    margin-top: 10px;
  }
  .review-text {
    margin-left: 7px;
    margin-top: 1px;
    position: absolute;
    color: #000000;
    font-weight: 500;
    font-family: "Rubik";
  }
  .like-share-save {
    display: inline-flex;
    width: 100%;
    div {
      width: 20px !important;
    }
    margin-bottom: 5px;
  }
  .like-heart-new-icon {
    div {
      width: 20px !important;
    }
  }
  .share_new_icon {
    div {
      width: 20px !important;
      margin-left: 20px !important;
    }
    // position: relative;
  }
  .save-new-icon {
    float: right;
    margin-left: auto;
    div {
      width: 16px !important;
    }
    // float: right;
  }
  .card_tag {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    color: #099670;
    padding: 8px;
    text-transform: uppercase;
    background: #ffbc00;
    color: #000000;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    letter-spacing: 0.75px;
    font-family: "Rubik";
    font-weight: 500;
  }
  .edit_card_tag {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0px;
    color: #099670;
    text-transform: uppercase;
    background: black;
    color: #000000;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    letter-spacing: 0.75px;
    font-family: "Rubik";
    font-weight: 500;
  }
  .inactive_online_button {
    position: absolute;
    top: 2px;
    right: 30px;
    color: #099670;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-family: "Rubik";
    font-weight: 500;
    span.edit_btn {
      padding: 2px 16px;
    }
  }
  .discount_tag {
    // padding: 5px 10px;
    // position: absolute;
    // color: #000000;
    // top: 0;
    // text-align: center;
    // right: 30px;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    // background:#ffbc00;
    // text-transform: uppercase;
    // height: 30px;
    padding: 5px 10px;
    position: absolute;
    color: #000000;
    top: 0;
    text-align: center;
    right: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #ffbc00;
    text-transform: uppercase;
    height: 30px;
    width: 55px;
    span {
      font-family: "Rubik";
      font-weight: 500;
      font-size: 14px;
    }
  }
  .more_icon_upcoming_tips {
    height: 30px !important;
    width: 24px !important;
  }
  .owl-item .ant-card-body img {
    display: inline !important;
    object-fit: unset !important;
  }
}
.slick-dots-bottom {
  li button:before {
    display: none;
  }
}

.special-offer-page {
  .expert_head_bg.expert_head_bg_color {
    background-image: url("./../public/images/banner/expedition.png");
  }
  .expert_head_bg {
    background-color: black;
    background-size: cover;
    height: 30vh;
    background-position: center;
    position: relative;
    text-align: center;
  }
  .expert_head_bg .expert_header_info {
    text-align: left;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    .bg-title {
      font-weight: 600;
      font-size: 40px;
      font-family: "Rubik";
      .first-txt {
        color: #ffffff;
      }
      .second-txt {
        color: #ffbc00;
        margin-left: 10px;
      }
    }
    .bg-sub-title {
      font-size: 24px;
      font-weight: 400;
      font-family: "Rubik";
      color: #ffffff;
      margin-top: 5px;
    }
  }

  .container-fluid {
    padding-left: 5%;
    padding-right: 5%;
  }
  .no-offer-found {
    text-align: center;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 500;
  }
}

.covid-page {
  font-family: "Rubik";
  .expert_head_bg.expert_head_bg_color {
    background-image: url("./../public/images/covid/covid_banner.jpg");
  }
  .expert_head_bg {
    background-color: black;
    background-size: cover;
    height: 52vh;
    background-position: center;
    position: relative;
    text-align: center;
  }
  .bg-image-layer {
    background-color: black;
    background-size: cover;
    height: 52vh;
    background-position: center;
    position: relative;
    text-align: center;
    opacity: 0.4;
  }
  .expert_head_bg .expert_header_info {
    text-align: left;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    .bg-title {
      font-weight: 600;
      font-size: 40px;
      font-family: "Rubik";
      .first-txt {
        color: #ffffff;
      }
      .second-txt {
        color: #ffbc00;
        margin-left: 10px;
      }
    }
    .bg-sub-title {
      font-size: 24px;
      font-weight: 400;
      font-family: "Rubik";
      color: #ffffff;
      margin-top: 5px;
    }
  }
  .covid-title-parent {
    margin-top: 40px;
    font-family: "Rubik";
    .border-bottom-green {
      border-bottom: 2px solid #099670;
    }
    .covid-title {
      font-weight: 600;
      font-style: normal;
      font-size: 35px;
      color: #099670;
      line-height: 1.5;
    }
    .covid-subtitle {
      padding-top: 40px;
      padding-bottom: 60px;
      color: #0f0f0f;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
  .covid-sections {
    .content-main-title {
      font-size: 35px;
      color: #0f0f0f;
      font-weight: bold;
      margin-bottom: 35px;
    }
    .content-yellow {
      color: #ffbc00;
      font-size: 35px;
      font-weight: bold;
    }
    .covid-images {
      width: 400px;
    }
    .travel-image,
    .customer-image {
      width: 450px !important;
    }
    .content {
      .main-text {
        color: #0F0F0F;
        line-height: 1.5;
        font-size: 18px;
        text-align: justify;
      }
    }

    .safty-section {
      .text-section {
        padding-right: 70px;
      }
      .image-section {
        text-align: center;
        padding-left: 100px !important;
        padding-right: 30px !important;
      }
      .image-title {
        margin-bottom: 50px;
      }
      .safty-img {
        width: 100px;
      }
      .img-title {
        color: #0f0f0f;
        font-weight: bold;
        font-size: 16px;
      }
    }

    .align-images {
      padding-left: 50px !important;
    }
    .align-text, .text-section {
      padding-right: 50px !important;
    }
    .additional-info {
      text-align: center;
      .ai-title {
        color: #0f0f0f;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 3px !important;
      }
      .ai-subtitle {
        margin-top: 10px;
        a{
          text-decoration: underline;
          color: #099670;
          font-size: 22px;
          font-family: 'Rubik';
        }
      }
    }
    .covid-subtitle-additional{
      font-size: 18px;
      font-family: 'Rubik';
      color:#0f0f0f;
      line-height: 1.5;
    }
    .note-text {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      font-style: italic;
      border-left: 2px solid #099670;
      text-align: justify;
    }
  }


}

@media (min-width: 320px) and (max-width: 767px) {
  .covid-page{
    .expert_head_bg .expert_header_info .bg-title{
      font-size: 30px;
    }
    .covid-subtitle{
      text-align: justify;
    }
    .covid-sections .safty-section .image-section{
      padding-right: 5px !important;
      padding-left: 5px !important;
      margin-top: 20px;
    }
    .covid-sections .covid-images{
      width: 300px;
      margin-top: 50px;
    }
    .flexi-section .content{
      margin-top: 50px;
    }
    .covid-sections .travel-image, .covid-sections .customer-image{
      width: 300px !important;
      margin-top: 50px;
    }
    .covid-images.customer-image{
      width: 300px !important;
      margin-top: 10px;
    }
    .covid-sections .align-text{
      padding-right: 15px !important;
    }
    .covid-sections .align-images{
       padding-left: 15px !important;
     }
     .change-direction{
      flex-direction: column-reverse !important;
    }
    .community-section.community-image{
      height: 52vh;
    }
    .covid-title{
      font-size: 30px;
    }
    .content-main-title{
      text-align: center !important;
      font-size: 28px !important;
      .content-yellow{
        font-size: 28px !important;
      }
    }
    .covid-sections .align-text, .covid-sections .text-section{
      padding-right: 15px !important;
    }
    .safty-section{
      margin-bottom: 0px !important;
    }
    .flexi-section{
      flex-direction: column-reverse !important;
      margin-bottom: 80px !important;
    }
  }
}
