.expidition_bg.Album_blog {
    .ant-card-body {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
        .price_sec {
            width: 100%;
        }
        .price_sec h5.mb10.an-14.medium-text {
            min-height: inherit;
            font-size: 20px !important;
        }
        .Album_sub_title{
            font-size: 16px;
        }
        .heart_fill.album-share.Icon_line{
            .text-right{
                display: flex;
                align-items: center;
                label{
                    margin-left: 12px;
                    
                }
            }
        }
        .album-share {
            .share_icn {
                width: 50%;
            }
            label {
                svg {
                    width: 25px;
                }
            }
        }
    }
    .image_text_set{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        bottom: 2px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;                                                                                                                                                                                                                                 
        padding: 6px 10px 10px 10px;
        background: rgba(0,0,0,0.8);                                                                                                                                    
        .price_sec{
            h5{
                height: auto;
                min-height: initial;
                margin-bottom: 0 !important;
                padding-right: 10px;
                color: #fff;
            }
        }
        .album-share {
            .share_icn {
                width:23px;
            }
            label {
                svg {
                    width: 25px;
                }
            }
        }
        .heart_fill.album-share.Icon_line{
            .text-right{
                display: flex;
                align-items: center;
                label{
                    margin-left: 12px;
                    
                }
            }
        }
    }
    .ant-card.ant-card-bordered.ant-card-hoverable{
        box-shadow: none;
    }
    .ant-card-cover img {
        border-radius: 5px !important;
    }
    
}
.ant-modal.header_text span.ant-modal-close-x i.anticon.anticon-close.ant-modal-close-icon {
    color: #FD3C3C;
}
.album_header{
    button.ant-btn.view-more-trips.an-20.mt10.album_button {
        background: #099670;
        color: #fff;
        font-size: 20px !important;
        text-transform: capitalize;
        border-color: #099670;
        padding: 0px;
        height: 52px;
        width: 260px;
        margin-top: 0;
        margin-right: 15px;
    }
    .album_button_set{
        font-size: 20px !important;
        text-transform: capitalize;
        border-color: #ffba00;
        padding: 0px;
        height: 52px;
        width: 281px;
        margin-top: 0;
    }
    .album_button_set:hover{
        background: #ffba00;
        color: #000;
    }
    .ant-row.new_row {
        margin-bottom: 42px;
    }
    .expidition_bg{
        h4.sub_title {
            padding: 0;
            padding-top: 17px;
            
        }
    } 
}
.album-uploader-main {
    .ant-upload {
        width: 100% !important;
        display: block !important;
      &.ant-upload-select {
          display: block;
          width: 100%;
          height: auto;
          text-align: center;  
          padding: 33px;
          border: 1px dashed #D3D3D3;
          background: #fff;
          margin-bottom: 15px; 
        .flex-y.center{
            width: 100%;
            display: block;
            text-align: center;
            span.an-14.regular-text.mt20{
                display: block;
                width: 100%;
            }
            img{
                width:100px;
            }
        }
      }
    }
}
.step-1-expert-form.height_sec_enthu.learn_sec{
    .form-profile-container.pt20{
        .ant-row.ant-form-item.uplord_button{
            margin-bottom: 0;
        }
    }
}
.step-1-expert-form.height_sec_enthu.learn_sec{
    span.ant-upload-picture-card-wrapper{
        .ant-upload.ant-upload-select.ant-upload-select-picture-card{
            border: 1px dashed #D3D3D3;
        }
        .ant-row.album_date {
            span.ant-form-item-children{
                span#album_date {
                    width: 100%;
                }
            }
        }
    }
}
.ant-modal.header_text{
    .ant-modal-header{
        div#rcDialogTitle0 {
            color: #099670;
            font-size: 25px;
        }
    }
}
.step-1-expert-form.height_sec_enthu.learn_sec{
    span.uplord_img.ant-upload-picture-card-wrapper{
        .ant-upload.ant-upload-select.ant-upload-select-picture-card{
            span.ant-upload{
                img{
                    width: 48px !important;
                }
            }
        }
    }
}

.flex-y.center.zero-img span.an-14.regular-text.mt20 {
    display: block;
}
.step-1-expert-form.height_sec_enthu.learn_sec span.uplord_img.ant-upload-picture-card-wrapper {
    padding-top: 15px;
}
.step-1-expert-form.height_sec_enthu.learn_sec.img-set-icon .ant-upload.ant-upload-select.ant-upload-select-picture-card {
    width: 100%;
    
    .flex-y.center.zero-img{
        padding: 60px 0px 60px 0px;
        background-color: #fff;
    }
}
span.ant-input-prefix img {
    width: 15px;
}
.ant-modal.header_text.section-set {
    width: 600px !important;
}
.learn_sec span.ant-form-item-children button.ant-btn.ant-dropdown-trigger {
    margin-right: 10px;
}
ul.ant-dropdown-menu.Dropdown_set {
    height: 150px;
    overflow: scroll;
    background-color: #fff !important;
}


span.uplord_img.ant-upload-picture-card-wrapper {
    .ant-upload-list-picture-card .ant-upload-list-item:hover .ant-upload-list-item-info::before{
        opacity: 0;
        visibility: hidden;
    }
    .ant-upload-list-picture-card .ant-upload-list-item-actions{
        i.anticon.anticon-delete{
            svg{
                opacity: 0;
            }
        }
        opacity: 1;
        content: "";
        height: 18px;
        width: 18px;
        display: block;
        top: 19px;
        right: 3px ;
        left: auto;
        background:url('./../public/images/cancel-24px.svg');
        cursor: pointer;
    }
}
.album-icon.public-album-icon {
    position: absolute;
    top: 0;
    left: -474px;
}
.album-icon {
    position: absolute;
    top: 0;
    left: -454px;
}
.album-icon img {
    width: 25px;
    border-radius: 5px;
}
.mobile_icon_fix{
    display: none;
}
.video_album>div>div {
    width: 100% !important;
    height: auto !important;
    video{
        border-radius: 6px;
    }
}
.video_album{
    .image_text_set{
        .heart_fill.album-share.Icon_line{
            width: auto !important;
        }
    }
}
.album_carousel {
    width: 100% !important;
    height: 100% !important;
}
// .icon_background.ant-dropdown-trigger {
//     height: 30px;
//     width: 30px;
//     background: #fff;
//     text-align: center;
//     line-height: 30px;
//     border-radius: 50px;
// }
.ant-col.ant-col-8.video_fix{
    height: 345px;
    overflow: hidden;
    .ant-card.ant-card-bordered.ant-card-hoverable{
        height: 303px;
        .video_album{
            overflow: hidden;
            border-radius: 6px;
            border-bottom-right-radius: 9px;
            height: 303px;
            .thumnail-style{
                width: 537px !important;
            }
        }
    }
}
.ant-modal.header_text.section-set .ant-modal-title {
    font-weight: bolder;
}
.ant-modal.header_text.section-set .topic_select .ant-col.ant-form-item-label label {
    font-weight: bolder;
}
.ant-modal.header_text.section-set .ant-row.ant-form-item.topic_select button.ant-btn.ant-dropdown-trigger {
    width: 40%;
    text-align: left;
}
.ant-modal.header_text.section-set .ant-row.ant-form-item.topic_select button.ant-btn.ant-dropdown-trigger span:nth-child(1) {
    width: 93%;
}
.ant-modal.header_text.section-set .flex-y.center.fix-imgs {
    height: 370px;
}
.expidition_bg.Album_blog .image_text_set .album-share label svg path{
    fill:#a7a7a7;
}


@media(min-width:992px) and (max-width:1199px){
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button_set {
        width: auto;
        padding: 25px 20px;
    }
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button {
        width: auto;
        padding: 25px 25px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button_set {
        width: auto;
        padding: 25px 20px;
    }
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button {
        width: auto;
        padding: 25px 44px;
        margin-right: 0;
        margin-bottom: 6px;
    }
}
@media(min-width:1024px) and (max-width:1199px){
    .album-icon {
        left: -349px;
    }
    .album-icon.public-album-icon {
        left: -374px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .album-icon {
        left: -244px;
    }
    .album-icon.public-album-icon {
        left: -266px;
    }
}
@media(min-width:320px) and (max-width:767px){
    .ant-tabs-nav .ant-tabs-tab{
        margin: 0px 0px 0 0;
    }
    .button_fix_in_mobile {
        text-align: left !important;
        margin-top: 15px;
    }
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button_set {
        width: auto;
        padding: 25px 20px;
    }
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button {
        width: auto;
        padding: 25px 44px;
        margin-right: 0;
        margin-bottom: 6px;
        margin-right: 15px;
    }
    .album-icon {
        display: none;
    }
    .album-icon.public-album-icon{
        display: none;
    }
    .mobile_icon_fix {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        .m_set_icon img{
            width: 25px;
            height: 25px;
            border-radius: 6px !important;
        }
    }
}
@media(min-width:320px) and (max-width:507px){
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button{
        width: 100%;
    }
    .button_fix_in_mobile button.ant-btn.view-more-trips.an-20.mt10.album_button_set{
        width: 100%;
    }
}