.album_select_detail{
    .ant-row{
        display: flex;
    }
}
.ant-modal.header_text.album_select_detail_main{
    .album_select_detail{
        .ant-row{
            display: flex;
        }
    }
    width: 1364px !important;
    border-radius: 5px;
    .ant-carousel,
    .slick-slider.album_carousel.slick-initialized,
    .slick-list,
    .slick-slide.slick-active.slick-current>div>div{
        .div_image_fix {
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        height: 100%;
    }
    .album_carousel{
        
        img.album_image {
            width: 20px !important;
            height: 20px !important;
            position: absolute;
            left: 15px;
            top: 15px;
        }
        .slick-slide img{
            height:100%;
        }
        .slick-list .slick-slide.slick-active>div {
            display: block;
            height:100%;
            
        }
        .slick-track{
            height:100%;
        }
        .slick-list .slick-slide{
            position: relative;
            height:100%;
        }
        ul.slick-dots.slick-dots-bottom{
            li{
                button{
                    width: 5px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: #fff !important;
                    opacity: 1;
                    margin: 0px 3px;
                }
            }
        }
        .costome_btton{
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            position: absolute;
            width: 100%;
            .left_arrow{
                padding-left: 15px;
                img{
                    width: 30px;
                    height: 30px;
                    transform: rotate(180deg);
                    
                }
            }
            .right_arrow{
                padding-right: 15px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    button.ant-modal-close {
        top: 9px;
        right: 20px;
    }
    .ant-modal-body{
        padding: 0;
    }
    .album_select__text_detail{
        hr{
            border: 1px solid #D3D3D3;
            margin: 0;
        }
        .album_comment_text{
            padding: 6px 32px 0px 32px;
            .trip_comment_profile_text {
                overflow: scroll;
                height: 300px;
            }
            .comment_text{
                color: #0F0F0F;
                font-size: 16px;
                padding: 10px 0px 20px 0px;
                margin-bottom: 0;
            }
            .input_type_text{
                display: flex;
                margin-top: 21px;
                margin-bottom: 20px;
                .send_image{
                    margin-left: 3px;
                    background: #099670 0% 0% no-repeat padding-box;
                    padding: 8px;
                    border-radius: 5px;
                }
                input{
                    outline: none;
                    background-color: #F8F8F8;
                    box-shadow: none;
                    border: none;
                    width: 100%;
                    padding: 20px 15px;
                    border-radius: 5px;
                }
            }
            .comment_profile{
                display: flex;
                img{
                    width: 30px;
                    display: block;
                    height: 30px;
                }
                    .media_detail{
                        padding-left: 15px;
                        p.media_title{
                            color: #0F0F0F;
                            font-size: 16px;
                            margin-bottom: 5px;
                            font-weight: 900;
                        }
                        p.media_body_text{
                            color: #0F0F0F;
                            font-size: 14px;
                        }
                    }
            }
        }
        .album_top_text{
            padding: 8px 32px 15px 32px;
            .div_location{
                display: inline-block;
                background: #F8F8F8;
                border-radius: 50px;
                padding:15px;
                padding: 6px 17px;
                margin-top: 10px;
                width: 86%;
            }
        }
        .location_div{
            display: flex;
            align-items: center;
            p{
                color: #099670;
                letter-spacing: 1px;
                margin-bottom: 0;
                padding-left: 15px;
                font-size: 16px;
            }
        }
        .album_title_text_select{
            h2{
                color: #0F0F0F;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 0;
                padding: 20px 0px 15px 0px;
            }
            p{
                color: #939393;
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
        .social_icon_album{
            .heart_fill{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .like_icon{
                    display: flex;
                    align-items: center;
                    p{
                        margin-bottom: 0;
                        color: #0F0F0F;
                        font-size: 16px;
                        font-weight: 800;
                        padding-left: 15px;
                    }
                    label svg{
                        width: 35px;
                        fill: #FD3C3C;
                    }
                }
                .shere_Icon{
                    display: flex;
                    align-items: center;
                    p{
                        margin-bottom: 0;
                        color: #0F0F0F;
                        font-size: 16px;
                        font-weight: 800;
                        padding-left: 15px;
                    }
                    img.share_icn.ant-dropdown-trigger {
                        width: 30px;
                    }
                    
                }
            }
        }
    }
}


@media (min-width:992px) and (max-width:1199px){
    .ant-modal.header_text.album_select_detail_main{
        width: 944px !important;
        .ant-carousel{
            
            .slick-slide img{
                height:670px;
            }
            .slick-list .slick-slide.slick-active>div {
                display: block;
                height: 670px;
                
            }
            .slick-track{
                height:670px;
            }
        }
        .album_select__text_detail{
            .album_comment_text{
                .input_type_text{
                    margin-top: 6px;
                    margin-bottom: 8px;
                }
            }
        }

    }
}


@media (min-width:1200px) and (max-width:1299px){
    .ant-modal.header_text.album_select_detail_main{
        width: 1150px !important;
    }
}
@media (min-width:1300px) and (max-width:1380px){
    .ant-modal.header_text.album_select_detail_main{
        width: 1250px !important;
    }
}


@media (min-width:768px) and (max-width:991px){
    .ant-modal.header_text.album_select_detail_main{
        width: 599px !important;
        margin: auto;
        .album_select_detail{
            .ant-row{
                display: block;
            }
        }
        button.ant-modal-close{
            top:0;
        }
        .ant-carousel{
            .slick-slide img{
                height:500px;
            }
            .slick-list .slick-slide.slick-active>div {
                display: block;
                height: 500px;
                
            }
            .slick-track{
                height:500px;
            }
        }
        .album_select__text_detail{
            .album_top_text{
                width: 60%;
                .div_location{
                    width: 100%;
                }
            }
            .album_comment_text{
                .input_type_text{
                    margin-top: 6px;
                    margin-bottom: 20px;
                }
            }
        }

    }
}

@media (min-width:320px) and (max-width:767px){
    .ant-modal.header_text.album_select_detail_main{
        width: 90% !important;
        margin: auto;
        .album_select_detail{
            .ant-row{
                display: block;
            }
        }
        button.ant-modal-close{
            top:0;
            right: 0;
        }
        .ant-carousel{
            img.album_image {
                width: 20px !important;
                height: 20px !important;
            }
            .slick-slide img{
                height:320px;
                width: 100%;
            }
            .slick-list .slick-slide.slick-active>div {
                display: block;
                height: 320px;
                
            }
            .slick-track{
                height:320px;
            }
            img.home_banner {
                display: block !important;
            }
            .home_banner_for_mobile {
                display: none !important;
            }
        }
        .album_select__text_detail{
            .album_top_text{
                width: 100%;
            }
            .album_comment_text{
                .input_type_text{
                    margin-top: 6px;
                    margin-bottom: 20px;
                }
            }
        }

    }
}

@media (min-width:1200px) and (max-width:1299px){
    .accommodation_popup.ant-modal.header_text.album_select_detail_main{
        width: 1150px !important;
        .slick-slide img{
            height:670px;
        }
        .slick-list .slick-slide.slick-active>div {
            display: block;
            height: 670px;
            
        }
        .slick-track{
            height:670px;
        }
    }
}

@media (min-width:1300px) and (max-width:1380px){
    .accommodation_popup.ant-modal.header_text.album_select_detail_main{
        width: 1250 !important;
        .ant-carousel{
            
            .slick-list .slick-slide.slick-active>div {
                display: block;
                height: 670px;
                
            }
            .slick-track{
                height:670px;
            }
        }
        .album_select__text_detail{
            .album_comment_text{
                .input_type_text{
                    margin-top: 6px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@media (min-width:1400px) and (max-width:1800px){
    .accommodation_popup.ant-modal.header_text.album_select_detail_main{
        width: 1250 !important;
        .ant-carousel{
            
            .slick-track{
                height:670px;
            }
        }
        .album_select__text_detail{
            .album_comment_text{
                .input_type_text{
                    margin-top: 6px;
                    margin-bottom: 8px;
                }
            }
        }
        .accomo_thumb{
            .owl-item{
                width: 250px !important;
            }
        }
    }
}