@import "./_variable.scss";
@import "mixins";
@import "./_helper.scss";
@import "fonts";
@import "chooseprofile";
@import "auth";
@import "layout";
@import "button";
@import "createprofile";
@import "createtrip";
@import "tripsdetail";
@import "expertlist";
@import "footer";
@import "reservation";
@import "tripslist";
@import "enthusist";
@import "home";
@import "mainhome";
@import "expertprofile";
@import "learning";
@import "learninglist";
@import "workshopdetails";
@import "~antd/dist/antd.css";
@import "responsive";
@import "header";
@import "trips";
@import "MessageBooking";
@import "albumtab";
@import "albumcomment";
@import "message";
@import "experthome";
@import "adventure";
@import "getinspired";
@import "image-upload";
@import "aboutus";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

body {
  margin: 0;
  padding: 0 !important;
  line-height: 1.3 !important;
  font-family: "rubik-regular" !important;
}

.loader {
  position: absolute;
  top: 10%;
  right: 50%;
}
