// Modal Config
.auth-modal {
  .ant-modal-footer {
    display: none;
  }
}
.ant-modal {
  @include media-small-tablet {
    width: auto !important;
    margin: 0 20px;
  }
}
.signin-modal {
  padding: 20px 0;
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-content,
  .login-container {
    min-height: 616px;
    background-color: #fff;
  }
  .ant-modal-close-x{
    font-size: 15px;
    width: 40px;
    line-height: 40px;
    svg{
      color:#FD3C3C;
    }
  }
  .ant-checkbox-inner{
    border-radius: 5px;
  }
  .ant-divider-horizontal.ant-divider-with-text-left::before {
    top: 50%;
    width: 0%;
  }
  .ant-divider-horizontal.ant-divider-with-text-left .ant-divider-inner-text, .ant-divider-horizontal.ant-divider-with-text-right .ant-divider-inner-text{
    padding: 0px 15px 0px 0px;
  }
  .custom-login-txt{
    display: none;
  }
}

.login_banner {
  background-image: url("./../public/images/login-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.login_overlay {
  position: absolute;
  top: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  img{
    width: 55px;
  }
}

.fullfill-text {
  position: absolute;
  bottom: 64px;
}

.auth_form {
  padding: 30px;
  .auth_app_logo {
    padding-bottom: 10px;
  }
}

// Auth Tabs reset
.auth_form_tabs {
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: map-get($colors, "success");
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: map-get($colors, "success");
  }
  .ant-tabs-ink-bar {
    background-color: map-get($colors, "success");
  }
}

// Auth form fields reset
.ex__form {
  label {
    font-size: 15px;
    color: #939393;
    font-family: "rubik-medium";
  }
  .ant-form-item {
    input {
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-color: map-get($colors, "success");
      font-size: 16px;
      color: map-get($colors, "dark");
    }
    .ant-input:focus {
      box-shadow: none;
    }
    .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      box-shadow: none;
    }
    .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
      border-color: map-get($colors, "success");
    }
    .has-error
      .ant-input-affix-wrapper:hover
      .ant-input:not(.ant-input-disabled) {
      border-color: map-get($colors, "warning");
    }
    .has-error .ant-input:not([disabled]) {
      border-color: map-get($colors, "warning");
    }
    .has-error .ant-form-explain,
    .has-error .ant-form-split {
      border-color: map-get($colors, "warning");
      background-color: #fff2f2;
      text-align: right;
      position: absolute;
      right: 0;
      border-radius: 30px;
      padding: 6px 20px;
      font-size: 12px;
    }
    .has-error .ant-input-password {
      margin-bottom: 15px;
    }
  }
  .has-error {
    .email-input {
      margin-bottom: 15px;
    }
  }
  .ant-form-item-with-help {
    margin-bottom: 20px !important;
  }
  .ex__primary_btn.login-btn{
    width: 100% !important;
  }
  .ex__primary_btn.signup-btn{
    width: 100% !important;
  }
  
}

.google-button-login {
  background-color: map-get($colors, "light");
  border-color: map-get($colors, "warning");
  color: map-get($colors, "warning");
  padding: 0 15px;
  height: 35px;
  font-size: 13px;
  &:hover,
  &:focus {
    background-color: map-get($colors, "light");
    border-color: map-get($colors, "warning");
    color: map-get($colors, "warning");
  }
}

.facebook-button-login {
  background-color: map-get($colors, "light");
  border-color: map-get($colors, "primary");
  color: map-get($colors, "primary");
  padding: 0 15px;
  height: 35px;
  font-size: 13px;
  &:hover,
  &:focus {
    background-color: map-get($colors, "light");
    border-color: map-get($colors, "primary");
    color: map-get($colors, "primary");
  }
}

@media (min-width:320px) and (max-width:767px){
  .login_banner.flex-1{
    display: none;
  }
  .custom-login-txt{
    padding: 15px 0px;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 5px;
    
    display: block !important;
    p{
      padding: 0px 15px;
      margin-bottom: 0px;
      color: #0F0F0F;
      font-family: "Rubik";
      font-weight:500;
      font-size: 15px;
    }
  }
  .auth_form{
    padding: 30px 10px;
  }
}

@media(min-width:768px) and (max-width:991px){
  .login_banner.flex-1{
    display: none;
  }
  .custom-login-txt{
    padding: 15px 0px;
    margin-bottom: 25px;
    background: #F0F0F0;
    border-radius: 5px;
    
    display: block !important;
    p{
      padding: 0px 15px;
      margin-bottom: 0px;
      color: #0F0F0F;
      font-family: "Rubik";
      font-weight:500;
      font-size: 15px;
    }
  }
}
.login-main-title{
  width: 85%;
  color: #FFBC00;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}
.login-sub-title{
  width: 85%;
  color: #FFFFFF;
  font-family: "Rubik";
  font-size: 16px;
  opacity: 0.8;
}
.fw-500{
  font-weight: 500;
  font-family: "Rubik" !important;
}
.mobile-login-btn{
  padding: 0 15px !important;
  height: 30px !important;
  font-weight: 500 !important;
  color: #0F0F0F !important;
  border-radius: 20px !important;
  font-family: "Rubik" !important;
  font-size: 15px !important;
}


  // .ant-popover-inner-content {
  //   background-color: #fff;
  //   border-radius: 4px;
  //   padding: 6px 8px;
  //   text-decoration: none;
  //   p{
  //     margin-bottom: 2px;
  //     font-weight: 600;
  //   }
  //   .red{
  //     color: red;
  //   }
  //   .green{
  //     color: green;
  //   }
  // }
  // .ant-popover-arrow{
  //   border-right-color:  #fff !important;
  //   border-bottom-color: #fff !important;
  //   border-top-color: transparent;
  // }
  // .password-popup-title{
  //   padding-top: 5px !important;
  //   padding-bottom: 5px !important;
  //   font-weight: 600 !important;
  //   color: black !important;
  //   font-size: 15px;
  // }

  .password-popup-main{
    padding-top: 10px;
    padding-bottom: 5px;
    p{
      margin-bottom:0px !important; 
    }
    .red{
      color: red;
    }
    .green{
      color: green;
    }
    .gray{
      color: rgba(0, 0, 0, 0.75);
    }    
  }

.registration-password{
  .ant-form-explain{
    margin-top: -5px !important;
    left:0 !important;
    text-align: left !important;
    width: 275px !important;
  }
}
.registration-email{
  .ant-form-explain{
    left:0 !important;
    text-align: left !important;
    width: 170px !important;
    margin-top: -5px !important;
  }
}

.expert-enthu-logos-parent{
  .ant-radio-inner{
    border-color: #099670;
  }
  .ant-radio-inner::after{
    border-color: #FFBC00;
  }
  .ant-radio-checked {
    .ant-radio-inner{
      border-color: #099670 !important;
    }
    .ant-radio-inner::after{
      border-color: #ffba00 !important;
    }
  }
  .ant-radio-inner::after{
    background-color:  #ffba00;
  }
  .ant-radio-checked::after{
    border: 1px solid #099670;
  } 
}