.create-expert-container {
  .create-profile-tab {
    .tab-grid {
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 20px;
      margin: 10px 0;
      min-width: 300px;
      cursor: pointer;
      &.active {
        border: 1px solid #ffba00;
        color: #ffba00;
        background-color: #fff;
      }
    }
  }
}

.create-profile-routes {
  padding-left: 100px;
}

.step-1-expert-form {
  textarea {
    border: 1px solid #d3d3d3;
    min-height: 100px !important;
    padding: 15px;
    color: #000;
    font-size: 14px;
  }
  .step-title {
    letter-spacing: 2px;

    span {
      color: #0F0F0F;
      font-family: "rubik";
      margin-left: 8px;
    }
  }
  .ant-upload-select-picture-card {
    margin: 0;
    border: 0;
    .ant-upload {
      padding: 0;
      background-color: #fff;
    }
  }
  .ant-form-item-label {
    label {
      color: #0f0f0f;
      font-size: 15px;
      font-family: "Rubik-medium";
    }
  }
  input {
    border: 1px solid #d3d3d3;
    height: 55px;
    color: #000;
    font-size: 14px;
    // border-radius: 10px;
    background-color: #f8f8f8;
  }
  .ant-select-selection {
    border: 1px solid #d3d3d3;
    min-height: 55px;
    color: #000;
    font-size: 14px;
    // border-radius: 10px;
    background-color: #f8f8f8;
    .ant-select-arrow-icon {
      color: black;
    }
  }
  .ant-select-selection__rendered {
    min-height: 55px;
  }
  .ant-form-explain {
    padding-top: 5px;
  }
  .ant-form-item-with-help {
    min-height: 116px;
  }
  .ant-select-selection-selected-value {
    width: 100%;
    height: 55px;
    display: flex !important;
    align-items: center;
  }
  &.step-2 {
    width: 650px;

    @include media-sm{
      width:unset;
    }
  }

  .autocomplete-dropdown-container {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 4px 10px #00000012;
    padding: 0;
  }
  
  .book-cover-uploader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .books-and-publication {
    align-items: center;
    .upload-books {
      height: auto !important;
    }
  }

  .border_sec {
    border: 1px solid #d3d3d3;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px 10px;
    position: relative;
  }

  .delete-icon {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px !important;
    outline: none;
    right: -30px !important;
    position: absolute !important;
    color: red;
    bottom: 10rem;
  }
  .delete-icon-center {
    bottom: 4rem !important;
  }
  .has-error .ant-input, .has-error .ant-input:hover {
    background-color: #f8f8f8;
  }

  .ant-select-selection--multiple .ant-select-selection__clear, .ant-select-selection--multiple .ant-select-arrow {
    top: 28px;
  }
}


.name-uploader {
  border: 1px solid #d3d3d3;
  width: 175px;
  height: 175px;
  border-radius: 5px;
  img {
    width: 65px;
    height: 100%;
    object-fit: contain;
  }
}

.has-error .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: map-get($colors, "warning");
}
.has-error .ant-input:not([disabled]) {
  border-color: map-get($colors, "warning");
}
.has-error .ant-form-explain,
.has-error .ant-form-split {
  border-color: map-get($colors, "warning");
  background-color: #fff2f2;
  margin-top: 5px;
  right: 0;
  border-radius: 30px;
  padding: 6px 20px;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
}

// inputbox
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #ffba0087;
}

.ant-select-selection--multiple .ant-select-selection__choice__remove,
.ant-select-selection--multiple .ant-select-selection__choice__remove:hover {
  font-size: 10px !important;
  background: #000;
  color: #fff;
  border-radius: 50%;
  padding: 0px;
  height: 20px;
  width: 20px;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  padding: 0 30px 0 10px;
  border-radius: 20px;
}
.create-profile-routes .step-1-expert-form .ant-select-selection__rendered {
  line-height: 0;
}

.back-button-margin{
  display: none;
  // position: absolute;
  margin-top: -38%;
  margin-left: 58vw;
}

.show-initial{
  display: block;
}

.remove-email-password-mobile{
  display: none;
}
@media screen and (max-width: 320px){
  .back-button-margin{
    margin-left: 65vw;
    margin-top: -24% !important;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px){
  .back-button-margin{
    margin-left: 65vw;
    margin-top: -18% !important;
  }
}

@media screen and (min-width: 350px) and (max-width: 360px){
  .back-button-margin{
    margin-left: 63vw;
    margin-top: -21% !important;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px){
  .back-button-margin{
    margin-left: 63vw;
    margin-top: -20% !important;
  }
}

@media screen and (max-width: 767px){
  .paasword-email-routes {
    padding-left: 0px;
    // position: absolute;
    margin-top: 5%;
    width: 102% !important;
  }

  .device-position {
    width: 91% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 12px !important;
    padding-top: 2% !important;
  }
  
  .remove-email-password {
    display: none;
  }

  .back-button-margin{
    display: block;
    margin-top: 74%;
  }

  .remove-email-password-mobile{
    display: inline-block;
  }
  
  .footer {
    margin-top: 20%;
  }

  .hide-for-mobile-view{
    display: none;
  }
  .devicept25 {
    padding-top: 8px !important;
  }
}

.step-1-expert-form .ant-select-selection__rendered ul {
  padding: 10px;
  display: inline-block;
}
.step-1-expert-form .ant-form-item-control {
  line-height: 0px;
}
// .step-1-expert-form .anticon[tabindex] {
//   cursor: pointer;
//   position: absolute;
//   top: 0%;
//   color: #fd3c3c;
//   padding-left: 5px;
// }

.ex__form .ant-form-item .has-error .ant-form-explain {
  display: block;
  margin-top: 0;
}

.height_sec_enthu {
  .ant-form-item-children {
    line-height: 0 !important;
  }
  // .ant-calendar-picker-icon {
  //   content: url("./../public/images/calendar_ic.png");
  // }
}
.ant-calendar-picker-icon {
  content: url("./../public/images/calendar_ic.png");
}

.cal_dlt_btn {
  align-self: self-end;
  color: red;
  display: inline-block;
  position: relative;
  top: -60px;
  left: 5px;
  text-align: right;
  width: 100%;
}

.step-1-expert-form .ant-select-selection,
.step-1-expert-form input {
  border: none;
}
.ant-input-group-addon {
  border: none;
}

// updated css

.btn-wrap{
  .ant-form-item-control-wrapper{
    .ant-form-item-children{
      button:last-child{
        margin-left:10px;
      }
    }

  }  

}

.ant-form-item-required{

}