.img_box {
  .box_img {
    img {
      width: 100%;
      height: 12rem;
      object-fit: cover;
      border-radius: 20px 20px 20px 0;
    }
    &:hover {
      color: map-get($colors, "success");
    }
    p {
      margin-top: 5px;
      min-height: 40px;
      max-height: 40px;
      overflow: hidden;
    }
  }
  input[type="checkbox"] {
    display: none;
  }

  label {
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    display: flex !important;
  }

  label:before {
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label img {
    height: 12rem;
    width: 100%;
    border-radius: 20px 20px 20px 0;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked + label:before {
    content: url("./../public/images/tick_round_ic.png");
    background: transparent;
    border: none;
    transform: scale(1);
    position: absolute;
    right: 11px;
    width: 100%;
    vertical-align: middle;
    z-index: 1;
    margin: 0 auto;
    top: 30%;
  }
  :checked + label:after {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    border-radius: 20px 20px 20px 0;
  }
}
.height_sec_enthu{
  .ant-select-selection__rendered{
    line-height: 0px !important;
  }
}
.height_sec_enthu_step2{
  .ant-select-selection__rendered{
    line-height: 0px !important;
  }
}
.step-1-expert-form .ant-form-item-label label {
  color: #0f0f0f;
  font-size: 15px;
  font-family: "Rubik-medium";
}
.enth_follow_btn {
  button{
    border: 1px solid #2fa686;
      color: #2fa686;
      padding: 10px 30px;
      border-radius: 68px;
      font-size: 16px;
      font-family: "rubik-medium";
      height: 40px;
      img{
        width: 20px;
      vertical-align: text-top;
      padding-right: 5px;
      }
  }
}
.enth_follow_btn:hover{
  button{
    color: #0f0f0f;
    background-color: #2fa686;
  }
}
.enth_follow_btn{
  // margin-left: 15px;
  margin-bottom: 10px;
}
.enth_message_btn{
  button{
    padding: 10px 30px;
    border-radius: 68px;
    font-size: 16px;
    font-family: "rubik-medium";
    height: 40px;
    background-color: #ffba00;
    border: 1px solid #ffba00;
    color: black;
    margin-left: 10px;
  }
  button:hover{
    background-color: transparent;
    border: 1px solid #ffba00;
    color: #ffba00;
  }
  
}

.enthu-details{
  .experties-tag{
    border: 1px solid #099670;
    border-radius: 20px;
    padding: 4px 7px;
    margin: 5px;
    float: left;
    background: #fff;
    font-weight: 700;
    color: #0f0f0f
  }
}
.enth_page{
  .container-fluid.align-center{
    padding-left: 10%;
    padding-right: 10%;
  }  
}


@media (min-width:320px) and (max-width:767px){
  .enth_page{
    .container-fluid.align-center.mobile{
      padding-left: 0%;
      padding-right: 0%;
      padding-bottom:0px; 
    }
   .page_wrapper .header_bg {
      height: 40vh;
    }
    .page_wrapper .profile_img {
      margin-bottom: 25px;
    }
    .page_wrapper .an-26.mt20.medium-text {
      font-size: 18px !important;
      margin-top: 0px;
    }
    .page_wrapper{
      .enth_follow_btn{
        margin-right: 15px;
        .ant-btn.share_btn{
          margin-top: 0px;
        }
      }
    }
    .page_wrapper .share_btn button {
      padding: 4px 15px;
      height: 30px;
    }
    .page_wrapper .follow_btn{
      button{
        padding: 4px 15px;
      height: 30px !important;
      }
    }
    
  
  }
   
.enthu-edit-create-mobile{
  .create-profile-routes{
    padding-left: 0px;
    padding-top: 20px;
  }
}
 
}
@media (min-width:767px){
  .follow-btn-ethn{
    float: left;
  }
}
