.workshop_text {
  font-size: 18px !important;
}
.modular-card {
  .ant-card-cover img {
    height: 305px;
    object-fit: cover;
  }
  .heart_fill .text-right .share_icn {
    width: 16px !important;
  }
  .ant-card-body {
    padding: 10px 0px;
  }
  .ant-card-body .price_sec {
    padding: 0px 10px;
  }
  .card_details .card-main-des {
    color: #2a2d2c;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    font-family: "Rubik";
  }
  .ant-card-body .price_sec .ant-row img {
    margin-left: auto;
    width: 25px !important;
    margin-top: -8px !important;
    height: auto !important;
  }
  .ant-card-body .card-like-share {
    border-top: 1px solid #d3d3d3;
    padding: 7px 10px 0;
    display: flex;
    align-items: center;
  }
  .ant-row .heart_fill .text-right img {
    display: inline-block;
    border-radius: 0;
    width: 16px !important;
    height: auto !important;
  }
  .heart_fill label svg {
    width: 22px;
    margin-top: 0;
    margin-left: 15px;
  }
  .ant-card-bordered {
    border-radius: 7px;
    border: none;
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  }
  .ant-card-body .ant-row.price_line {
    display: flex;
    align-items: center;
  }
  .online_tag {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    color: #099670;
  }
}

.review-page {
  .review-parent {
    height: 790px;
    &.hight-max{
      height: 885px;
    }
  }
  span {
    margin-bottom: 15px;
  }
  .r-title {
    font-size: 28px;
    font-family: "rubik-medium";
    color: #099670;
    margin-bottom: 20px;
  }
  .r-sub-title {
    color: #0f0f0f;
    font-family: "rubik-medium";
  }
  textarea.ant-input {
    background-color: white !important;
  }
  .rr-description {
    color: #939393;
    font-size: 14px;
    font-family: "Rubik";
    line-height: 1.5;
  }
  .rr-child.rr-child-text {
    color: #0f0f0f;
    font-family: "Rubik";
  }
  .like-dislike {
    span {
      color: #0f0f0f;
      font-family: "Rubik";
    }
  }
  .rr-parent {
    margin-bottom: 10px;
  }
  .rr-section {
    // margin-top: 0px;
    margin-bottom: 30px;
  }
  .ant-rate {
    font-size: 16px;
  }
  .review-img {
    background-image: url("./../public/images/review/review_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .review-img-overlay {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .rr-child.rr-child-rate {
    width: 100%;
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0px;
      margin-left: 20px;
      margin-top: 1px;
      color: red;
    }
  }
  .review-expert {
    background: #ffffff;
    position: absolute;
    left: 26%;
    top: 26%;
    height: 310px;
    width: 250px;
    text-align: center;
    opacity: 0.8;
    padding: 20px;
    border-radius: 5px;
    &__name {
      font-size: 20px;
      color: #0a9670;
      font-weight: 600;
      font-family: "Rubik";
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
      white-space: nowrap;
    }
    &__title {
      font-size: 16px;
      font-weight: 500;
      color: black;
      font-family: "Rubik";
      margin-bottom: 5px;
    }
    &__date {
      font-size: 16px;
      color: black;
      font-family: "Rubik";
    }
    img {
      width: 135px;
      border-radius: 50%;
      height: 135px;
    }
  }

  .review-container {
    padding: 5% 10% 5% 10%;
    // .rr-child {
    //   display: inline-block;
    //   width: 200px;
    // }
    .first-name-date {
      .ant-col.ant-form-item-label {
        color: #0f0f0f;
        font-family: "rubik-medium";
      }
      .ant-row.ant-form-item {
        margin-bottom: 0px;
      }
    }
  }
  .ant-btn.r_submit_btn {
    background-color: #ffba00;
    border-color: #ffba00;
    line-height: 35px;
    color: #0f0f0f;
    padding: 0 30px;
    height: 35px;
    font-size: 14px;
    font-family: "rubik-medium";
    transition: 0.5s;
    border-radius: 0;
  }
}

.review-view-page {
  padding-left: 70px;
  padding-right: 70px;
  .totla-review {
    margin-bottom: 15px !important;
    margin-top: 40px;
    margin-bottom: 15px;
    display: flex;
    .total-review-title {
      font-size: 20px;
      color: #099677;
      font-family: "Rubik";
      font-weight: 500;
      margin-bottom: 5px;
    }
    .rating-star {
      font-size: 20px !important;
    }
    .rating-star-rate {
      font-size: 20px !important;
      font-weight: 500;
    }
  }
  .yellow-border{
    background: #FBCA48 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100px;
    height: 3px;
    margin-top: 3px;
  }
  .review-parent-right {
    text-align: center;
  }
  .border-bottom {
    border-bottom: 1px solid #dfdfdf;
    margin-top: 0px 20px;
  }
  .border-top {
    border-top: 1px solid #dfdfdf;
  }
  .rr-child.rr-child-text {
    color: #0f0f0f;
    font-family: "Rubik";
  }
  .rr-child {
    display: inline-block;
    width: 170px;
  }
  .rr-child.rr-child-rate {
    width: 100%;
  }
  .rr-parent {
    margin-bottom: 10px;
  }
  .rr-section {
    margin-top: 35px;
  }
  .ant-rate {
    font-size: 16px;
  }
  img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
  }
  .loader-absolute-class {
    .loader {
      margin-top: 25px;
    }
  }
  .review-grid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .review-expert {
    &__name {
      font-size: 18px;
      color: #099677;
      font-family: "Rubik";
      font-weight: 500;
    }
    &__attend {
      padding-top: 18px;
      font-size: 14px;
      color: #0f0f0f;
      font-family: "Rubik";
      font-weight: 500;
    }
    &__date {
      font-size: 14px;
      color: #0f0f0f;
      font-family: "Rubik";
      font-weight: 400;
    }
  }
  .review-expert__dummy_image {
    .review-expert__dummy_image__parent {
      height: 100px;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      background: #eee;
      width: 100px;
      margin: 0 auto;
      span {
        font-size: 26px;
        text-transform: uppercase;
      }
    }
  }
  .review-parent-left {
    &__title {
      font-size: 18px;
      color: #099677;
      font-family: "Rubik";
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
    &__subtitle {
      margin-top: 5px;
      font-size: 15px;
      // font-weight: 400;
      text-align: justify;
      font-family: "rubik-regular" !important;
      line-height: 24px !important;
      font-size: 15px;
      color: #0F0F0F;
    }
    &__secondLine {
      letter-spacing: 0.75px;
      font-family: "Rubik";
      font-weight: 400;
      color: #099677;
      // &::before {
      //   display: inline-block;
      //   content: "·";
      //   color: #099677;
      //   position: relative;
      //   top: 0px;
      //   right: 1px;
      //   font-weight: bold;
      //   padding-right: 5px;
      //   padding-left: 5px;
      // }
    }
    &__main-title{
      margin-top: 20px;
      margin-bottom: 0px;
      color: #111111;
    }
  }
}

.review-detail-page {
  .totla-review {
    // text-align: center;
    margin-bottom: 15px;
    .total-review-title {
      font-size: 22px;
      color: #099677;
      font-family: "Rubik";
      margin-bottom: 5px;
      font-weight: normal;
    }
  }
  .review-parent-right {
    text-align: center;
  }
  .border-bottom {
    border-bottom: 1px solid #dfdfdf;
    margin-top: 0px 20px;
  }
  .border-top {
    border-top: 1px solid #dfdfdf;
  }
  .rr-child.rr-child-text {
    color: #0f0f0f;
    font-family: "Rubik";
  }
  .rr-child {
    display: inline-block;
    // width: 170px;
  }
  .rr-parent {
    margin-bottom: 10px;
  }
  .rr-section {
    margin-top: 35px;
  }
  .ant-rate {
    font-size: 16px;
  }
  img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
  }
  .loader-absolute-class {
    .loader {
      margin-top: 25px;
    }
  }
  .review-grid {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .review-expert {
    &__name {
      font-size: 18px;
      color: #099677;
      font-family: "Rubik";
      font-weight: 500;
      text-align: center;
    }
    &__attend {
      padding-top: 18px;
      font-size: 14px;
      color: #0f0f0f;
      font-family: "Rubik";
      font-weight: 500;
    }
    &__date {
      font-size: 14px;
      color: #0f0f0f;
      font-family: "Rubik";
      font-weight: 400;
    }
  }
  .review-expert__image {
    img {
      margin-top: 25px;
    }
  }
  .review-expert__dummy_image {
    .review-expert__dummy_image__parent {
      height: 100px;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      background: #eee;
      width: 100px;
      margin: 0 auto;
      margin-top: 25px !important;
      span {
        font-size: 26px;
        text-transform: uppercase;
      }
    }
  }
  .review-parent-left {
    &__title {
      font-size: 18px;
      color: #099677;
      font-family: "Rubik";
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }
    &__subtitle {
      margin-top: 25px;
      color: #111111;
      font-size: 16px;
      font-family: "rubik-regular";
      text-align: justify;
      line-height: 1.7;
    }
    &__secondLine {
      letter-spacing: 0.75px;
      font-family: "Rubik";
      font-weight: 500;
      color: #099677;
      font-size: 18px;
      &.date{
        color: #111111;
        font-size: 16px;
        font-weight: normal;
      }
    }
    

  }
}
.review-tab{
  .ant-collapse-content-box{
    padding-top: 0px !important;
  }
}
.collaps-rate {
  position: relative !important;
  margin-top: -30px !important;
  margin-right: 10px !important;
}
.collaps-start-icon {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 19px;
  margin-top: -4px;
}

.read-more-button{
  text-align: center;
  color: #ffba00;
  font-weight: 600;
}