.expedition_head_bg.learning_bannner_img {
  background-image: url("./../public/images/banner/learning.png");
}
.expedition_head_bg.expedition_banner_img {
  background-image: url("./../public/images/banner/expedition.png");
}
.expedition_head_bg {
  background-color:black;
  opacity: 0.9;
  background-size: cover;
  height: 25vh;
  background-position: center;
  position: relative;
  text-align: center;
  h1 {
    color: map-get($colors, "light");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.expert_bg {
 font-family: "Rubik" !important;
  h6 {
    color: map-get($colors, "success");
    min-height: 40px;
    max-height: 40px;
    overflow: hidden;
  }
  .ant-card-cover {
    img {
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  .ant-badge-status-dot {
    display: none;
  }
  .ant-badge-status-text {
    margin: 0;
    color: map-get($colors, "success");
  }
  .ant-card-bordered {
    border-radius: 7px;
    border: none;
    border-color: rgba(0, 0, 0, 0.09);
  }
  .ant-card-bordered {
    border-radius: 20px;
  }
  a {
    padding: 10px 40px;
  }
  .fnt-rubik{
    font-family: "Rubik" !important;
  }
  .fnt-rubik-bold{
    font-family: "Rubik" !important;
  }
  .blk-color{
    color:#2a2d2c !important;
  }


}
.feature_bg {
  .loadmore_btn a {
    padding: 10px 40px;
    margin-top: 40px;
    display: inline-block;
    line-height: 30px;
  }
  h3 {
    color: map-get($colors, "success");
  }
  .ant-card-bordered {
    border-radius: 7px;
    border: none;
    border-color: rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  }
  .ant-card-body {
    padding: 10px;
  }
  .ant-badge-status-text {
    margin-left: 8px;
    color: map-get($colors, "dark");
    font-size: 12px;
  }
  .price_sec {
    border-bottom: 1px solid #d3d3d3;
  }
  .ant-card-cover {
    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
}
.filter_sec_bg .filter_left .ant-collapse > .ant-collapse-item:last-child {
  border-bottom: none;
  border-radius: 20px 20px 20px 20px;
  background: #fff;
}

// Like
.heart_fill {
  input[type="checkbox"] {
    clear: both;
    display: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    float: right;
  }

  input[type="checkbox"] + label:before {
    content: "";
    z-index: -1;
    background: rgb(220, 72, 127);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(0);
    -webkit-ransform: scale(0);
  }

  input[type="checkbox"] + label:after {
    content: "";
    z-index: -1;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  input[type="checkbox"]:checked + label svg {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    fill: rgb(220, 72, 127);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
  }

  input[type="checkbox"]:checked + label:after {
    -webkit-animation: like-a 0.3s 0.2s forwards;
    -moz-animation: like-a 0.3s 0.2s forwards;
    animation: like-a 0.3s 0.2s forwards;
  }

  input[type="checkbox"]:checked + label:before {
    -webkit-animation: like-a 0.5s 0s forwards;
    -moz-animation: like-a 0.5s 0s forwards;
    animation: like-a 0.5s 0s forwards;
  }

  label svg {
    display: inline-flex;
    vertical-align: middle;
    width: 20px;
    margin-top: 5px;
    fill: rgb(167, 167, 167);
  }
}

@-webkit-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@-moz-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}

.expedition_header_img{
 
  .expedition_head_bg{
    .cover-main-title{
      color: rgb(254, 184, 47);
      font-weight: 600;      
    }
    .sub-title{
      font-weight: 600;
    }
  }
  .container-fluid.align-center{
    padding-left: 5%;
    padding-right: 5%;
  }
  .expidition_bg.expendition{
    .card_details{
      .cover-main-title{
        color: #0F0F0F;
        font-family: "Rubik";
        font-weight: 600;
      }
      .card-main-des{
        color:#2a2d2c;  
        width: 100%;
        text-overflow: ellipsis;
        word-break: break-all;
        margin-bottom: 10px !important;
        overflow: hidden;
        min-height: 25px;
        max-height: 25px;
        white-space: nowrap;
        font-family: "Rubik";
      }      
    }
  }
  .mobile_view_sorting_options{
    display: none;
  }
  .filters_text{
    color: #099670 !important;
    font-weight: 600 !important;
    font-family: "Rubik" !important;
    letter-spacing: 0px !important ;
    font-size: 18px !important;
  }
  .sorted_by_select{
    
    .ant-select-selection.ant-select-selection--single{
      height: 40px !important;
      line-height: 39px;
      .ant-select-selection-selected-value{
        line-height: 39px;
      }
    }
  }
  .list_view_web {
    padding-right: 0px !important;
    .ant-radio-button-wrapper{
      height: 40px;
      line-height: 39px !important;
    }
  }
  
  .card-main-title{
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-0f0f0f);
    text-align: left;
    letter-spacing: 0px;
    color: #2a2d2c;
    opacity: 1;
    font-size: 16px !important;
    font-family: "Rubik";
    font-weight: 500;
  }
  .price_line{
    .text-right {
     img{
       width: 25px !important;
       margin-top: -8px !important;
      }
    }
  }
 .ant-checkbox-wrapper{
    form input[type='checkbox'] {
      width: 18px !important;
      height: 18px !important;
    }
    .ant-checkbox-inner{
      width: 18px !important;
      height: 18px !important;
      border-radius: 5px;
    }
    .ant-checkbox-inner::after{
      top: 47% !important;
      left: 22% !important;
      border-radius: 5px;
    }
  
  }
  .months_div{
    .ant-radio-button-wrapper{
      width: 65px;
      height: 26px;
      background: var(--unnamed-color-099670) 0% 0% no-repeat padding-box;
      background: #099670 0% 0% no-repeat padding-box;
      border-radius: 13px;
      opacity: 1;
      line-height: 25px;
    }
  }
  .heart_fill label svg{
    fill: #e8e8e8;
  }
  .heart_fill .text-right .share_icn{
    width: 16px !important;
  }
  .upcomming_section{
    .sub_title{
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-099670);
      text-align: left;
      font-size: 25px;
      color: black !important;
      font-family: "Rubik";
      letter-spacing: 0px;
      opacity: 1;
      font-weight: 500;
    }
    .top_boreder{
      border: 1px solid var(--unnamed-color-d3d3d3) !important;
      border-top: 1px solid #D3D3D3 !important;
      opacity: 1 !important;
    }
  }

}

.trip_exprt_navigation.categories {
  display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 0px 1rem;
  
  .other-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .first-row {
      padding-top: 55px;
      display: flex;
    }
  }

  .see-more-button-container {
    display: flex;
    margin-left: 1rem;

    button {
      margin-bottom: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
  }

  .category {
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    font-family: "Rubik";
    padding: 5px 0px;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 1rem;
  }
  .category.active{
    color: #FEB82F;
    border-top: 2px solid #ffbc00;
    border-bottom: 2px solid #ffbc00;
    padding: 5px 0;
    font-weight: 500;
    font-family: "Rubik";
  }
}
.web_view_sorting_options{
  .sorted_by_select {
    padding-right: 0px !important; 
  }
  .list_view_web {
    padding-left: 0px !important;
  }
 
}


// Expert page start //
.expert_container{
  .expert_head_bg.expert_head_bg_color{
   
    background-image: url("./../public/images/banner/Experts_Scuba.png");    
  }
  .expert_head_bg{
   
    // background-image: url("./../public/images/banner/Experts_Scuba.png");    
    // opacity: 0.9;
    background-color:black; 
    background-size: cover;
    height: 50vh;
    background-position: center;
    position: relative;
    text-align: center;
  }
  .expert_head_bg::after{
    content: "";
    background: rgba(85, 88, 84, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .expert_head_bg h1
  {
    text-align: left;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 38%;
  }
  .mobile_view_sorting_options{
    display: none;
  }
  .container-fluid.align-center{
    padding-left: 5%;
    padding-right: 5%;
  }
  .standered_border{
    border-top: 1px solid #D3D3D3 !important
  }
  .features_sub_title{
    text-align: left;
    font-size: 25px;
    color: black !important;
    font-family: "Rubik";
    letter-spacing: 0px;
    opacity: 1;
    font-weight: 500;
  }
  .online_tag {
    position: absolute;
    top: 0;
    right: 0;
    background: map-get($colors, "light");
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    color: map-get($colors, "success");
  }
  .card_details .card-main-des {
    color: #2a2d2c;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    font-family: "Rubik";
  }
  .workshop_similar .share_icn{
    margin-top: 0px !important;
    width: 16px !important;
  }
  .heart_fill label svg{
    fill: #e8e8e8;
  }
  .price_line{
    .text-right {
     img{
       width: 25px !important;
       margin-top: -8px !important;
      }
    }
  }
  .ex__primary_btn.view_more_btn
  {
    background-color: #ffba00;
    border-color: #ffba00;
    color: #0f0f0f;
    padding: 10px 40px;
    height: 57px;
    font-size: 16px;
    font-family: "rubik-medium";
    transition: 0.5s;
    width: 25px;
  }
  .ex__primary_btn.view_profile
  {
    background-color: #ffba00;
    border-color: #ffba00;
    color: #0f0f0f;
    padding: 15px 40px !important;
    height: 57px;
    font-size: 16px;
    font-family: "rubik-medium";
    transition: 0.5s;
    width: 25px;
  }
  .expert_bg .ant-card-bordered{
    border-radius: 5px !important;
  }
  .expert_card{
    .location_icon{
      padding-right: 3px;
      width: 15px;
      margin-bottom: 2px;
    }
    #languageIcon{
      width: 15px;
      margin-right: 5px;      
    }
    #followerIcon{
      width: 16px;
      margin-right: 5px;      
    }
    .followerIcon{
      margin-left:-2px; 
    }
  }
  .banner-title{
    h1{
      width: 32%;
    }
    span{

      color:#545151;
      font-family: "Rubik";
      color: #545151;
      opacity: 1;
      font-weight: bold;
    }
  }

  .sorted_by_select{
    
    .ant-select-selection.ant-select-selection--single{
      height: 40px !important;
      line-height: 39px;
      .ant-select-selection-selected-value{
        line-height: 39px;
      }
    }
  }
  
}

.filters_text{
  color: #099670 !important;
  font-weight: 600 !important;
  font-family: "Rubik" !important;
  letter-spacing: 0px !important ;
  font-size: 18px !important;
}
.card_details{
  p.an-15.medium-text.card-main-title{
    text-align: left;
    letter-spacing: 0px;
    color: #2a2d2c;
    opacity: 1;
    font-size: 16px !important;
    font-family: "Rubik";
    font-weight: 500
  }
}


@media (min-width:320px) and (max-width:767px){
  .expedition_header_img_mobile{
    
    .mobile_view_sorting_options{
      display: block;
    }
    .web_view_sorting_options{
      display: none;
    }
    .an-40.medium-text{
      font-size: 25px !important;
      width: 90% !important;
    }
    .web_filters{
      display: none;
    }
    .filter_div{
      height: 40px !important;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-d3d3d3);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #D3D3D3;
      border-radius: 5px;
      opacity: 1;
      padding: 10px;
    }
    .sorted_by_select {
      .ant-select-selection__rendered{
        line-height: 39px !important;
      }
    }
    .mobile.ant-select.ant-select-enabled{
      width: 100% !important;
    }
   .card-main-title{
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-0f0f0f);
      text-align: left;
      font-family: "Rubik";
      font-weight: 500;
      letter-spacing: 0px;
      color: #2a2d2c;
      opacity: 1;
      font-size: 16px !important;
   }
   .price-tag{
     font-size: 16px;
     font-family: "Rubik" !important;
     span{
      font-family: "Rubik" !important;
     }
    
   }
   
    .main-title{
      text-align: left;
      font: normal normal normal 20px/24px Rubik Medium;
      letter-spacing: 0px;
      color: #099670;
      opacity: 1;
    }
    .mobile_view_sorting_options{
      .main-title{
        font-size: 18px !important;
      }
    }
    .list_view{
      padding-right: 2px !important;
    }
  }

  //Expert section
  .expert_container{
   
      .expert_head_bg{
        height: 25vh;
      }
      .expert_head_bg h1
      {
        text-align: left;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 40%;
        /* transform: translate(-50%, -50%); */
        width: 65%;
        font-size: 24px !important;
      }

      .web_view_sorting_options{
        display: none;
      }
      .mobile_view_sorting_options{
        display: block;
      }
      .web_filters{
        display: none;
      }
      .filter_div{
        height: 40px !important;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-d3d3d3);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #D3D3D3;
        border-radius: 5px;
        opacity: 1;
        padding: 10px;
      }
      .sorted_by_select {
        .ant-select-selection__rendered{
          line-height: 39px !important;
        }
      }
      .mobile.ant-select.ant-select-enabled{
        width: 100% !important;
      }
      .view_more_position{
        text-align: center;
      }
      .mobile_view_sorting_options{
        .main-title{
          font-size: 18px !important;
          text-align: left;
          font: normal normal normal 20px/24px Rubik Medium;
          letter-spacing: 0px;
          color: #099670;
          opacity: 1;
        }
      }
      .feature_similar_more{
        margin-bottom: 30px;
      }


  }

}
@media(min-width:768px) and (max-width:991px){
  .expedition_header_img_mobile{
    
    .mobile_view_sorting_options{
      display: block;
    }
    .web_view_sorting_options{
      display: none;
    }
    .an-40.medium-text{
      font-size: 30px !important;
      width: 90% !important;
    }
    .web_filters{
      display: none;
    }
    .filter_div{
      height: 40px !important;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      border: 1px solid var(--unnamed-color-d3d3d3);
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #D3D3D3;
      border-radius: 5px;
      opacity: 1;
      padding: 10px;
    }
    .sorted_by_select {
      padding-left: 10px !important;
      .ant-select-selection__rendered{
        line-height: 39px !important;
      }
    }
    .mobile.ant-select.ant-select-enabled{
      width: 100% !important;
    }
    .monile{
      padding-left: 10px;
    }
    .main-title{
      text-align: left;
      font: normal normal normal 20px/24px Rubik Medium;
      letter-spacing: 0px;
      color: #099670;
      opacity: 1;
    }
    .mobile_view_sorting_options{
      .main-title{
        font-size: 18px !important;
      }
    }
    .list_view{
      padding-right: 2px !important;
      .ant-radio-button-wrapper{
        height: 40px;
      }
    }
    .expedition_header_img .sorted_by_select{
      padding-right: 10px !important;
      padding-left: 0px !important;
    }
  }

  //Expert Section
  //Expert section
  .expert_container{
    
      .expert_head_bg{
        height: 30vh;
      }
      .expert_head_bg h1
      {
        text-align: left;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        width: 38%;
        font-size: 30px !important;
      }
      .web_view_sorting_options{
        display: none;
      }
      .mobile_view_sorting_options{
        display: block ;
      }
      .web_filters{
        display: none;
      }
      .mobile_view_sorting_options{
        .main-title{
          font-size: 18px !important;
          text-align: left;
          font: normal normal normal 20px/24px Rubik Medium;
          letter-spacing: 0px;
          color: #099670;
          opacity: 1;
        }
      }
      .filter_div{
        height: 40px !important;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        border: 1px solid var(--unnamed-color-d3d3d3);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        opacity: 1;
        padding: 10px;
      }
      .sorted_by_select {
        padding-left: 10px !important;
        .ant-select-selection__rendered{
          line-height: 39px !important;
        }
      }
      .mobile.ant-select.ant-select-enabled{
        width: 100% !important;
      }
      .monile{
        padding-left: 10px;
      }

      .view_more_position{
        text-align: center;
      }

   
  }
}
.color-green{
  color: #099670 !important;
}
.fnt-rubik-bold.expert-title{
  width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
}
#createProfile_bio{
  .ql-editor.ql-blank{
    min-width: 740px;
  }
}

.location-txt{
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    white-space: nowrap;
}

.pagination_design{
  ul li a{
    padding: 0px !important;
  }
  .ant-pagination-item-active a {
    color: white;
  }
}
.months_div{
  button{
    width: 100%;
    margin-bottom: 20px;
    &:hover, &:focus{
      color: rgba(0, 0, 0, 0.65);
    }
  }
  .ant-dropdown{
    box-shadow: 17px 13px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

  ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
li {
  margin: 5px;
  background: #eaedef;
  border-radius: 5px;
  padding: 0 18px;
  border: none;
  color: #000000;
  width: 60px;
  list-style: none;
  position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    cursor: pointer;
    -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
    transition: color 0.3s, background 0.3s, border-color 0.3s;
}
li.slected {
  background: #0A9670;
  border-color: #0A9670;
  color: #fff;
}
li.hidden-selected{
  opacity:0.4;
  pointer-events: none;
}
}