// @font-face {
//   font-family: "rubik-light";
//   src: url("./../public/font/Rubik-Light.ttf"); /* IE9 Compat Modes */
//   src: url("./../public/font/Rubik-Light.ttf") format("truetype"); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: "rubik-regular";
//   src: url("./../public/font/Rubik-Regular.ttf"); /* IE9 Compat Modes */
//   src: url("./../public/font/Rubik-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: "rubik-medium";
//   src: url("./../public/font/Rubik-Medium.ttf"); /* IE9 Compat Modes */
//   src: url("./../public/font/Rubik-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: "rubik-semi-bold";
//   src: url("./../public/font/Rubik-Bold.ttf"); /* IE9 Compat Modes */
//   src: url("./../public/font/Rubik-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
// }
// @font-face {
//   font-family: "rubik-bold";
//   src: url("./../public/font/Rubik-Bold.ttf"); /* IE9 Compat Modes */
//   src: url("./../public/font/Rubik-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
// }

@font-face {
  font-family: 'rubik-light';
  src: url('./../public/font/Rubik-Light.woff2') format('woff2'),
      url('./../public/font/Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik-regular';
  src: url('./../public/font/Rubik-Regular.woff2') format('woff2'),
      url('./../public/font/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik-medium';
  src: url('./../public/font/Rubik-Medium.woff2') format('woff2'),
      url('./../public/font/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik-semi-bold';
  src: url('./../public/font/Rubik-Bold.woff2') format('woff2'),
      url('./../public/font/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'rubik-bold';
  src: url('./../public/font/Rubik-Black.woff2') format('woff2'),
      url('./../public/font/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}