@import "variable.scss";

// max-width = 1400px
@media (max-width: map-get($grid-breakpoints,"xxl")) {
  .page_wrapper .header_bg .img-cancel {
    right: 10% !important;   
}


}

// max-width = 1200px
@media (max-width: map-get($grid-breakpoints,"xl")) {
 
  .footer_bg_sec {
    .container {
      .navigation {
        & > div:not(:last-child) {
          margin-right: 25px;
        }
      }
    }
  }
}

// max-width = 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .footer_bg_sec {
    .container {
      flex-direction: column;

      .navigation {
        margin-top: 1rem;
        flex-direction: column;
      }

      .navigationsAndCompanyContainer,
      .termsAndConditionsLinks {
        display: flex;
        width: 300px;
        justify-content: space-between;
      }

      .social_btn {
        display: flex;
        justify-content: center;
      }
    }

    .copyright {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .copyright__first {
        margin-bottom: 5px;
      }
    }
  }
}

// max-width = 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
  #scroll-to-here, #edit-trips-mobile, #updateworkshop, #create-trips-mobile, #create-work-mobile{
    .create-profile-tab {
    width: 100%;
    overflow: auto;
    align-items: center;   
    display: flex;
    -ms-touch-action: manipulation;
touch-action: manipulation;
z-index: 0;
position: relative;
    }
    .tab-grid{
      margin-right: 20px;
    margin-bottom: 1rem;
    -ms-touch-action: manipulation;
touch-action: manipulation;
    }
  }
  .footer {
    margin-top: 0;
}
.create-expert-container .create-profile-tab .tab-grid{
  min-width: 230px;
}
}

// max-width = 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .step-1-expert-form .step-title {
    letter-spacing: 0;
    font-size: 15px !important;
    span{
      margin-left: 2px;
      font-size: 14px !important;
    }
    div{
      font-size: 12px;
    }
}
.step-1-expert-form{
  .an-16{
    font-size: 12px !important;
    margin-bottom: 5px;
  }
}

}

// max-width = 400px
@media (max-width: map-get($grid-breakpoints,"xs")) {
  .footer_bg_sec {
    .container {
      .navigationsAndCompanyContainer,
      .termsAndConditionsLinks {
        width: 270px;
      }
    }
  }
}
