// Footer
.footer_bg_sec {
  // background-image: url("../images/home/footerBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #000111;
  width: 100%;
  max-width: 100vw;
  padding-bottom: 30px;
  font-family: "rubik";
  padding: 80px 25px;

  .container {
    max-width: 1250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      div {
        width: 228px;
        max-height: 59px;
      }
    }
    .navigation {
      display: flex;
      color: white;

      & > div:not(:last-child) {
        margin-right: 80px;
      }

      .navigation-title {
        font-size: 22px;
        font-weight: bold;
        color: white;
      }

      .link {
        display: block;
        font-size: 18px;
        line-height: 2;
        color: white;
        text-decoration: underline;

        &:hover {
          color: map-get($colors, "secondary");
        }
      }
    }
  }

  span {
    color: map-get($colors, "success");
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
      line-height: 30px;

      a {
        color: white;
        font-size: 20px !important;

        &:hover,
        &:focus {
          color: map-get($colors, "secondary");
        }
      }
    }
  }
  .social_btn {
    margin-top: 20px;

    a {
      text-decoration: none;
      margin-right: 15px;
      color: #111;
    }
    .social_round {
      background: transparent;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      text-align: center;
      display: inline-grid;
      align-items: center;
      border: 1px solid white;
      transition: 0.5s;
      color: white;

      svg {
        margin: 0 auto;
      }
      &:hover,
      &:focus {
        border: 1px solid map-get($colors, "secondary");
        color: map-get($colors, "secondary");
        background-color: transparent;
      }
    }
  }

  .copyright {
    font-size: 19px;
    color: white;
    margin-top: 37px;
    display: flex;

    .copyright__first {
      margin-right: 5px;
    }
  }
}

@import "./footer.media.scss";
