.getinspired-page{
    .expert_head_bg.expert_head_bg_color{
   
        background-image: url("./../public/images/expertimg/header_bg.png");    
      }
      .expert_head_bg{
        background-color:black; 
        background-size: cover;
        height: 55vh;
        background-position: center;
        position: relative;
        text-align: center;
      }
      .expert_head_bg .expert_header_info
      {
        text-align: left;
        color: #fff;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        .bg-title{
            font-weight: 600;
            font-size: 40px;
            font-family: 'Rubik';
            .first-txt{
                color: #FFFFFF;
            }
            .second-txt{
                color:#FFBC00;
                margin-left: 10px;
            }
        }
        .bg-sub-title{
            font-size: 24px;
            font-weight: 400;
            font-family: 'Rubik';
            color: #FFFFFF;
            margin-top: 5px;
        }
      }

      .container-fluid{
          padding-left: 7%;
          padding-right: 7%;
      }
    .learning_sec .ant-card-cover img{
        height: 315px !important;
        object-fit: cover !important;
    }

    .expert_card_details{
      
        font-family: 'rubik-regular';
  
        .expert-title{
            font-size: 22px;
            color: #000000;
            font-weight: 600;
        }
        .expert_card_title{
            font-size: 20px;
            color:#0A9670;
            font-weight: 600;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
        }
        .expert_card_loc{
            img{
                width: 14px;
                height: 18px;
                margin-right: 5px;
                display: inline !important;
            }
            font-size: 14px;
            letter-spacing: 1px;
            color:#000000;
        }
        .expert_card_lang{
            img{
                width: 16px;
                height: 18px;
                margin-right: 7px;
                display: inline !important;
            }
            font-size: 14px;
            letter-spacing: 1px;
            color:#000000;
            text-overflow: ellipsis;
            word-break: break-all;
            overflow: hidden;
            white-space: nowrap;
        }
        .expert_card_follow{
           img{
                width: 16px;
                height: 17px;
                margin-right: 7px;
                display: inline !important;
           }
            font-size: 14px;
            letter-spacing: 1px;
            color:#000000;
        }
        .expert_review-text{
            font-size: 14px;
            letter-spacing: 1px;
            color:#000000;
            .review-text-expert{
                margin-left: 10px;
            }
        }
    }

    .filter-section {
        overflow: hidden;
        background-color: #F2F4F6;
        text-align: left;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .filter-section-child
    {
        border: 1px solid #D4D4D4;
        padding-right:7px;
        padding-top:10px;
        padding-bottom:6px; 
        background-color:white;
        margin: 25px 15px;
        height: auto;
        .types{
            display: inline-flex;
            .filter-type-img{
                position: relative;
                width: 15%;
                overflow: hidden;
                padding-right: 0px;
                margin-left: 14px;
                img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                }
                img.type{
                    width: 27px;
                    height: 27px;
                }
                img.group{
                    width: 35px;
                    height: 40px;
                }
                img.pin{
                    width: 15px;
                    height: 24px;
                }
            }
            .filter-type-right{
                width: 85%;
            }
            .filter-sub-heading{
                color: #989898;
                font-family: "Rubik";
                font-size: 14px;
                font-weight: 500;
                padding-bottom: 2px;
                padding-left: 12px;
                text-transform: uppercase;
            }
            .filter-heading{
                color:#000000;
                font-family: "Rubik";
                font-size: 20px;
                font-weight: 500;
            }
            .activity-filter-txt{
                margin-left: 10px;
                margin-top: 1px;
            }
            .ant-select-selection{
                border:none !important; 
            }
            .ant-select-selection--single{
                height: 25px;
            }
            .ant-select{
                font-size: 20px;
                font-family: "Rubik";
                color:#000000 !important;
                font-weight: 500;
            }
            .ant-select-selection__placeholder, .ant-select-search__field__placeholder{
                font-family: "Rubik";
                color:#000000 !important;
                font-weight: 500;
            }
            .ant-select-open .ant-select-selection{
                box-shadow: none !important;
                -webkit-box-shadow: none !important;
            }
            .ant-select-selection--multiple .ant-select-selection__choice{
                font-size: 20px;
                font-family: "Rubik";
                color:#000000 !important;
                font-weight: 500;
            }
            
        }
        .ant-select-arrow{
            color: #000000 !important;
            right: 15px; 
            font-size: 13px;
        }
        .activity-drop-arrow{
            font-size: 17px;
            margin-top: 5px;
            text-align: right;
            color: #000000 !important;
            margin-right: 15px;
            svg{
                transition: transform 0.3s, -webkit-transform 0.3s;
            }  
        }
        .rotate.activity-drop-arrow{
                svg{
                    transition: transform 0.3s, -webkit-transform 0.3s;
                    transform: rotate(180deg);
                }            
        }        
    }
    .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
        box-shadow: none !important;
    }
    .extra-filters{
        padding-top:10px;
        padding-bottom:10px;    
        margin: 0px 30px 15px 30px;
        background-color:transparent;
        height: auto;
        .extra-parent{
            padding-right: 15px;
            display: inline-block;
            margin-top: 5px;
            .extra-child{
                img{
                    height: 16px;
                    width: 16px;
                    margin-right: 7px;
                    margin-top: -1px;
                }
                border: 2px solid #FFFFFF;
                border-radius: 30px;
                opacity: 1;
                padding: 4px 10px 5px 10px;
                font-family: 'Rubik';
                cursor: pointer;
                font-weight: 500;
            }
        }
        .extra-parent.active{
            .extra-child{
                border: 2px solid #FEBC2C;
                color:#FEBC2C;
            }
        }
    }
    .total_records{
        font-size: 16px;
        font-family: "Rubik";
        color:#000000 !important;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .border-bottom-1{
        border-bottom: 1px solid #DFDFDF !important;
    }
    .ant-card-cover{
        border: none !important;
    }
    .ant-card.ant-card-bordered.ant-card-hoverable{
        border: none !important; 
    }
    .ant-card-body{
        border: 1px solid #E2E2E2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 15px !important;
    }
    .image_text_set_on_card{
        background: #000000;
        padding: 5px 5px 5px 5px;
        text-align: center;
    }
    .card-1st-line{
        text-overflow: ellipsis;
        word-break: break-all;
        color:#FFFFFF;
        overflow: hidden;
        min-height: 20px;
        max-height: 20px;
        white-space: nowrap;
        span{
            color: #FFFFFF;
            letter-spacing: 0.75px;
            font-family: "Rubik";
        }
        .duration-lowercase{
            text-transform: lowercase;
        }
        .secondLine::before{
            display: inline-block;
            content: "·";
            color:#FFFFFF;
            position: relative;
            top: 0px;
            right: 1px;
            font-weight: bold;
            padding-right: 5px;
            padding-left:5px;
        }
    }
    .card-main-title{
        font-size: 20px !important;
        font-family: "Rubik";
        color:#000000 !important;
        font-weight: 500;
        
        text-overflow: ellipsis;
        word-break: break-all;
        margin-bottom: 5px!important;
        overflow: hidden;
        white-space: nowrap;
    }
    .card-main-description{
        color: #000000;
        font-family: 'Rubik';
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 45px;
    }
    .price_txt{
        font-size: 20px !important;
        font-weight: 500 !important;
        font-family: "Rubik";
    }
   .price_pp{
       font-size: 12px !important;
       font-family: "Rubik";
       font-weight: 500;
   }
   .heart_fill .text-right .share_icn {
     width: 16px!important;
     margin-right: 15px !important;
   }
   .card_rate{
       width: 50%;
       display: inline;
   }
   .card_like{
    width: 50%;
    float: right;
    }
    .heart_fill label svg{
        margin-top:0px !important; 
    }
    .ant-rate-star:not(:last-child) {
        margin-right: 3px;
    }
    .review_txt{
        margin-left: 10px;
        color: #000000;
        font-family: "Rubik";
    }
    .like-count-text-on-card{
        min-height: 21px;
        span{
            font-family: "Rubik";
            color: #000000;
            font-weight: 500;
        }
    }
     .card_tag{
        position: absolute;
        top: 0;
        left:0;
        margin-top: 25px;
        color: #099670;
        padding: 8px;
        text-transform: uppercase;
        background: #FFBC00;
        color: #000000;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        letter-spacing: 0.75px;
        font-family: "Rubik";
        font-weight: 500;
    }
    .show-more{
        text-align: center;
        padding: 10px;
        border: 2px solid #E2E2E2;
        cursor: pointer;
        border-radius:5px; 
        font-family: "Rubik";
        font-weight: 500;
        letter-spacing: 0.75px;
        color: white;
        background: #0A9670;
    }
    .show-more.no-more-result{
        cursor: not-allowed;
        background: #0A9670;
        opacity: 0.5;
    }
   .search-btn{
        height: 50px;
        margin-top: -1px; 
        width: 100%;
        background: #0A9670;
        color:white;
        font-size: 20px;
        font-family: "Rubik";
        font-weight:500;
   }
   .right-border{
        border-right: 1px solid #D4D4D4;
   }
   .ant-select-show-arrow.ant-select.ant-select-enabled{
        // width: 320px !important;
        display: inline-block;
        width: 100%;
   }
   .filter-view-section{
       display: inline-block;
       .filter-view-child{
           display: inline;
           padding: 6px;
           font-family: "Rubik";
            font-weight: 500;
            letter-spacing: 0.75px;
            color: #000000;
            font-size: 16px;
           img{
                padding-right: 2px;
                height: 17px;
                width: 17px;
                margin-right: 5px;
           }
       }
       .filter-view-child.grid{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #DFDFDF;
            border-radius: 3px 0px 0px 3px;
            opacity: 1;
            cursor: pointer;
       }
       .filter-view-child.mapview{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #DFDFDF;
            border-radius: 0px 3px 3px 0px;
            opacity: 1;
            cursor: pointer; 
       }
       .filter-view-child.active{
           background: #F2F4F6;
       }
       .filter-view-child.sort-By{
           padding-left: 30px;
        .ant-select-selection{
            border:none !important;
        }
        .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
            box-shadow: none !important;
        }
        .ant-select-arrow{
            margin-top:-8px;
        }
       }   
   }
   .map-block.height{
         height: 497px !important;
    }
    .map-view{
        height: 700px;
        .map-view-card{
            height: 700px;
            overflow: auto;
            padding:0px !important;
        }
        .ptop0{
            padding-top: 0px !important;
        }
        .close-map{
            position: absolute;
            z-index: 100;
            font-size: 25px;
            color: black;
            padding: 10px 20px;
        }
        .all-border{
            width: 98%;
            height: 700px;
            margin-left:10px;
            border: 4px solid #DFDFDF;
        }
    }
    .show-more-parent{
        position: absolute;
         margin-top: -65px;
         padding: 5px 13px 12px 25px !important; 
    }
    .skill-level-img{
        height: 55px;
        width: 40px;
        margin-top: 10px;
    }
    .review-text{
        margin-left: 7px;
        margin-top: 1px;
        position: absolute;
        color: #000000;
        font-weight: 500;
        font-family: 'Rubik';
    }    
    .like-share-save{
        margin-bottom: 5px;
    }
    .like-heart-new-icon{
        width: 20px;
    }
    .share_new_icon{
        width: 20px;
        margin-left: 20px;
    }
    .save-new-icon{
        float: right;
        width: 16px;
    }
    .google-map-card{
        width: 250px;
        .ant-card.ant-card-bordered{
            z-index: 101;
        }
        .ant-card-cover{
            img{
                height: 150px !important;
            }
        }
        .card_close_tag{
            position: absolute;
            top: 0;
            right: 0;
            padding: 8px;
            color: #000000;
            i{
                font-size: 16px;
            }
        }
    }
}

// Lanugage Dropdown list   
.language-dropdown{
    .search-dropdown{
        padding:15px 10px 10px 15px;
    }
    .ant-popover-inner-content{
        height: 350px !important;
        overflow: auto;
        padding: 0px !important;
        width: 320px;
        .ant-menu-item{
            height: 30px !important;
            line-height: 30px !important;
            margin: 0px;
            padding: 0 0 0 16px;
        }
        .ant-menu.ant-menu-light{
            border-right: none;
        }
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: transparent;
    }

}

.why-choose-us{
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    .why-choose-main-title {
      font-size: 40px !important;
      font-weight: 500 !important;
      font-family: "Rubik";
    }
    
    .why-choose-main{
      display: inline-grid;
      padding-right: 40px;
      img{
        height: 70px;
        width: 50px;
        margin-bottom: 10px;
      }
      .why-title{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Rubik';
      }
    }
    .why-choose-txt{
      width: 260px;
      line-height: 1.5;
      font-family: 'Rubik';
      text-align: justify;
    }
    .border-bottom-yellow{
      background: #FBCA48 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 65px;
      height: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .color-yellow{
      color:#FFBC00;
    }
  }

.btn-apply{
    text-align: center !important;
    button{
        margin-top:15px; 
    }
 }

 /*  Map View, Map Marker, Google Map css ---- Start*/
.marker-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
 .map-icon{

    top: -25px;
    color: #000000;
    right: -40px;
    position: absolute;
    font-size: 13px;
    background: #FFFFFF;
    text-align: center;
    visibility: visible;
    font-weight: 500;
    border-radius: 2px;
    font-family: 'Rubik';
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transform: scale(0.90, 0.90);
    transition: all .08s ease-in-out;
 }
 span.map-icon:after{
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    border-top: 4px solid #FFFFFF;
    margin-left: -4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
 span.map-icon.map-icon-animate:after{
    border-top: 4px solid #000000;
}

.map-icon-animate{
    // z-index: 100;
    // transform: scale(1, 1);
    // transition: all .1s ease-in-out;
    -webkit-animation: action 0.5s infinite  alternate;
    animation: action 0.5s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

// .map-icon-animate{
//     z-index: 100;
 
//     color:white;
//     transform: scale(1, 1);
//     transition: all .1s ease-in-out;
// }
.card-title-hover{
    max-width: 350px;
}

/*  Map View, Map Marker, Google Map css ---- End*/


@media (min-width:320px) and (max-width:767px){
    .getinspired-page{
        .expert_head_bg{
            height: 95vh;
            .expert_header_info
            {
              top: 50%;
            }
        }
       .right-border{
           border: none !important;
       }
       .search-parent{
            text-align: center;
            .search-btn{
                height: 40px !important; 
                margin-bottom: 5px;
                width: 95%;
            }
        }
       .types{
            margin-bottom: 15px;
       }
       .filter-section-child{
            padding-right: 0px;
            padding-bottom: 0px;
            margin: 15px 15px 0px 15px;
        }
       .extra-filters{
           margin: 0px;
        .extra-parent{
            padding-right: 5px;
            font-size: 12px;
        }
       }
       .web_grid {
            .padding-zero{
                padding: 0px !important; 
            }
        }
        .map-view{
            height: 0px;
         .map-view-card.hide{
                 display: none !important;
             }
             .google-map-height{
                 height: 550px !important;
                 width: 100%;
             }
         }
         .show-more-parent{
             position: relative;
             margin-top:0px;
             padding: 0px; 
         }
       .filter-view-child.sort-By{
            .sort-by-txt{
                display: none;
            }
        }
        .filter-view-section{
            width: 100%;
            .filter-view-child.grid, .filter-view-child.mapview {
                float: left;
            }
            .ant-select-selection__rendered{
                margin-left: 6px;
            }
        }
    } 
    .advance-filter-popup{
        left: 25px !important;
        right: 25px !important;
    }
    .filter-view-child.sort-By{
        padding-left: 10px !important;
    }
    .language-dropdown {
        .ant-popover-inner-content{
            width: 290px;
        }
    }
}