.mobile-drawer {
  .ant-drawer-close {
    height: 100%;
    font-size: 20px;
    color: #111;
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    font-size: 18px;
    font-weight: 400;
    font-family: "rubik";
    color: map-get($colors, "dark");
    margin-bottom: 30px;

    &:hover {
      color: map-get($colors, "secondary");
    }
  }

  .header-nav-list .active:after {
    display: none;
  }
  
  .header-nav-list {
    &.another{
      a{
       margin-bottom: 0;
       font-size: 16px;
      }
    }
  }

  .get-started-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      .line {
        opacity: 0.5;
      }
    }

    .line {
      height: 3px;
      width: 70%;
      background-color: #ffba00;
      margin: 4px 0;
    }

    .get-started-btn {
      display: flex;
      align-items: center;
      position: relative;
      box-shadow: none;

      span {
        div {
          width: 11px !important;
          margin-left: 10px !important;
        }
      }
      img {
        margin-left: 10px;
      }
    }
  }

  button {
    color: white;
    border-color: transparent;

    &:before {
      content: "";
      height: 2px;
      background: #ffba00;
      top: 4px;
      width: 100%;
      position: relative;
    }

    &:hover {
      color: #0f0f0f;
      border-color: #ffba00;
      cursor: pointer;

      img {
        filter: invert(0%) sepia(6%) saturate(4238%) hue-rotate(91deg)
          brightness(20%) contrast(87%);
      }
    }
  }
}

.get-started-icon {
  div {
    width: 12px;
  }
}

.currency-selection__button{
  color: black !important;
  border: 0px !important;
  background-color: transparent;
  box-shadow: none;
  
  &:hover,
  &:focus,
  &:active {
    color: #ffba00 !important;
    background-color: transparent;
  }
}

.currency-selection-container{
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 600px;
  overflow: auto;
  flex-wrap: wrap;

  .section__header {
    width: 100%;
    margin: 10px 0;
  }

  .currency-item {
    width: 33%;
    line-height: 1.9rem;
    padding: 0;
    border-bottom: 1px solid #eee;

    .currency {
      color: #2a2a2e;
      padding: 9px 12px;

      &:hover {
        background-color: #f8f7f9;
        cursor: pointer;
      }

      &__text {
        margin-right: 15px;
        color: #5392f9;
        width: 13.5%;
      }

      &__secondary-text {
        color: #2a2a2e;
      }
    }
  }
  @media (min-width:320px) and (max-width:560px){
    .currency-item {
      width: 100%;
     }
  }
}


.disabled-menu{
  cursor: not-allowed;
  a{
    pointer-events: none;
  }
}

.header-img-div {
  div {
    width: 170px;
    height: 44px;
    top: 35px !important;
    margin-left: 5% !important;
  }
}


.currency-selection{
  padding-top: 13px !important;
  .ant-select-selection__rendered{
    margin-left: 15px;
  }
  .ant-select-selection.ant-select-selection--single{
    background: transparent;
    border: none;
    box-shadow:none;
    -webkit-box-shadow:none;
  }
  .ant-select-arrow .ant-select-arrow-icon{
    // margin-top: -4px;
    // margin-right: 5px;
    // font-size: 15px;
    // color: #000000;
    margin-top: -2px;
    margin-right: 10px;
    font-size: 12px;
    color: #000000;
  }
  .ant-select-selection-selected-value{
    opacity: 1 !important;
    font-size: 14px !important;
    font-weight: 300;
    font-family: "rubik";
    color: #0f0f0f;
    div{
      width: 22px;
      height: 12px;
    }
    img{
      margin-right: 5px;
    }
  }
}
.currency-selection-select{
  ul{
    li{
      img{
        margin-right: 5px;
      }
    }
  }
}
.flag-img {
  width: 22px !important;
}
.main-menu{
  display: flex;
  flex: auto;
  justify-content: center;
}

@media (min-width:320px) and (max-width:560px){
  .header-container1 {
    padding-left: 5px;
    padding-right: 5px;
    .main-header-container {
      padding-left: 1%;
      padding-right: 1%;
    }
    button.toggle-drawer-btn{
      padding-right: 5px;
    }
  }
}

@media (min-width:320px) and (max-width:992px){
  .currency-selection{
    margin-bottom: 20px;
    padding-top: 0px !important;
  }
  .currency-selection.exp{
    margin-top: 20px !important;
  }
}