.home {
  font-family: "Rubik";

  // Typography
  .rubik-54-medium {
    font-size: 50px !important;
    font-weight: 500 !important;
  }

  .font-size-96 {
    font-size: 80px;
  }
  .font-size-26 {
    font-size: 24px;
  }

  .bgImage {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .section1 {
    min-height: calc(100vh - 110px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    padding: 0 1rem;

    .content {
      max-width: 1000px;
      width: 100%;
      z-index: 10;

      .bold-text {
        color: #999999;
        font-weight: bold;
        text-align: center;

        .text-loop {
          color: white;
          border-radius: 6px;
          overflow: hidden;
          text-transform: uppercase;

          span {
            padding: 5px 20px;
          }
        }

        .with-us-text {
          color: #999999;
          -webkit-text-fill-color: white; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #999999;
        }
      }

      .get-started {
        margin-top: 50px;
        max-width: 767px;

        font-weight: 400;
        color: black;

        button {
          color: white;
          margin-top: 39px;
          border-color: transparent;

          &:hover {
            border-color: #ffba00;
            cursor: pointer;
            color: black;
          }
        }
      }

      .watchVideoMobileButton {
        font-style: 20px !important;
        font-weight: 500 !important;
        color: #111 !important;
        display: block !important;
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;

        img {
          margin-left: 10px;
        }
      }
    }

    .is-full-screen-video {
      color: white;
      opacity: 0.8;

      .bold-text {
        color: white;

        .with-us-text {
          color: white;
          -webkit-text-fill-color: unset;
          -webkit-text-stroke-width: unset;
          -webkit-text-stroke-color: unset;
        }
      }

      .get-started {
        color: white;

        button {
          color: white;

          &:hover {
            color: white;
          }
        }
      }

      .font-size-96 {
        font-size: 75px;
      }
    }
  }

  .section2 {
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .header {
      margin-bottom: 36px;
      color: #111111;
    }

    .categories {
      display: flex;
      align-items: flex-start;
      min-height: 90px;

      .all-category {
        min-width: 160px;
      }

      .other-categories {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .first-row {
          display: flex;
        }
      }

      .see-more-button-container {
        display: flex;
        margin-left: 1rem;

        button {
          margin-bottom: 0;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }

      .category {
        font-weight: 400;
        font-size: 22px;
        color: #111111;

        &:not(:last-child) {
          margin-right: 67px;
          margin-bottom: 1rem;
        }
      }

      .active {
        color: #ffbc00;
        border-top: 2px solid #ffbc00;
        border-bottom: 2px solid #ffbc00;
        padding: 5px 0;
        font-weight: 500;
      }
    }

    .activity-cards {
      margin-top: 65px;
    }

    .ex__primary_btn {
      color: white;
      margin-top: 39px;
      border-color: transparent;

      &:hover {
        color: #0f0f0f;
        border-color: #ffba00;
        cursor: pointer;
      }
    }
  }

  .join-the-expedition {
    min-height: 506px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    padding-bottom: 34px;

    .join-the-expedition-content {
      padding-top: 60px;
    }

    .header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
    }

    .our-aim {
      display: flex;
      justify-content: center;
      min-height: 387px;
      max-width: 1040px;
      position: relative;
      margin-top: 40px;
      height: 100%;
      padding: 0 20px;

      .our-aim-text {
        box-shadow: 9px 19px 21px #6e6e6e1a;
        padding: 100px;
        text-align: center;
        background-color: white;
        font-size: 21px;
        line-height: 2;
        position: relative;
        z-index: 5;
        color: #111;

        b {
          display: contents;
        }

        .compassImage {
          position: absolute;
          left: -113px;
        }

        .quoteOpen {
          position: absolute;
          top: 0;
          left: 10%;
          transform: translateY(-50%);
        }

        .quoteClose {
          position: absolute;
          bottom: 0;
          right: 10%;
          transform: translateY(50%);
        }
      }

      .our-aim-images {
        z-index: 1;

        .flashlight {
          position: absolute;
          left: -97px;
          top: -48px;
        }

        .hammer {
          position: absolute;
          right: -143px;
          top: -41px;
        }
      }
    }
  }

  .be-more-sections {
    width: 100%;
    margin-top: 120px;

    .be-more-section {
      .be-more-section-body {
        display: flex;
        align-items: center;

        .be-more-image-container-left {
          width: 50%;
          background-image: url("../public/images/home/tabletLeft.png");
          background-size: cover;
          background-repeat: no-repeat;

          img {
            max-width: 100%;
            padding: 30px 60px 30px 0px;
          }
        }

        .be-more-image-container {
          width: 50%;
          background-image: url("../public/images/home/tabletImage.png");
          background-size: cover;
          background-repeat: no-repeat;

          img {
            max-width: 100%;
            padding: 30px 0 30px 60px;
          }
        }

        .be-more-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1 1;
          align-items: flex-end;
          padding-right: 80px;
          padding-left: 20px;

          .be-more-header {
            font-size: 50px !important;
            color: #111;

            div:last-child {
              background-color: #099670;
              font-weight: bold;
              display: inline-block;
              padding: 0 20px;
              color: white;
            }
          }

          .be-more-summary {
            color: #099670;
            font-size: 25px;
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: 490px;
            font-style: italic;
            font-weight: 500;
          }

          .be-more-description {
            font-size: 20px;
            margin-top: 35px;
            margin-bottom: 50px;
            max-width: 490px;
            line-height: 1.5;
            color: #111;
          }

          button {
            color: white;
            border-color: transparent;
            margin-bottom: 50px;
            &:hover {
              color: #0f0f0f;
              border-color: #ffba00;
              cursor: pointer;
            }
          }
        }
      }

      .be-more-section-footer {
        background-color: #f4f4f4;
        padding: 50px 100px;
        display: flex;
        max-width: 90vw;
        margin-left: auto;
        border-radius: 12px;
        font-size: 20px;
        margin-top: -20px;

        .dash {
          min-width: 70px;
          height: 2px;
          background-color: #111111;
          margin-top: 15px;
        }

        .text {
          max-width: 1100px;
          margin-left: 45px;
          color: #111111;
          line-height: 1.5;
        }
      }
    }
  }

  .be-more-inspired {
    margin-top: 90px;

    .be-more-content {
      align-items: flex-start !important;
      padding-left: 80px;
    }

    .be-more-section-footer {
      margin-left: unset;
      padding-left: 18%;
    }
  }

  .be-more-sustainable {
    margin-top: 90px;
  }

  .learning-with-experts {
    position: relative;
    padding-bottom: 80px;
    margin-top: 100px;
    max-width: 100vw;

    .learning-with-experts-body {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
    }

    .header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
      margin-top: 60px;
    }

    .description {
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      color: white;
      margin-top: 13px;
      max-width: 720px;
      text-align: center;
    }

    .card {
      max-width: 1046px;
      padding: 50px 60px;
      background-color: #fff;
      box-shadow: 9px 19px 21px #6e6e6e1a;

      .point:first-child {
        margin-bottom: 40px;
      }

      .card-header {
        color: #099670;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        img {
          margin-right: 20px;
        }
      }

      .card-description {
        font-size: 22px;
        line-height: 2;
        color: #111;
      }
    }

    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      width: 100%;

      .features-row1 {
        display: flex;

        .feature {
          border-bottom: 1px solid #d2d4d3;
        }

        .feature:not(:last-child) {
          border-right: 1px solid #d2d4d3;
        }
      }

      .features-row2 {
        display: flex;
        align-items: center;

        .feature:not(:last-child) {
          border-right: 1px solid #d2d4d3;
        }
      }

      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 290px;
        height: 155px;
        width: 100%;
        min-width: 240px;

        img {
          margin-bottom: 28px;
          height: 40px;
        }

        h3 {
          font-size: 19px;
          color: #111;
        }
      }
    }
  }

  .explore-with-experts {
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding: 60px;

    .description {
      font-size: 20px;
      text-align: center;
      max-width: 920px;
      line-height: 1.8;
    }

    button {
      color: white;
      border-color: transparent;

      &:hover {
        color: #0f0f0f;
        border-color: #ffba00;
        cursor: pointer;
      }
    }
  }

  .calling-our-experts {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    max-width: 100vw;
    position: relative;

    & > div {
      flex: 1;
    }

    img {
      max-width: 100%;
    }

    .calling-our-experts-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1;
      align-items: flex-end;
      padding-right: 80px;
      padding-left: 20px;

      .calling-our-experts-header {
        font-size: 50px;
        font-weight: 500;
      }

      .calling-our-experts-summary {
        color: #099670;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: 520px;
        font-style: italic;
        font-weight: 500;
      }

      .calling-our-experts-description {
        font-size: 22px;
        margin-top: 35px;
        margin-bottom: 50px;
        max-width: 540px;
        line-height: 1.5;
        color: #111;
      }

      button {
        color: white;
        border-color: transparent;

        &:hover {
          color: #0f0f0f;
          border-color: #ffba00;
          cursor: pointer;
        }
      }
    }

    .experts-container {
      position: relative;
      width: 100%;

      .experts-container-background {
        position: absolute;
      }
    }

    .experts {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      padding: 0 50px;

      .expert {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -60px;

        &:not(:last-child) {
          margin-right: 20px;
        }

        .expert-details {
          max-width: 197px;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(-50%);
          padding: 10px;
          margin-left: 8px;
          margin-right: 8px;
          text-align: center;

          .expert-name {
            color: #111;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 3px;
          }

          .expert-expertise {
            color: #099670;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // .join-our-community {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-bottom: 50px;

  //   .email-input-box {
  //     max-width: 919px;
  //     box-shadow: 0px 0px 21px #6e6e6e1f;
  //     border: 1px solid #e1e1e1;
  //     padding: 12px 10px;

  //     input {
  //       border: none;
  //       height: 44px;
  //     }

  //     .ant-input-group-addon {
  //       background-color: transparent;
  //     }
  //   }

  //   .mobile-button {
  //     margin-top: 30px;
  //   }

  //   button {
  //     color: white;
  //     border-color: transparent;

  //     &:hover {
  //       color: #0f0f0f;
  //       border-color: #ffba00;
  //       cursor: pointer;
  //     }
  //   }
  // }
}

body {
  overflow: visible !important;
}

.view-more-trips {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  // border-radius: 50px 50px 50px 0;
  color: map-get($colors, "dark");
  box-shadow: 5px 5px 5px 0px rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}
.header_banner {
  position: relative;
  img {
    width: 100%;
    height: 85vh;
  }
  .ant-carousel {
    .slick-dots-bottom {
      bottom: 25px;
      button {
        height: 5px;
        border-radius: 50px;
      }
    }
  }
}

.start_exploring {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  border-radius: 5px 5px 5px 5px;
  color: map-get($colors, "dark");
  //box-shadow: 5px 5px 5px 0 rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}

.view-more-trips {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  // border-radius: 50px 50px 50px 0;
  color: map-get($colors, "dark");
  box-shadow: 5px 5px 5px 0px rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}

.header-container {
  .banner_txt {
    position: absolute;
    bottom: 20%;
    h1 {
      text-transform: capitalize;
      color: map-get($colors, "light");
      span {
        color: map-get($colors, "secondary");
      }
    }
    p {
      color: map-get($colors, "light");
    }
  }
  .main_title {
    color: map-get($colors, "success");
    font-weight: 800;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 0;
    letter-spacing: 3px;
  }
  .h_padding {
    padding: 60px 0;
  }
  .join_sec {
    p {
      color: map-get($colors, "dark");
    }
    img {
      width: 100%;
    }
    p:nth-child(1) {
      line-height: 30px;
    }
  }
}
.flex_sec {
  align-items: center;
  display: flex;
}

.h_sub_title {
  .sub_title_bg {
    text-align: left;
    position: relative;
    &::after {
      content: "";
      background: map-get($colors, "success");
      height: 2px;
      width: 15px;
      display: block;
    }
  }
  span {
    text-align: left;
    position: absolute;
    left: 0;
    top: -50px;
    font-size: 77px;
    color: #ffba00;
    font-weight: 900;
    opacity: 0.2;
  }
  p {
    text-align: left;
    line-height: 30px;
  }
}

.how_it_sec {
  background: #f8f8f8;
  img {
    width: 100%;
  }
}
.live_sec {
  background: url("../public/images/home/2543.png");
  height: 69vh;
  background-size: cover;
  position: relative;
  h2,
  p {
    font-style: normal;
    color: map-get($colors, "light");
  }
}

.learning_bg {
  .learning_sec {
    display: flex;
    h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      line-height: 30px;
    }
    img {
      display: inline-block;

      align-self: center;
      width: 80px;
      background: #fff;
      box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
      padding: 15px;
      border-radius: 10px;
    }
  }
  .h_right_sec {
    display: flex;
    align-self: center;
    &:hover {
      color: map-get($colors, "success");
    }
    .h_right_img {
      border: 1px solid map-get($colors, "secondary");
      border-radius: 50%;
      padding: 10px;
      &:hover {
        background: map-get($colors, "success");
        border: 1px solid map-get($colors, "success");
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    p {
      display: inline-block;
      text-transform: uppercase;
      align-self: center;
    }
  }
}

.submit_sec {
  background: map-get($colors, "success");
  h2 {
    color: map-get($colors, "light");
    letter-spacing: 2px;
  }
  .ant-btn-lg {
    border-radius: 15px 15px 15px 0 !important;
    padding: 0 50px;
    background: map-get($colors, "secondary");
    border-color: map-get($colors, "secondary");
    color: map-get($colors, "dark");
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 18px;
    height: 50px;
  }
  .ant-input-affix-wrapper {
    height: 50px;
  }
  .ant-input-search-enter-button input + .ant-input-group-addon {
    border-radius: 15px 15px 15px 0;
    position: relative;
    left: -15px;
  }
  .ant-input-group-addon {
    border-radius: 15px;
    position: relative;
    left: -15px;
  }
  input.ant-input.ant-input-lg {
    border-radius: 15px;
  }
  .anticon {
    background: url("../public/images/home/email_ic.png");
    width: 100%;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .ant-input-affix-wrapper .ant-input-prefix :not(.anticon) {
    visibility: hidden;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 19px;
    top: 27px;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 50px;
  }
  .ant-input-group .ant-input {
    &:hover,
    &:focus {
      z-index: 0;
    }
  }
}

.h_line {
  &:after {
    content: "";
    background-color: map-get($colors, "secondary");
    height: 3px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.clr_bg {
  background-color: #f8f8f8;
  padding: 120px 0;
}
.calling_sec {
  margin-top: -12rem;
  p {
    line-height: 30px;
  }
  .ant-card-bordered {
    border-radius: 25px;
  }
  .ant-card-meta-title {
    font-weight: 800;
    font-size: 20px;
  }
  .ant-card-meta-description {
    color: map-get($colors, "success");
    font-weight: 800;
    font-size: 16px;
  }
  .ant-card-cover {
    img {
      height: 40vh;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
}
.expe_bg {
  background-color: #f8f8f8;
  padding: 120px 0;
  position: relative;
  &:before {
    background: url("../public/images/home/experiences_bg_logo.png");
    content: "";
    background-size: cover;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}
.expe_sec {
  margin-top: -15rem;
  img {
    width: 100%;
    border-radius: 30px 30px 30px 0;
    height: 15rem;
    object-fit: cover;
    position: relative;
    &:hover {
     // border: 2px solid;
    }
  }
  .owl-theme .owl-dots {
    display: none;
  }
  .owl-theme .owl-nav {
    position: absolute;
    left: -22rem;
    bottom: 4rem;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    border: 1px solid;
    padding: 0px 17px !important;
    border-radius: 5px;
    color: map-get($colors, "secondary");
    border-color: map-get($colors, "success");
    font-size: 45px;
    line-height: 50px;
    outline: none;
  }
  .owl-carousel .owl-nav button.owl-prev {
    margin-right: 15px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    &:hover {
      background: map-get($colors, "success");
    }
  }
  /* Common style */
  .grid {
    color: map-get($colors, "success");
    &:hover {
      color: map-get($colors, "success");
    }
  }
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    cursor: pointer;
  }

  .grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
  }

  .grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }

  .grid figure h2 span {
    font-weight: 800;
  }

  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  figure.effect-bubba {
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba:hover img {
    opacity: 1;
  }

  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba figcaption::before {
    border-top: 1px solid map-get($colors, "secondary");
    border-bottom: 1px solid map-get($colors, "secondary");
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba figcaption::after {
    border-right: 1px solid map-get($colors, "secondary");
    border-left: 1px solid map-get($colors, "secondary");
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  figure.effect-bubba:hover figcaption::before,
  figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  figure.effect-bubba:hover h2,
  figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 20px;
  }
  .ant-input-affix-wrapper .ant-input-prefix :not(.anticon) {
    visibility: hidden;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 55px;
  }
}
.vm_homepage{
  text-align: right !important;
  padding-top: 25px;
  margin-right: -5px;
  button.ant-btn.view-more-trips.button_set {
    margin: 0 !important;
  }
}
.workshop{
  .ant-row .heart_fill .text-right{
    display: block !important;
  }
}
.meet_expert_home{
  .location_icon {
    padding-right: 3px !important;
    width: 15px !important;
    margin-bottom: 2px !important;
  }
  #languageIcon {
    width: 15px !important;
    margin-right: 5px !important;
  }
  #followerIcon {
    width: 16px;
    margin-right: 5px;
  }
  .owl-carousel .owl-item img {
    display: inline-block;
    width: 100%;
  }
  .expert_bg .ant-card-bordered {
     border-radius: 0px; 
  }
  .view_profile{
    padding: 15px 40px!important;
  }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none !important;
  }
}
.expert-home-page {
  .loader{
    position: unset !important;
  }
  .online_tag {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    color: #099670;
  }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none !important;
  }
}

.blog-website{
  border-top: none !important;
}
#subscribe-error{
  display: none;
  width: 919px;
  text-align: left;
  padding: 5px 80px 0px;
  color: red;
}
#subscribe-success{
  display: none;
  width: 919px;
  text-align: left;
  padding: 5px 80px 0px;
  color: #099670; 
}

@media (max-width:768px){
  #subscribe-error{
    width: auto;    
    padding: 5px;
  } 
}
.ex__primary_btn.remove_hover:focus, .ex__primary_btn.remove_hover:hover{
  background-color: transparent;
  border: 1px solid #ffba00 !important;
  color: #ffba00 !important;
  }


@import "./_home.media.scss";
