@import "./_variable.scss";

@media (max-width: 1300px) {
  .home {
    .calling-our-experts {
      .experts {
        .expert {
          .expert-details {
            .expert-expertise {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

// max-width = 1200px
@media (max-width: map-get($grid-breakpoints,"xl")) {
  .home {
    .section1 {
      .content {
        .get-started {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .landing-get-started {
      margin-left: auto;
      margin-right: auto;
    }

    .join-the-expedition {
      .our-aim {
        .our-aim-images {
          img {
            display: none;
          }
        }

        .compassImage {
          display: none;
        }
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-footer {
          max-width: 100vw;
          margin-top: 30px;
        }
      }
    }

    .calling-our-experts {
      flex-direction: column;
      background-color: #f6f6f6;
      padding-top: 50px;
      padding-bottom: 20px;

      .experts-container {
        .experts-container-background {
          display: none;
        }
      }

      .experts {
        justify-content: center;
        margin-top: 50px;

        .expert {
          top: 0;
        }
      }
    }

    .join-our-community {
      margin-top: 50px;
      padding: 1rem;
    }
  }
}

// max-width = 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .home {
    .section2 {
      .categories {
        width: 100%;
        overflow: auto;
        align-items: center;
        padding-bottom: 15px;

        .other-categories {
          .first-row {
            width: 1200px;
          }
        }
      }
    }

    .join-the-expedition {
      position: relative;
      overflow: hidden;
      padding-bottom: 34px;

      .bgImage {
        width: unset;
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-body {
          flex-direction: column;

          .be-more-image-container {
            align-self: flex-end;
            width: 60%;
            margin-top: 40px;
          }

          .be-more-content {
            padding-right: 20px;
          }
        }
      }

      .be-more-inspired {
        .be-more-section-body {
          flex-direction: column-reverse;

          .be-more-image-container-left {
            align-self: flex-start;
            width: 60%;
            margin-top: 40px;
          }
        }
      }
    }

    .learning-with-experts {
      .bgImage {
        width: unset;
        height: 60%;
      }
    }

    .calling-our-experts {
      .experts {
        padding: 0 10px;
      }
    }
  }
}

// max-width = 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
  .home {
    .rubik-54-medium {
      font-size: 33px !important;
    }

    .section2 {
      .header {
        text-align: center;
      }
    }

    .be-more-sections {
      margin-top: 50px;

      .be-more-section {
        .be-more-section-body {
          .be-more-image-container,
          .be-more-image-container-left {
            width: 90%;
          }
        }

        .be-more-section-footer {
          padding: 50px 20px;
          display: flex;
          flex-direction: column;
          border-radius: 0;

          .dash {
            width: 100px;
          }

          .text {
            margin: 0;
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.5;
          }
        }
      }
    }

    .learning-with-experts {
      .bgImage {
        width: unset;
        height: 50%;
      }
    }

    .calling-our-experts {
      .calling-our-experts-content {
        padding-right: 20px;
      }
    }

    .join-our-community {
      .email-input-box {
        .ant-input-group-addon:first-child {
          position: absolute;
          z-index: 1;
          left: calc(50% - 14px);
          top: -25px;
          padding: 0;
        }

        .ant-input-group-addon:last-child {
          display: none;
        }

        input {
          text-align: center;
          font-size: 20px;
          outline: none;

          &:focus,
          &:active {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}

// max-width = 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .home {
    .font-size-96 {
      font-size: 46px !important;
    }

    .font-size-26 {
      font-size: 18px;
    }

    .section2 {
      .rubik-54-medium {
        font-size: 29px !important;
      }
    }

    .join-the-expedition {
      .our-aim {
        .our-aim-text {
          padding: 50px 20px;
          font-size: 19px;

          .quoteOpen,
          .quoteClose {
            height: 45px;
          }
        }
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-body {
          .be-more-content {
            .be-more-header {
              font-size: 37px !important;
            }
          }
        }
      }
    }

    .learning-with-experts {
      .description {
        font-size: 20px;
        line-height: 1.5;
      }

      .card {
        padding: 50px 30px;

        .card-description {
          font-size: 20px;
          line-height: 1.7;
          text-align: justify;
        }
      }

      .features {
        .feature {
          min-width: 180px;
          text-align: center;
        }
      }
    }

    .explore-with-experts {
      padding: 60px 20px;
      .rubik-54-medium {
        text-align: center;
      }
    }

    .calling-our-experts {
      .experts-container {
        overflow: auto;

        scrollbar-width: none; /* Firefox 64 */
        -ms-overflow-style: none; /* Internet Explorer 11 */
        &::-webkit-scrollbar {
          /** WebKit */
          display: none;
        }
      }

      .experts {
        width: 700px;

        .expert {
          min-width: 200px;
        }

        img {
          max-height: 350px;
        }
      }
    }

    .join-our-community {
      .rubik-54-medium {
        font-size: 30px !important;
        margin-bottom: 35px;
      }
    }
  }
}

// max-width = 400px
@media (max-width: map-get($grid-breakpoints,"xs")) {
  .home {
    .font-size-96 {
      font-size: 35px !important;
    }

    .learning-with-experts {
      .card {
        .card-header {
          font-size: 24px;
        }

        .card-description {
          font-size: 18px;
        }
      }
      .features {
        .feature {
          min-width: 150px;
          text-align: center;
        }
      }
    }

    .calling-our-experts {
      .rubik-54-medium {
        font-size: 32px !important;
      }
    }
  }
}
