.save-reposition{
    
    padding: 5px 20px;
    border-radius:5px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #000;
    transition: 0.5s; 
    &:focus {
        background-color: #ffba00;
        color: #000;
    }
    &:hover {
        background-color: #ffba00;
        color: #000;
    }
}
.save-res-div {    
    width: 100%;   
    padding: 10px 6px;
    text-align: right;
    button{      
        position: relative;      
        z-index: 99999;
        margin-right: 20px;
    }
}
.page_wrapper .header_bg .img-cancel{
    // left: 110px;
    bottom: 20px;
    top: -30px; 
    z-index: 99999;
    right:25px !important;
    margin-right: 120px !important;
    margin-top: -54px !important;

}

.avatar-editor{
    margin-top: -50px;
  touch-action: none;
    background-color: #e8e8e8;
    width: 100%  !important;
    margin-left: 0;
    margin-right: 0;
    height: 65vh !important;
    border-radius: 5px;
}
.create-profile-routes .avatar-editor{
  height: 350px !important;
}
.customreacteasy{
.reactEasyCrop_Container{
  img{
        top: 0 !important;
        left: 0 !important;
    }
}
.reactEasyCrop_CropArea{
    width: 100% !important;
}
}
.create-profile-routes{
    width:100%;
    .reactEasyCrop_Container{
        position: relative !important;
        height: 300px !important;
        width: 100% !important;
    }
    .customreacteasy .reactEasyCrop_Container img{
        position: relative !important;
        object-fit: cover;
        width:100%;
    }

    .form-profile-container{
        .step1-img{
            min-height:300px;            
        }
    & > div{
    &:first-child{
        .ant-form-item-control{
            .upload__image-wrapper{
                margin-right:20px;
            }
            
            .edit_btn {
                margin:10px 0px 0 !important;
                border-radius: 20px;
                border: 1px solid #ffba00;
                color: #000;
            }
            .edit-profile-btn{
                margin:-5px 0px 0 !important;
                // border-radius: 0px !important;
                // margin: 40px;
                // border: 1px solid #0A9670;
                // background: #0A9670;
                // color: white;
                // font-size: 20px;
                // font-family: "Rubik";
                // font-weight: 500;
            }
        }
    }

    .ant-form-item{
        height:unset;
    }
    }
    }
}

.step1-img:empty{
    display:none !important;
}

.step1-img img{
    // max-width: 600px;
    max-height: 300px !important;
}

.expert-profile{
    .page_wrapper .header_bg img {
        position: static !important;
     transform: translate(0%, 0%);
    }
}
  .reactEasyCrop_Container{
      height: 800px;
      z-index: 9999;
      top:50% !important;
      transform: translateY(-50%);
  }

  .create-profile-routes .reactEasyCrop_Container {
    position: relative !important;
    // height: 400px !important;
    /* width: 100% !important; */
    max-width: 800px !important;
}

.header_bg .reactEasyCrop_CropAreaGrid{
    @media (max-width: 1200px) {
        min-height: 650px !important;
        width: 100%;
      }
}

.profile-picture-style{
    margin-top: 30px;
    height: 175px;
    width: 175px;

&:empty{
    display: none;
}
}



.profile-crop{
    .reactEasyCrop_CropArea{
        width: 173px !important;
        height: 173px !important;
    }

    .form-profile-container{
        .step1-img{
            img{
                height: 92px !important;
            }
        }
    }
}

.step1-img-default{
    min-height:300px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed #d3d3d3;
    img{
        height:92px !important;
    }

    &:empty{
        display: none;
    }
    
}
.step-1-expert-form.learn_sec{
    .upload__image-wrapper{
        margin-top: -60px;
        margin-right: 150px;
        text-align: right;  

    // .edit_btn{
    // }

    }
    // .ant-form-item-children{
    //     text-align: right;
    // }
   
}

.antd-modal-redesign {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
}
.antd-modal-redesign .ant-modal-footer .ant-btn{
           opacity: 0;
  }

.page_wrapper .header_bg .edit_btn{
    right: -26px;
    bottom: -20px;

    @media (max-width:575px){
        bottom:0;
    }
}

@media (max-width: 1400px){
    .page_wrapper .header_bg .img-cancel {
        right:-30px !important;   
    }
   
    
}
.profile-picture-style {
    border: 1px dashed #d3d3d3; 
    text-align: center;
   
}
img.profile-img-default {
    margin-top: 30px;
}
.profile-image-reposition{
    .ant-btn{
        width: 175px;
    }
}

.reactEasyCrop_Image{
    @media (min-width:1200px){
        max-width:1200px !important;
        margin:0 auto;
    }
}

.modal-loading{
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: center;

     p{
        margin-top:35px;
    }
}

.ant-modal{
    padding:0;
    .ant-modal-content{
        height:100%;
    }
}
// .image-crp-repostion{
//     position: relative;
//     overflow: hidden;
//     .reactEasyCrop_Container{
//         transform: translateY(0%);
//     }
// }

.drag-info{
position: absolute;
top: 50%;
left: 43%;
background: #000000bf;
z-index: 999999;
font-size: 19px;
color: #f7f7f7;
padding: 4px 10px;
border-radius: 8px;
text-align: center;

}
.save-res-btns {
    width: 100%;
    padding: 10px 6px;
    text-align: right;
    background: #fff;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 999999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn-cancel{
        margin-right: 10px;
    }
}

.croper-adjuster-modal{
    position: relative;
    top: 50px;
    .ant-modal-content{
        max-width: 1080px;
        width: 100%;
            max-height: 800px;
            height: 100%;
            overflow: hidden;
            margin: 0 auto;
    }
    .reactEasyCrop_Container {
        height: 680px !important;
        z-index: 9999;
        top: 100% !important;
        transform: translateY(0%) !important;
        position: relative !important;
        background: #ccc;
    }
    .ant-modal-footer {
        display: none;
    }
}

.step1-img {   
    border: 1px dashed #d3d3d3;
}
.ex__primary_btn{
span.anticon.anticon-loading {
    padding-left: 10px;
}
}

.imagezoom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 5%;
    button {
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
    margin: 0 10px;
    &:focus{
        outline: none;
    }
    }
}
.save-reposition1{
    background-color: #FFBC00;
    height: 35px;
}

.step1-profile{
    .cover-uploader {
    border: 1px dashed #d3d3d3;
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

}
.step1-img.step1-profile {
    border: none;
}
.cover-upload-image {
    span{
        margin-top: 15px;
    }
}
@media (max-width:768px){
 .croper-adjuster-modal .reactEasyCrop_Container{
        height: 400px !important;
    }
    .drag-info {
    position: absolute;
    top: 50%;
    left: 35%;
    background: #000000bf;
    z-index: 999999;
    font-size: 16px;
    color: #f7f7f7;
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
}
}

@media (max-width:480px){
 .ant-modal.croper-adjuster-modal {
    width: 100% !important;
}
.save-reposition{
    padding: 5px 8px;
    font-size: 12px !important;
}
    .croper-adjuster-modal .reactEasyCrop_Container{
        height: 400px !important;
    }
    .drag-info {
    position: absolute;
    top: 47%;
    left: 33%;
    background: #000000bf;
    z-index: 999999;
    font-size: 13px;
    color: #f7f7f7;
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
}
}

.show-info-zoom{
    margin-left: 17px;    
    font-size: 13px;
    padding: 2px 6px;
    position: absolute;
    top: 40px;   
    color: #000;
    transition: 0.5s;
    -webkit-box-shadow: 3px 2px 12px 2px #5b6fe633;
    box-shadow: 3px 2px 12px 2px #5b6fe633;
    background: #FFBC00;
    border-radius: 4px;  
    font-weight: 600;
}
