.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1330px;
  max-width: 100%;
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }
}
.main-content {
  min-height: calc(100vh - 148px);
  // overflow: auto;
}

.top-header {
  background: #fff;
  height: 110px;
  position: relative;
}

.header_profile {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.header-container1 {
  padding: 15px 0 15px;
  width: 100%;
  background: transparent;
  display: flex;
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 100%;

  a {
    font-size: 18px;
    font-weight: 400;
    font-family: "rubik";
    color: map-get($colors, "dark");
    margin-right: 20px;

    &:hover {
      color: map-get($colors, "secondary");
    }
  }
  .header-logo {
    font-size: 24px;
    font-family: cursive;
  }
  .header-nav-list {
    padding: 10px;
    // div{
    //   font-size: 18px;
    //   color: #000;
    // }
  }

  .get-started-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
    float: right;

    &:hover {
      .line {
        opacity: 0.5;
      }
    }

    .line {
      height: 3px;
      width: 70%;
      background-color: #ffba00;
      margin: 4px 0;
    }

    .get-started-btn {
      display: flex;
      align-items: center;
      position: relative;
      box-shadow: none;

      span {
        div {
          width: 11px !important;
          margin-left: 10px !important;
        }
      }
      img {
        margin-left: 10px;
      }
    }
  }

  .toggle-drawer-btn {
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;

    div {
      width: 40px;
      margin-left: 15px !important;
    }
  }
  .toggle-drawer-btn:hover {
    border-color:transparent !important; 
  }
 
  button {
    color: white;
    border-color: transparent;

    &:before {
      content: "";
      height: 2px;
      background: #ffba00;
      top: 4px;
      width: 100%;
      position: relative;
    }

    &:hover {
      color: #0f0f0f;
      border-color: #ffba00;
      cursor: pointer;

      img {
        filter: invert(0%) sepia(6%) saturate(4238%) hue-rotate(91deg)
          brightness(20%) contrast(87%);
      }
    }
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  min-width: 70px;
  min-height: 70px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.13);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.23);
}
::-webkit-scrollbar-track {
  background: transparent;
}

.header-nav-list .active {
  color: map-get($colors, "success");
  height: auto;
  &:after {
    content: "";
    height: 2px;
    background: #099670;
    display: list-item;
    margin: 0 auto;
    text-align: center;
    list-style: none;
    top: 4px;
    position: relative;
  }
}

.header-nav-list .active div{
  color: map-get($colors, "success");
}
.header-nav-list a:hover div{
  color: map-get($colors, "secondary");
}

.profile_bg {
  width: 140px;
  .cursor-pointer {
    color: map-get($colors, "success") !important;
    padding: 10px 25px;
    a {
      color: map-get($colors, "dark");
      font-size: 14px;
      &:hover {
        color: map-get($colors, "success");
      }
    }
    &:hover {
      background: #0996700d;
      color: map-get($colors, "success");
    }
  }
  .border_bottom,
  .border_top {
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 10px;
    margin: 0 20px;
  }
}
.ant-popover-inner {
  border-radius: 10px;
}
.ant-popover-inner-content {
  // padding: 10px 0;
  box-shadow: 17px 13px 25px rgba(0, 0, 0, 0.1);
}

.privacy-policy {
  padding: 2rem 3rem;
}
.exprt-slider-owl{
  .owl-dots{
    margin-top: 25px;
    text-align: center;
    .owl-dot{
      background: none;
      color: inherit;
      border: none;
      padding: 0!important;
      font: inherit;
      cursor: pointer;
      display: inline-block;
      zoom: 1;
      span{
        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #ffba00;
        display: block;
        opacity: 0.5;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
      }
      &.active{
        opacity: 1;
      }
    }
  }
}