.learn_sec {
  .rdw-editor-toolbar {
    background: #f3f2f2 !important;
  }
  .clr_green {
    color: map-get($colors, "success");
  }
  .rdw-editor-wrapper {
    background: #f8f8f8;
    padding: 0px 10px 20px;
  }
  .rdw-editor-main {
    line-height: normal;
  }
  .ant-form-item-children {
    line-height: 0;
  }
  .date_icn {
    border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    outline: none;
    margin-top: -8rem;
    right: -30px;
  }
  .border_sec {
    border: 1px solid #d3d3d3;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px 10px;
  }
  .ant-form-item-label label {
    color: #0f0f0f;
    font-weight: 600;
  }

    .ant-advanced-search-form .ant-form-item {
       // margin-bottom: 5px;
    }
}

.ql-toolbar.ql-snow {
  background: #f3f2f2;
  border-radius: 5px 5px 0 0;
}

.ql-editor {
  background-color: #f8f8f8;
  border-radius: 0px 0px 5px 5px;
}
.ql-toolbar {
  &.ql-snow {
    border: none !important;
  }
}

.ql-container {
  &.ql-snow {
    border: none !important;
  }
}

.step-1-expert-form .ant-select-selection__rendered {
  line-height: 40px;
}

.ant-breadcrumb > span:last-child,
.ant-breadcrumb > span:last-child a {
  color: rgba(0, 0, 0, 0.65);
  letter-spacing: normal;
}

.learn_sec .clr_green {
  color: #099670;
  letter-spacing: normal;
}

.home-layout {
  overflow: hidden;
}

.home-layout .work_delete {
  position: absolute;
  right: -20px;
  color: red;
  padding: 2px;
  margin-top: -4em;
  border: 1px solid;
  border-radius: 50%;
  bottom:auto !important;
  
}

textarea.ant-input {
  background-color: #f8f8f8;
}

.creacte_learning_section_step_2 .border_sec{
  height: auto;
}
.currencyCode {
  min-width: 80px;
}
// Step2 start - Create workshop
.creacte_learning_section_step_2{
  .date-field {
    .ant-form-item{
      margin-bottom:10px; 
    }
    .label {
      color: #0f0f0f;
      font-weight: 600;
    }
  }
  .quill {
    .ql-editor{
      font-family: "rubik-regular";
      font-size: 14px;
      color:#000;
    }
  }
  
  .step2_date_and_price{
    padding-bottom:20px; 
    .ant-form-item{
      margin-bottom: 0px;
    }
  }
}
// Step2 End - Create workshop

// Step3 Start - Create workshop
.creacte_learning_section_step_3{
  .quill {
    .ql-editor{
      font-family: "rubik-regular";
      font-size: 14px;
      color:#000;
    }
  }
  .step3_itinerary{
    margin-bottom: 24px;
    .step-title{
      font-family: "rubik-regular" !important;
      color: #0f0f0f !important;
      font-weight: 600;
      font-size: 15px !important;
      letter-spacing: unset;
    }
  }
}

.step3_itinerary{
  .ant-row.ant-form-item{
    margin-bottom:5px !important; 
  }
  .work_delete{
    margin-top: -40% !important;
  }
  .work_delete.accommodation{
    margin-top: -15% !important;
  }
}
// Step3 End - Create workshop


.step-1-expert-form.learn_sec{
  .ant-slider{
    .ant-slider-mark{
      span:first-child {
        margin-left: 20px;
      }
    }
  }
}

.group-size-field{
  .ant-input-group{
    line-height: 0;
  }
  .ant-select-selection-selected-value{
    height: 50px;
  }
}
.step-1-expert-form{
  .ant-input-group-addon {
    border: none;
    // background: #dedddd;
    background: #ffba00;
    // background: #2fa686;
    font-weight: 600;
  }
  .ant-input-group-addon .ant-select-open .ant-select-selection, .ant-input-group-addon .ant-select-focused .ant-select-selection{
    color:#000 !important;
  }
}


h1 .after-discount{
  color: #099670 !important;
}

.discount_field{
  // padding-right:0px !important;
  .ant-input-group-addon{
    padding: 0px 14px;
    font-weight: 700;
    font-size: 16px;
  }
  .ant-input-group-compact{
    .ant-select-selection{
      border: none;
      background: #ffba00;
      font-weight: 600;
    }
  }
}

.orignal-price{
  color: #565959!important;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: line-through 3px #ffba00;
}
.card_discount_price{
  color: #565959!important;
  font-size: 16px;
  margin-left: 5px;
  text-decoration: line-through 3px #ffba00;
}