.mainhomepage {
  font-family: "Rubik";

  .expert_head_bg.expert_head_bg_color{ 
    background-image: url("./../public/images/home/main_banner.svg");    
  }
    .expert_head_bg{
        background-color:black; 
        background-size: cover;
        height: 85vh;
        background-position: center;
        position: relative;
        text-align: center;
    }
    .expert_head_bg .expert_header_info
    {
        text-align: left;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-left: 10%;
        padding-right: 5%;
        z-index: 10;
        .bg-title{
            font-weight: 600;
            font-size: 39px;
            font-family: 'Rubik';
            .first-txt{
                color: #FFFFFF;
            }
            .second-txt{
                color:#FFBC00;
                // margin-left: 10px;
            }
        }
        .bg-sub-title{
            font-size: 22px;
            font-weight: 400;
            font-family: 'Rubik';
            color: #FFFFFF;
            margin-top: 15px;
            line-height: 1.5;
        }
        .search-textbox {
          width: 728px;
          margin-top: 35px;
          margin-bottom: 15px;
          border-radius: 5px;
          input {
            height: 45px;
            span {
              background: #ffbc00;
            }
          }
          .ant-input-group-addon {
            color: #101111 !important;
            font-family: "Rubik";
            font-weight: 500;
            font-size: 18px;
            background: #ffbc00;
            padding: 0 25px;
          }
        }

        .search-textbox {
          background: white;
          width: 700px;
          padding: 7px 10px 5px 20px;
          color: black;
    
          .filter-sub-heading {
            color: #989898;
            font-family: "Rubik";
            font-size: 14px;
            font-weight: 500;
            padding-bottom: 5px;
          }
    
          .filter-heading {
            color: #000;
            font-family: "Rubik";
            font-size: 22px;
            font-weight: 500;
            .ant-select {
              font-size: 20px;
              font-family: "Rubik";
              color: #000 !important;
              font-weight: 500;
            }
            .ant-select-show-arrow.ant-select.ant-select-enabled {
              display: inline-block;
              width: 100%;
            }
            .ant-select-selection--single {
              height: 25px;
            }
            .ant-select-selection {
              border: none !important;
            }
            .ant-select-selection__rendered {
              margin-left: 0px;
              line-height: 30px;
            }
            .ant-select-selection__placeholder,
            .ant-select-search__field__placeholder {
              font-size: 22px;
              font-family: "Rubik";
              color: #000 !important;
              font-weight: 500;
            }
            .ant-select-focused .ant-select-selection,
            .ant-select-selection:focus,
            .ant-select-selection:active {
              box-shadow: none !important;
            }
          }
          .adventure{
            padding-right: 15px;
          }
          .country{
            border-left: 1px solid rgb(212, 212, 212);
            padding-left: 30px;
          }
    
          .search-parent{
            text-align: right;
            border-radius: 5px;
            .search-btn {
              border: none;
              padding: 0px;
              touch-action: none;
              border-color: transparent;
              img{
                height: 50px;
                border-radius: 5px;
              }
            }  
            .search-btn::after{
              display: none;
            }
            .ant-btn:active, .ant-btn.active, .ant-btn:hover, .ant-btn:focus{
              color:transparent;
              outline: none;
              border-color: transparent;
              box-shadow: none !important;
            }      
          }
        }
        
        .search-textbox-mobile {
          width: 728px;
          margin-top: 35px;
          margin-bottom: 15px;
          border-radius: 5px;
          input {
            height: 45px;
            span {
              background: #ffbc00;
            }
          }
          .ant-input-group-addon {
            color: #101111 !important;
            font-family: "Rubik";
            font-weight: 500;
            font-size: 18px;
            background: #ffbc00;
            padding: 0 25px;
          }
        }
    
        .search-textbox-mobile {
          width: 700px;
          padding: 5px 0px 8px 0px;
          color: black;
    
          .filter-sub-heading {
            color: #989898;
            font-family: "Rubik";
            font-size: 14px;
            font-weight: 500;
            padding-bottom: 5px;
          }
    
          .filter-heading {
            color: #000;
            font-family: "Rubik";
            font-size: 22px;
            font-weight: 500;
            .ant-select {
              font-size: 20px;
              font-family: "Rubik";
              color: #000 !important;
              font-weight: 500;
            }
            .ant-select-show-arrow.ant-select.ant-select-enabled {
              display: inline-block;
              width: 100%;
            }
            .ant-select-selection--single {
              height: 40px;
            }
            .ant-select-selection {
              border: none !important;
              padding-left: 10px;
            }
            .ant-select-selection__rendered {
              margin-left: 0px;
              line-height: 40px;
            }
            .ant-select-selection__placeholder,
            .ant-select-search__field__placeholder {
              font-size: 22px;
              font-family: "Rubik";
              color: #000 !important;
              font-weight: 500;
            }
            .ant-select-focused .ant-select-selection,
            .ant-select-selection:focus,
            .ant-select-selection:active {
              box-shadow: none !important;
            }
          }
          .adventure{
            padding-right: 15px;
          }
          .country{
            border-left: 1px solid rgb(212, 212, 212);
            padding-left: 30px;
          }
    
          .search-parent{
            text-align: right;
            border-radius: 5px;
            .search-btn {
              border: none;
              padding: 0px;
              touch-action: none;
              border-color: transparent;
              img{
                height: 50px;
                border-radius: 5px;
              }
            }  
            .search-btn::after{
              display: none;
            }
            .ant-btn:active, .ant-btn.active, .ant-btn:hover, .ant-btn:focus{
              color:transparent;
              outline: none;
              border-color: transparent;
              box-shadow: none !important;
            }      
          }
        }
        .extra-filters {
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 0px 30px 15px 0px;
          background-color: transparent;
          height: auto;
          .extra-parent {
            padding-right: 15px;
            display: inline-block;
            margin-top: 5px;
            a {
              color: white;
            }
            .extra-child {
              span{
                height: 24px;
                width: 24px;
                margin-right: 5px;
                margin-top: -2px;
                display: inline-block;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
              // border: 2px solid #ffffff;
              background: rgba(0, 0, 0, 0.6);
              border-radius: 3px;
              opacity: 1;
              padding: 10px 25px 10px 16px;
              font-family: "Rubik";
              cursor: pointer;
              font-weight: 500;
              font-size: 13px;
            }
            // .extra-child.active {
            //   border: 2px solid #febc2c;
            //   color: #febc2c !important;
            // }
          }
        }
     
    }
    .video.expert_header_info{
      opacity: 0.8;
    }
  // Typography
  .rubik-54-medium {
    font-size: 50px !important;
    font-weight: 500 !important;
  }
  .loader-position-relative{
    .loader{
      position: relative !important;
    }    
  }
  .loader{
    right: 0;
  }

  .font-size-96 {
    font-size: 80px;
  }
  .font-size-26 {
    font-size: 24px;
  }

  .bgImage {
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .title-case{
    text-transform: capitalize;
  }
  .section2 {
    background-color: #f4f4f4;
    padding-top: 90px;
    padding-bottom: 90px;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

    .section-2-subtitle{
      text-align: center;
      letter-spacing: 0px;
      color: #111111;
      opacity: 1;
      font-size: 20px;
      font-family: 'Rubik';
      line-height: 1.7;
    }

    .header {
      margin-bottom: 36px;
      color: #111111;
      text-align: center;
      
    }

    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
      .all-category {
        min-width: 160px;
      }

      .other-categories {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .first-row {
          display: flex;
          padding-top: 25px !important;
        }
      }

      .see-more-button-container {
        display: flex;
        margin-left: 1rem;

        button {
          margin-bottom: 0;
          cursor: pointer;
          background-color: transparent;
          border: none;
        }
      }

      .category {
        font-weight: 400;
        font-size: 22px;
        color: #111111;
        a{
          text-decoration: none;
          color: #111111;
        }
        &:not(:last-child) {
          margin-right: 67px;
          margin-bottom: 25px;
        }
      }
      .extra-category{
          .category{
            background: transparent;
            border: none;
          }
      }
      .extra-activity{
        text-align: center;
      }

      .active {
        color: #ffbc00;
        border-top: 2px solid #ffbc00;
        border-bottom: 2px solid #ffbc00;
        padding: 5px 0;
        font-weight: 500;
      }
    }

    .activity-cards {
      margin-top: 65px;
    }

    .ex__primary_btn {
      color: white;
      margin-top: 39px;
      border-color: transparent;

      &:hover {
        color: #0f0f0f;
        border-color: #ffba00;
        cursor: pointer;
      }
    } 
    .like-heart-new-icon, .share_new_icon{
      display: inline;
    }
    
  }

  // Epic Adventure Styling
  .section2.epic-adventure {
    background-color:white;
    padding-bottom: 65px;
    .title-case{
      margin-bottom:25px;
    }
    .epic-adventure_card {
      .ant-card.ant-card-bordered {
        border: none;
      }
      .ant-card-body {
        // box-shadow: 0 15px 15px -8px #e8e6e6;
        // -moz-box-shadow: 0 15px 15px -8px #e8e6e6;
        // -webkit-box-shadow: 0 15px 15px -8px #e8e6e6;
        padding: 0px 20px 0px 5px;
      }
      .card {
        display: flex;
        align-items: center;
        .card_img {
          img {
            width: 80px;
            height: 80px !important;
            border-radius: 5px;
            object-fit: cover;
          }
        }
        .card_title {
          margin-left: 20px;
          font-family: "Rubik";
          color: #000000;
          .title {
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0px;
          }
          .count {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
            color: #ffbc00;
            text-decoration: underline;
          }
        }
      }
      .slick-dots li button:before{
        color: #32a687;
        font-size: 10px;
      }
    }
    .ex__primary_btn{
      padding: 0 30px;
    }
  }

  .meet-our-expert{
    .section-2-subtitle{
      text-align: center;
      width: 65%;
    }
  }

  .expert_calling{ 
    background-image: url("./../public/images/home/calling_all_expert.svg");    
  }

  .expert_calling{
      background-color:black; 
      background-size: cover;
      height: 65vh;
      background-position: center;
      position: relative;
      text-align: center;
      .border-bottom-yellow{
        background: #FBCA48 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 120px;
        height: 5px;
        margin-top: 35px;
        margin-bottom: 35px;
      }

  }
  .expert_calling .expert_calling_info
  {
      text-align: left;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding-left: 10%;
      padding-right: 5%;
      .bg-title{
          font-weight: 600;
          font-size: 40px;
          font-family: 'Rubik';
          
          .first-txt{
              color: #FFFFFF;
          }
          .second-txt{
              color:#FFBC00;
              margin-left: 10px;
          }
      }
      .bg-sub-title{
          font-size: 18px;
          font-weight: 400;
          font-family: 'Rubik';
          color: #FFFFFF;
          margin-top: 15px;
          width: 65%;
          margin-bottom:40px;
          text-align: justify; 
          span{
          line-height: 1.5;
          }
      }

      button {
        color: white;
        border-color: transparent;
        margin-bottom: 30px;
        font-family: 'Rubik';
        box-shadow: none;
        cursor: pointer;
        &:hover {
          color: #0f0f0f;
          border-color: #ffba00;
          border: 1px solid #ffba00;
          cursor: pointer;
          background: white;
        }

        span {
          div {
            width: 11px !important;
            margin-left: 10px !important;
          }
        }

        .left-arrow{
          width: 11px;
          margin-top: -4px;
          margin-left: 7px;
        }
      }

  }

  .join-the-expedition {
    min-height: 506px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-width: 100vw;
    position: relative;
    padding-bottom: 34px;

    .expedition-bgImage {

    }

    .join-the-expedition-content {
      padding-top: 60px;
    }

    .header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
    }

    .our-aim {
      display: flex;
      justify-content: center;
      min-height: 387px;
      max-width: 1040px;
      position: relative;
      margin-top: 40px;
      height: 100%;
      padding: 0 20px;

      .our-aim-text {
        box-shadow: 9px 19px 21px hsl(0deg 0% 43% / 10%);
        padding: 100px;
        text-align: center;
        background-color: white;
        font-size: 21px;
        line-height: 2;
        position: relative;
        z-index: 5;
        color: #111;

        b {
          display: contents;
        }

        .compass-image-div {
          div {
            width: 226px;
            height: 253px;
            left: -113px;
            position: absolute !important;
          }
        }

        .compassImage {
          position: absolute;
          left: -113px;
        }

        .qoute-open-div {
          div {
            width: 79px;
            height: 63px;
            left: 10%;
            top: 0;
            inset: 0 0 0 10% !important;
            overflow: unset !important;
          }
        }

        .quoteOpen {
          transform: translateY(-50%);
          position: absolute;
          top: 0;
          left: 10%;
        }

        .qoute-closed-div {
          div {
            width: 79px;
            height: 63px;
            bottom: 0 !important;
            right: 10% !important;
            overflow: unset !important;
            position: absolute !important;
          }
        }

        .quoteClose {
          inset: inherit;
          transform: translateY(50%);
          position: absolute;
          bottom: 0;
          right: 10%;
        }
      }

      .our-aim-images {
        z-index: 1;

        .flash-light-div {
          div {
            width: 192px;
            height: 425px;
            inset: -48px 0 0 -97px !important;
          }

        }

        .flashlight {
          position: absolute;
          left: -97px;
          top: -48px;
        }

        .hammer-div {
          div {
            right: -143px;
            top: -41px;
            width: 208px;
            height: 327px;
            position: absolute !important;
          }
        }

        .hammer {
          position: absolute;
          right: -143px;
          top: -41px;
        }
      }
    }
  }

  .be-more-sections {
    width: 100%;
    margin-top: 120px;

    .be-more-section {
      .be-more-section-body {
        display: flex;
        align-items: center;

        .be-more-image-container-left {
          width: 50%;
          background-image: url("./../public/images/home/tabletLeft.svg");
          background-size: cover;
          background-repeat: no-repeat;
          // padding-top: 39%;
          // height: 0;

          div {
            padding: 35%;
            inset: auto !important;
            margin-top: -79% !important;;
          }

          img {
            max-width: 100%;
            padding: 36px 60px 30px 0px !important;
          }
        }

        .be-more-image-container {
          width: 50%;
          background-image: url("./../public/images/home/tabletImage.svg");
          background-size: cover;
          background-repeat: no-repeat;
          // padding-top: 39%;
          // height: 0;

          div {
            padding: 35%;
            inset: auto !important;
            margin-top: -79% !important;
          }

          img {
            max-width: 100%;
            padding: 36px 0 30px 60px !important;
          }
        }

        .be-more-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1 1;
          align-items: flex-end;
          padding-right: 125px;
          padding-left: 20px;
          margin-bottom: 35px;

          .be-more-summary {
            color: #099670;
            font-family: 'Rubik';
            font-size: 34px;
            margin-top: 40px;
            margin-bottom: 35px;
            font-weight: 600;
            text-align: justify;
          }
          .border-bottom-yellow{
            background: #FBCA48 0% 0% no-repeat padding-box;
            opacity: 1;
            width: 120px;
            height: 5px;
          }

          .be-more-description {
            font-size: 18px;
            margin-top: 35px;
            margin-bottom: 50px;
            max-width: 490px;
            line-height: 1.5;
            color: #111111;
            font-family: 'Rubik';
            text-align: justify;
          }

          button {
            color: white;
            border-color: transparent;
            margin-bottom: 50px;
            font-family: 'Rubik';
            display: flex;
            align-items: center;
            &:hover {
              color: #0f0f0f;
              border-color: #ffba00;
              cursor: pointer;
            }
            span {
              div {
                width: 11px !important;
                margin-left: 10px !important;
              }
            }
            .left-arrow{
              width: 11px;
              margin-top: -4px;
              margin-left: 7px;
             } 
          }
        }
      }

      .be-more-section-footer {
        background-color: #F4F4F4;
        padding: 50px 100px;
        display: flex;
        max-width: 90vw;
        margin-left: auto;
        border-radius: 12px;
        font-size: 20px;
        margin-top: -20px;

        .dash {
          min-width: 70px;
          height: 2px;
          background-color: #111111;
          margin-top: 15px;
        }

        .text {
          max-width: 1100px;
          margin-left: 45px;
          color: #111111;
          line-height: 1.5;
        }
      }
      .be-more-experience{
        text-align: center;
        .child{
          display: inline-block;
          margin-right: 25px;
          position: relative;
          width: 85px;
          .main-img {
            width: 85px;
            height: 85px;
          }
          .main-img-wrapper {
            div {
              width: 85px !important;
              height: 85px !important;
            }
          }
          .main-child-img{
            position: absolute;
            top: 30%;
            width: 100%;
            height: 10px;
            // margin-left: 25px;
            img {
              height: 20px;
              width: 30px;
            }
            div {
              height: 20px;
              width: 30px;
            }
          }
          .main-img-txt{
            position: absolute;
            width: 100%;
            height: 10px;
            font-size: 12px;
            font-family: 'Rubik';
            font-weight: 400;
            color: #111111;
            top: 60%;
          }
        }
      }
      .be-more-section-footer.adventure{
        margin-left: 0px;
        padding: 50px 20px 50px 180px;
      }
    }
  }

  .be-more-inspired {
    margin-top: 45px;

    .be-more-content {
      align-items: flex-start !important;
      padding-left: 80px;
    }

    .be-more-section-footer {
      margin-left: unset;
      padding-left: 18%;
    }
  }
  .leave-positive-impact{
    .positive-impract-img-div {
      width: 43%;
      margin-left: 5%;
      div {
        height: 536px;
        inset: auto !important;
      }
    }
    .positive-impract-img{
      width:45%; 
      margin-left: 5%;
    }
    .be-more-description{
      max-width: 570px;
    }
  }

  .be-more-sustainable {
    margin-top: 90px;
    margin-bottom: 30px;
  }

  .learning-with-experts {
    position: relative;
    padding-bottom: 80px;
    margin-top: 100px;
    max-width: 100vw;

    .learning-with-experts-body {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
    }

    .header {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      color: white;
      margin-top: 60px;
    }

    .description {
      font-size: 24px;
      font-weight: 500;
      font-style: italic;
      color: white;
      margin-top: 13px;
      max-width: 720px;
      text-align: center;
    }

    .card {
      max-width: 1046px;
      padding: 50px 60px;
      background-color: #fff;
      box-shadow: 9px 19px 21px #6e6e6e1a;

      .point:first-child {
        margin-bottom: 40px;
      }

      .card-header {
        color: #099670;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        img {
          margin-right: 20px;
        }
      }

      .card-description {
        font-size: 22px;
        line-height: 2;
        color: #111;
      }
    }

    .features {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 70px;
      width: 100%;

      .features-row1 {
        display: flex;

        .feature {
          border-bottom: 1px solid #d2d4d3;
        }

        .feature:not(:last-child) {
          border-right: 1px solid #d2d4d3;
        }
      }

      .features-row2 {
        display: flex;
        align-items: center;

        .feature:not(:last-child) {
          border-right: 1px solid #d2d4d3;
        }
      }

      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 290px;
        height: 155px;
        width: 100%;
        min-width: 240px;

        img {
          margin-bottom: 28px;
          height: 40px;
        }

        h3 {
          font-size: 19px;
          color: #111;
        }
      }
    }
  }

  .explore-with-experts {
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 60px;
    padding-bottom: 60px;

    .description {
      font-size: 20px;
      text-align: center;
      max-width: 920px;
      line-height: 1.8;
    }

    button {
      color: white;
      border-color: transparent;

      &:hover {
        color: #0f0f0f;
        border-color: #ffba00;
        cursor: pointer;
      }
    }

    .expert_card_details
     .expert_card_loc img,  .expert_card_lang img, .expert_card_follow img{
      display: inline;
    }
    .expert_card_loc, .expert_card_lang, .expert_card_follow {
      display: flex;

      div {
        width: 14px;
        height: 18px;
        margin-right: 5px !important;
      }
    }
  }

  .why-choose-us{
    color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    .why-choose-main-title {
      font-size: 40px !important;
      font-weight: 500 !important;
    }
    
    .why-choose-main{
      display: inline-grid;
      padding-right: 40px;
      img{
        height: 70px;
        width: 50px;
        margin-bottom: 10px;
      }
      .why-title{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Rubik';
      }
    }
    .why-choose-txt{
      width: 260px;
      line-height: 1.5;
      font-family: 'Rubik';
      text-align: justify;
    }
    .border-bottom-yellow{
      background: #FBCA48 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 65px;
      height: 4px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .color-yellow{
      color:#FFBC00;
    }
  }

  .section2.adventure-page{
    padding-bottom: 25px !important;
  }

  .section2.bg-white{
    background-color: #fff;
  }
 
  .adventure-page .ant-card-body{
    // padding-bottom: 5px !important;
  }
  .adventure-page .card-main-description{
   margin-bottom: 20px !important; 
  }
  .adventure-page .skill-level-img{
    height: 45px;
  }
  .calling-our-experts {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    max-width: 100vw;
    position: relative;

    & > div {
      flex: 1;
    }

    img {
      max-width: 100%;
    }

    .calling-our-experts-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1;
      align-items: flex-end;
      padding-right: 80px;
      padding-left: 20px;

      .calling-our-experts-header {
        font-size: 50px;
        font-weight: 500;
      }

      .calling-our-experts-summary {
        color: #099670;
        font-size: 25px;
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: 520px;
        font-style: italic;
        font-weight: 500;
      }

      .calling-our-experts-description {
        font-size: 22px;
        margin-top: 35px;
        margin-bottom: 50px;
        max-width: 540px;
        line-height: 1.5;
        color: #111;
      }

      button {
        color: white;
        border-color: transparent;

        &:hover {
          color: #0f0f0f;
          border-color: #ffba00;
          cursor: pointer;
        }
      }
    }

    .experts-container {
      position: relative;
      width: 100%;

      .experts-container-background {
        position: absolute;
      }
    }

    .experts {
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      padding: 0 50px;

      .expert {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -60px;

        &:not(:last-child) {
          margin-right: 20px;
        }

        .expert-details {
          max-width: 197px;
          background-color: rgba(255, 255, 255, 0.9);
          border-radius: 7px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(-50%);
          padding: 10px;
          margin-left: 8px;
          margin-right: 8px;
          text-align: center;

          .expert-name {
            color: #111;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 3px;
          }

          .expert-expertise {
            color: #099670;
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .parter-section{
    // text-align: right;
    right: 100px;
    position: absolute;
    .leavenotarace-logo{
      width: 120px;
      margin-top: 35px;
    }
    .onetree-logo{
      margin-top: 25px;
      margin-right: 35px;
      width: 100px;
    }
  }
  .owl-item { transition: all .2s ease-in-out; }

  .owl-item:hover{
    transform: scale(1.01);
  }

  .adventure-page .learning_sec .ant-card-cover img{
    height: 312px !important;
  }
  .getinspired-page .learning_sec .ant-card-cover img {
    height: 312px !important;
  }
  .getinspired-page .expert_card_details .expert-title {
    font-size: 22px;
  }
  .getinspired-page .expert_card_details .expert_card_title{
    font-size: 22px;
  }
  
  .home-page-adventure-btn{
    display: block;
    margin: 10px auto auto;
    // margin-top: 10px;
  }

  .adventure_section {
    &.container-fluid {
      padding-left: 5%;
      padding-right: 5%;
    }
    &_img {
      width: 100%;
      max-width: 100%;
      border-radius: 5px 5px 0px 0px;
      object-fit: cover;
      height: 320px;
      background-repeat: no-repeat;
    }
    &_icon_img {
      width: 25px !important ;
      height: 25px !important;
      margin-right: 10px;
    }
    &_txt {
      color: white;
      left: 0;
      position: absolute;
      // margin: 0 16px;
      bottom: 0;
      font-weight: 600;
      font-family: "Rubik";
      min-height: 75px;
      width: 100%;
      background-color: rgba(0,0,0,0.30);
      .title {
        font-size: 19px;
        font-weight: 500;
        font-family: 'Rubik';
        text-transform: uppercase;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-left: 15px;
      }
      .sub-title {
        font-size: 14px;
        font-weight: 400;
        padding-left: 15px;
      }
    }
    &_silder {
      .cover-bg {
        background-color: black;
        background-position: center;
        position: relative;
        border-radius: 5px 5px 0px 0px;
      }

      img {
        max-height: 315px;
        height: 315px !important;
        height: 100%;
        max-width: 100%;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
        object-fit: cover;
        background-repeat: no-repeat;
        opacity: 0.8;
      }
      .adventure_section_icon_img {
        height: 25px !important;
      }     
      .child-img {
        height: 60px!important;
        width: 60px!important;
        max-height: 60px;
        position: absolute;
        z-index: 999;
        margin-top: 10px;
        margin-left: 10px;
      } 
    }
    .slick-dots li button:before{
      color: #32a687;
      font-size: 10px;
    }
  }
  .adventure_section_silder.mobile{
    display: flex;
    overflow: auto;
    width: auto;
    overflow-y: auto !important;
  }
}

.activity-dropdown-homepage{
  padding-top: 0px !important;
  margin-top:30px; 
  .ant-popover-arrow{
    display: none;
  }
  .ant-popover-inner-content{
    max-height: 350px !important;
    overflow: auto;
    padding: 0px !important;
    width: 255px;
    .ant-menu-item{
        height: 30px !important;
        line-height: 30px !important;
        margin: 0px;
        padding: 0 0 0 16px;
        color:#111111;
        font-size: 14px;
        font-family: "Rubik";
    }
    .ant-menu.ant-menu-light{
        border-right: none;
    }
  }
  .ant-popover-inner-content{
    border-radius: 5px !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
  }
  .ant-menu-item-selected {
    color: rgba(0, 0, 0, 0.65);
  }
}

/*-------end the mainhomepage*/
body {
  overflow: visible !important;
}

.view-more-trips {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  // border-radius: 50px 50px 50px 0;
  color: map-get($colors, "dark");
  box-shadow: 5px 5px 5px 0px rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}
.header_banner {
  position: relative;
  img {
    width: 100%;
    height: 85vh;
  }
  .ant-carousel {
    .slick-dots-bottom {
      bottom: 25px;
      button {
        height: 5px;
        border-radius: 50px;
      }
    }
  }
}

.start_exploring {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  border-radius: 5px 5px 5px 5px;
  color: map-get($colors, "dark");
  //box-shadow: 5px 5px 5px 0 rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}

.view-more-trips {
  background: map-get($colors, "secondary");
  border: 1px solid map-get($colors, "secondary");
  // border-radius: 50px 50px 50px 0;
  color: map-get($colors, "dark");
  box-shadow: 5px 5px 5px 0px rgba(255, 186, 0, 0.35);
  padding: 25px 40px;
  line-height: 4px;
  display: inline-block;
  text-transform: uppercase;
  &:hover {
    border: 1px solid map-get($colors, "secondary");
    background: transparent;
    color: map-get($colors, "secondary");
  }
}

.header-container {
  .banner_txt {
    position: absolute;
    bottom: 20%;
    h1 {
      text-transform: capitalize;
      color: map-get($colors, "light");
      span {
        color: map-get($colors, "secondary");
      }
    }
    p {
      color: map-get($colors, "light");
    }
  }
  .main_title {
    color: map-get($colors, "success");
    font-weight: 800;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 0;
    letter-spacing: 3px;
  }
  .h_padding {
    padding: 60px 0;
  }
  .join_sec {
    p {
      color: map-get($colors, "dark");
    }
    img {
      width: 100%;
    }
    p:nth-child(1) {
      line-height: 30px;
    }
  }
}
.header-container1{
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-header-container{
  padding-left: 5%;
  padding-right: 5%;
}
.flex_sec {
  align-items: center;
  display: flex;
}

.h_sub_title {
  .sub_title_bg {
    text-align: left;
    position: relative;
    &::after {
      content: "";
      background: map-get($colors, "success");
      height: 2px;
      width: 15px;
      display: block;
    }
  }
  span {
    text-align: left;
    position: absolute;
    left: 0;
    top: -50px;
    font-size: 77px;
    color: #ffba00;
    font-weight: 900;
    opacity: 0.2;
  }
  p {
    text-align: left;
    line-height: 30px;
  }
}

.how_it_sec {
  background: #f8f8f8;
  img {
    width: 100%;
  }
}
.live_sec {
  background: url("./../public/images/home/2543.svg");
  height: 69vh;
  background-size: cover;
  position: relative;
  h2,
  p {
    font-style: normal;
    color: map-get($colors, "light");
  }
}

.learning_bg {
  .learning_sec {
    display: flex;
    h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      line-height: 30px;
    }
    img {
      display: inline-block;

      align-self: center;
      width: 80px;
      background: #fff;
      box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
      padding: 15px;
      border-radius: 10px;
    }
  }
  .h_right_sec {
    display: flex;
    align-self: center;
    &:hover {
      color: map-get($colors, "success");
    }
    .h_right_img {
      border: 1px solid map-get($colors, "secondary");
      border-radius: 50%;
      padding: 10px;
      &:hover {
        background: map-get($colors, "success");
        border: 1px solid map-get($colors, "success");
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
    p {
      display: inline-block;
      text-transform: uppercase;
      align-self: center;
    }
  }
}

.submit_sec {
  background: map-get($colors, "success");
  h2 {
    color: map-get($colors, "light");
    letter-spacing: 2px;
  }
  .ant-btn-lg {
    border-radius: 15px 15px 15px 0 !important;
    padding: 0 50px;
    background: map-get($colors, "secondary");
    border-color: map-get($colors, "secondary");
    color: map-get($colors, "dark");
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 18px;
    height: 50px;
  }
  .ant-input-affix-wrapper {
    height: 50px;
  }
  .ant-input-search-enter-button input + .ant-input-group-addon {
    border-radius: 15px 15px 15px 0;
    position: relative;
    left: -15px;
  }
  .ant-input-group-addon {
    border-radius: 15px;
    position: relative;
    left: -15px;
    cursor: pointer;
  }
  input.ant-input.ant-input-lg {
    border-radius: 15px;
  }
  .anticon {
    background: url("./../public/images/home/email_ic.svg");
    width: 100%;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  .ant-input-affix-wrapper .ant-input-prefix :not(.anticon) {
    visibility: hidden;
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 19px;
    top: 27px;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 50px;
  }
  .ant-input-group .ant-input {
    font-weight: bold;
    color:#111111;
    font-family: "Rubik";
    &:hover,
    &:focus {
      z-index: 0;
    }
  }
}

.h_line {
  &:after {
    content: "";
    background-color: map-get($colors, "secondary");
    height: 3px;
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

.clr_bg {
  background-color: #f8f8f8;
  padding: 120px 0;
}
.calling_sec {
  margin-top: -12rem;
  p {
    line-height: 30px;
  }
  .ant-card-bordered {
    border-radius: 25px;
  }
  .ant-card-meta-title {
    font-weight: 800;
    font-size: 20px;
  }
  .ant-card-meta-description {
    color: map-get($colors, "success");
    font-weight: 800;
    font-size: 16px;
  }
  .ant-card-cover {
    img {
      height: 40vh;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
}

.owl-carousel .owl-stage-outer .owl-stage {
  display: flex;
}

.expe_bg {
  background-color: #f8f8f8;
  padding: 120px 0;
  position: relative;
  &:before {
    background: url("./../public/images/home/experiences_bg_logo.svg");
    content: "";
    background-size: cover;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}


.expe_sec {
  margin-top: -15rem;
  img {
    width: 100%;
    border-radius: 30px 30px 30px 0;
    height: 15rem;
    object-fit: cover;
    position: relative;
    &:hover {
     // border: 2px solid;
    }
  }
  .owl-theme .owl-dots {
    display: none;
  }
  .owl-theme .owl-nav {
    position: absolute;
    left: -22rem;
    bottom: 4rem;
  }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    border: 1px solid;
    padding: 0px 17px !important;
    border-radius: 5px;
    color: map-get($colors, "secondary");
    border-color: map-get($colors, "success");
    font-size: 45px;
    line-height: 50px;
    outline: none;
  }
  .owl-carousel .owl-nav button.owl-prev {
    margin-right: 15px;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    &:hover {
      background: map-get($colors, "success");
    }
  }

  /* Common style */
  .grid {
    color: map-get($colors, "success");
    &:hover {
      color: map-get($colors, "success");
    }
  }
  .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    cursor: pointer;
  }

  .grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
  }

  .grid figure figcaption {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
    pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
  }

  .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  }

  .grid figure h2 span {
    font-weight: 800;
  }

  .grid figure h2,
  .grid figure p {
    margin: 0;
  }

  .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
  }

  figure.effect-bubba {
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba:hover img {
    opacity: 1;
  }

  figure.effect-bubba figcaption::before,
  figure.effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba figcaption::before {
    border-top: 1px solid map-get($colors, "secondary");
    border-bottom: 1px solid map-get($colors, "secondary");
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    border-radius: 30px 30px 30px 0;
  }

  figure.effect-bubba figcaption::after {
    border-right: 1px solid map-get($colors, "secondary");
    border-left: 1px solid map-get($colors, "secondary");
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  figure.effect-bubba:hover figcaption::before,
  figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  figure.effect-bubba:hover h2,
  figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .ant-input-affix-wrapper .ant-input-prefix {
    left: 20px;
  }
  .ant-input-affix-wrapper .ant-input-prefix :not(.anticon) {
    visibility: hidden;
  }
  .ant-input-affix-wrapper .ant-input:not(:first-child) {
    padding-left: 55px;
  }
}
.vm_homepage{
  text-align: right !important;
  padding-top: 25px;
  margin-right: -5px;
  button.ant-btn.view-more-trips.button_set {
    margin: 0 !important;
  }
}
.workshop{
  .ant-row .heart_fill .text-right{
    display: block !important;
  }
}
.meet_expert_home{
  .location_icon {
    padding-right: 3px !important;
    width: 15px !important;
    margin-bottom: 2px !important;
  }
  #languageIcon {
    width: 15px !important;
    margin-right: 5px !important;
  }
  #followerIcon {
    width: 16px;
    margin-right: 5px;
  }
  .owl-carousel .owl-item img {
    display: inline-block;
    width: 100%;
  }
  
  .expert_bg .ant-card-bordered {
     border-radius: 0px; 
  }
  .view_profile{
    padding: 15px 40px!important;
  }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none !important;
  }
}
.expert-home-page {
  .loader{
    position: unset !important;
  }
  .online_tag {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    color: #099670;
  }
  .owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: none !important;
  }
}

.blog-website{
  border-top: none !important;
}
#subscribe-error{
  display: none;
  width: 919px;
  text-align: left;
  padding: 5px 80px 0px;
  color: red;
}
#subscribe-success{
  display: none;
  width: 919px;
  text-align: left;
  padding: 5px 80px 0px;
  color: #099670; 
}

.homepage-search-select{
  
  .ant-select-dropdown-menu-item{
    color:#111111 !important;
  }
}
.color-black{
  color: #111111;
  font-weight: 600;
}

@import "variable.scss";

@media (max-width:768px){
  #subscribe-error{
    width: auto;    
    padding: 5px;
  } 
  .mainhomepage {
    .expert_head_bg {
      height: 100vh;
      .expert_header_info {
        padding-left: 5%;
        .bg-title {
          font-size: 26px;
        }
        .bg-sub-title {
          font-size: 18px;
          font-weight: 400;
        }
        .search-textbox {
          // width: 100%;
          padding: 5px 20px 8px 20px;
          width: auto;
          margin-top: 20px;
          .country{
            padding-left: 0px;
            border-left: none;            
          } 
          .extra-filters{
            padding-top:0px !important; 
          }
          .adventure{
            padding-right: 0px;
            padding-bottom: 10px;
          }
          .ant-select-selection__placeholder,
          .ant-select-search__field__placeholder {
            font-size: 20px !important;
          }
          .search-parent{
            text-align: center !important;
          }
          .search-btn-btn{
            height: 50px;
            margin-top: 15px;
            width: 100%;
            background: #ffbc00;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-family: "Rubik";
            font-weight: 500;
          }
          // .ant-select-selection:hover {
          //   border-color: transparent;
          // }
          // .ant-select {
          //   color: black !important;
          // }
          // .ant-btn:hover,
          // .ant-btn:focus {
          //   border-color: transparent;
          // }
          // .search-btn-homepage {
          //   padding: 0 15px !important;
          // }
        }
        .search-textbox-mobile {
          // width: 100%;
          padding: 5px 20px 8px 0px;
          width: auto;
          margin-top: 20px;
          .country{
            padding-left: 0px;
            border-left: none;            
          } 
          .extra-filters{
            padding-top:0px !important; 
          }
          .filter-heading .ant-select{
            font-size: 18px;
          }
          .adventure{
            padding-right: 0px;
            padding-bottom: 10px;
          }
          .ant-select-selection__placeholder,
          .ant-select-search__field__placeholder {
            font-size: 18px !important;
          }
          .search-parent{
            text-align: center !important;
          }
          .country .ant-select-selection{
            border-radius: 4px 0px 0px 4px;
          }
          .search-btn-btn{
            height: 40px;
            width: 100%;
            background: #ffbc00;
            color:black;
            font-size: 18px;
            font-family: "Rubik";
            font-weight: 500;
            border-radius: 0px 4px 4px 0px;
            border-left: 0px;
            border: none;
          }
          .ant-btn{
            padding:9px 10px !important;
          }
          .ant-select-arrow{
            top: 44%;
          }
          .anticon{
            vertical-align: unset;
          }
            
          // .ant-select-selection:hover {
          //   border-color: transparent;
          // }
          // .ant-select {
          //   color: black !important;
          // }
          // .ant-btn:hover,
          // .ant-btn:focus {
          //   border-color: transparent;
          // }
          // .search-btn-homepage {
          //   padding: 0 15px !important;
          // }
        }
        // .search-textbox .ant-select.ant-select-enabled {
        //   width: 60% !important;
        // }
      }
      .extra-filters {
        margin: 0px 0px 15px 0px !important;
        margin-bottom: 5px;
        text-align: center;
      }
      .extra-child {
        font-size: 12px !important;
        padding: 8px 15px 8px 10px !important;
        text-align: left;
      }
      .extra-parent {
        margin-bottom: 5px !important;
        padding-right: 6px !important;
        .extra-child img{
          height: 20px !important;
          width: 20px !important;
        }
      }
      .extra-parent.third{
        width: 175px !important;
      }
      .extra-parent.second, .extra-parent.forth{
        width: 145px !important;
      }
      .ant-input-group-addon {
        padding: 0 10px !important;
      }
    }
    .bg-image-layer{
      height: 100vh;
    }

    .be-more-sections {
      .be-more-section {
        .be-more-experience {
          .child {
            margin-bottom: 10px;
            margin-right: 5px;
            .main-img {
              width: 75px;
              height: 75px;
            }
            .main-child-img{
              position: absolute;
              top: 30%;
              width: 100%;
              height: 10px;
              margin-left: 0;
              img{
                height: 20px;
                width: 30px;
              }
            }
            .main-img-txt {
              font-size: 11px;
            }
          }
        }
      }
      .be-more-content {
        .ml100,
        .ml80 {
          margin-left: 0px;
        }
      }
    }

    .be-more-section-footer.adventure {
      padding: 0px 20px 0px 20px !important;
    }
    .expert_calling {
      height: 80vh;
      .bg-image-layer{
        height: 80vh;
      }
      .expert_calling_info {
        padding-left: 5%;
        padding-right: 5%;
        img{
          display: none;
        }
        .bg-title {
          font-size: 30px;
        }
        .bg-sub-title {
          width: 100%;
        }
        button {
          display: block;
          margin: auto;
        }
      }
      .border-bottom-yellow {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    .be-more-button {
      text-align: right;
      margin-bottom: 10px !important;
      padding: 0 25px;
    }
    .all-padding-zero {
      padding: 0px !important;
    }

    .why-choose-us {
      padding-right: 20px;
      padding-left: 20px;
      .why-choose-main-title {
        font-size: 28px !important;
        margin-bottom: 45px !important;
      }
      .why-choose-txt {
        width: auto;
      }
    }

    .why-choose-us-section{
      .why-choose-us {
        padding-right: 20px;
        padding-left: 20px;
        .why-choose-main-title {
          font-size: 28px !important;
          margin-bottom: 45px !important;
        }
        .why-choose-txt {
          width: auto;
        }
      }
    }

    .leave-positive-impact {
      .positive-impract-img {
        width: 85%;
        margin-left: 0%;
      }
    }

    .blog-section {
      padding-left: 1rem;
      padding-right: 1rem;
      .read-more-blog {
        text-align: right;
        padding-right: 0px !important;
      }
      .first-blog {
        margin-top: -35px;
        padding-right: 20px;
      }
      .blog_number1 img,
      .blog_number3 img,
      .blog_number4 img {
        height: 315px !important;
      }
      .all-padding-zero.padding-top-zero {
        display: flex;
        overflow: scroll;
        padding-right: 0px;
      }
    }

    .be-more-sustainable {
      margin-top: 30px;
    }
  }
}

.ex__primary_btn.remove_hover:focus, .ex__primary_btn.remove_hover:hover{
  background-color: transparent;
  border: 1px solid #ffba00 !important;
  color: #ffba00 !important;
  }

  .news-letter-modal{
    .news-letter-container{
      min-height: 650px;
    }
    .ant-modal-body{
      padding: 0px !important;
    }
    .newsletter-right-img{
      background-image: url("./../public/images/home/newsletter_img.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      position: relative;
      height: 685px;
    }    
    .ant-modal-content{
      border-radius: 0px;
    }
    .newsletter-form{
      padding:25px 50px 10px;
      .title{
        font-size: 32px;
        font-weight: 600;
        color: #099670;
        font-family: 'Rubik';
        margin-bottom: 20px;
      }
      .sub-title{
        font-size: 18px;
        line-height: 1.6;
        color: #0f0f0f;
        font-family: 'Rubik';
        margin-bottom: 30px;
      }
      .ant-form-item-label{
        line-height: 25px !important;
      }
      .ex__form label{
        font-size: 15px;
        color: #0f0f0f;
        font-family: "Rubik";
      }
    }
    .news-letter-submit{
      background-color: #ffba00;
      border-color: #ffba00;
      color: #0f0f0f;
      padding: 0 40px;
      height: 50px;
      font-size: 16px;
      font-family: "rubik-medium";
      transition: 0.5s;
      box-shadow: none;
      width: 100%;
    }
    .follow-us-text{
      color: #0f0f0f !important;
      font-size: 18px;
      font-family: 'Rubik';
      margin-bottom: 15px;
      font-weight: bold;
    }
    .registration-email .ant-form-explain{
      width: 400px !important;
      margin-top: -10px !important;
    }
    .ex__form .has-error .email-input{
      margin-bottom: 10px;
    }
    .text-after-button{
      color:#0f0f0f;
      text-align: center;
    }
    .social-share-section{
      text-align: center;

      .social-share-icons-wrapper {
        div {
          width: 30px !important;
          height: 30px !important;
          margin-right: 10px !important;
          inset: auto !important
        }
      }
    }
    .share-icon{
      width: 30px;
      margin-right: 10px;
      cursor: pointer;
    }
    .ant-modal-close-x{
      svg{
        path{
          fill: red;
        }
      }
    }
  }
  .thanks-modal.news-letter-modal{
    .news-letter-container{
      min-height: 530px;
      padding-top: 30px;
    }
    .title{
      color:#0f0f0f;
      font-size: 32px;
      text-align: center;
    }
    .sub-title{
      text-align: center;
    }
    .news-letter-submit{
      width: 80%;
    }
    .thanks-redirect-btn{
      text-align: center;
    }
    .back-to-home{
      background-color:white;
    }
    .news-thank-img img{
      width: 370px;
    }
  }

.expert-enthu-logos{
  padding-top: 20px;
  padding-bottom: 10px;
  .txt-center.enth{
    width: 50%;
    display: inline-block;
    padding-left: 80px;
    img{
      height: 75px;
     width: 50px;
    }
  }
  .txt-center.expert{
    width: 49%;
    text-align: right;
    display: inline-block;
    padding-right: 80px;
    img{
      width: auto;
      height: 80px;
    }
  }
  
}

.expert-enthu-logos-parent{
  .ant-radio-group.ant-radio-group-outline{
    width: 100% !important;
  }
  .ant-radio-group.ant-radio-group-outline label:nth-child(1){
    padding-left: 40px;
    width: 45%;
  }
  .ant-radio-group.ant-radio-group-outline label:nth-child(2){
    width: 49%;
    text-align: right;
  }
  .ant-radio-wrapper{
    font-weight: 400;
    font-family: "Rubik" !important;
    color: #099670;
  }
}


  .min-height{
    min-height: 300px;
  }

  .owl-nav {
    text-align: center;
  }
  .modular-card .owl-nav{
    margin-top: 10px;
  }

.explore-with-experts, .section2{
  .owl-nav{
    // display: none;
  }
  .owl-theme .owl-nav [class*='owl-']{
    margin: 13px 65px;
    position: absolute;
    background: transparent;
    outline: none;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  .owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent !important;
  }
  button.owl-prev{
    margin-left: -75px !important;
  } 
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #32a68770;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:#32a687;
  }
  
  button.owl-next span, button.owl-prev span{
    font-size: 30px;
    color: #32a687;
  }
  button.owl-next span:focus, button.owl-prev span:focus{
    outline: none;
  }
  .owl-theme .owl-dots .owl-dot span{
    height: 8px;
    width: 8px;
  }
  .owl-dots{
    margin-top: 33px;
    text-align: center;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }   
}

.blog-section{
  background-color: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 75px;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;

  .blog-main-title{
    color: #099670;
    font-size: 26px;
    font-family: 'Rubik';
    font-weight: 600;
    margin-bottom: 15px;
  }
  .blog-sub-title{
    color: #111111;
    font-family: 'Rubik';
    font-size: 16px;
  }
  .blog-description{
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .blog-title{
    margin-bottom: 0.6em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .be-more-button {
    color: white !important;
    border-color: transparent !important;
    margin-bottom: 50px !important;
    font-family: 'Rubik' !important;
    // display: flex;
    // align-items: center;

    span {
      div {
        width: 11px;
        margin-left: 10px !important;
      }
    }

    .left-arrow{
      width: 11px;
      margin-top: -4px;
      margin-left: 7px;
    }
  }

  .blog-section {
    .be-more-button {
      .left-arrow{
        width: 11px;
        margin-top: -4px;
        margin-left: 7px;
      }
    }
  }
    
 
  .read-more-blog{
    text-align: right;
    padding-right: 15px;
  }
  
  .blog_number1, .blog_number2, .blog_number3, .blog_number4{
    cursor: pointer;
    img {
      // padding: 12px !important;
      object-fit: cover;
    }
  }
  .blog_number1 img{
    width: 100%;
    object-fit: cover;
    height: 630px;
  }
  .blog_number2 img{
    width: 100%;
    height: 315px;
    object-fit: cover
  }
  .blog_number3, .blog_number4{
    height: 291px;
  }
  .blog_number3 img, .blog_number4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .padding-top-zero{
    padding-top: 0px !important;
  }
  .blog-img-text{
    position: absolute;
    padding: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    width: 100%;
    font-family: 'Rubik';
    font-weight: 500;
    // background: linear-gradient(to bottom, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 5%, rgba(0, 0, 0, 0.39) 14%, rgba(0, 0, 0, 0.49) 19%, rgba(0, 0, 0, 0.20) 100%, rgba(5, 5, 5, 0.87) 100%, #080808 96%, #080808 97%, #0a0a0a 98%, #0a0a0a 100%);
    // background: linear-gradient(to bottom,rgba(125,185,232,0) 0,rgba(63,93,116,0) 0%,rgba(0,0,0,.6) 100%);
    p.blog-title{
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.color-yellow{
  color:#FFBC00;
}
.community-section.community-image {
  background-image: url("./../public/images/covid/community.svg");
}
.community-section {
  background-color: #f6f6f6;
  padding-top: 65px;
  padding-bottom: 70px;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  .join-our-community {
    text-align: center;
    h4{
      font-size: 36px;
      color: #099670;
      font-weight: 500;
      font-family: "Rubik";
    }
    .community-subtext{
      color: #0f0f0f;
    font-weight: 500;
    font-size: 18px;
    }
    .email-input-box {
      margin-top: 10px;
      max-width: 700px;
      box-shadow: 0px 0px 21px #6e6e6e1f;
      border: 1px solid #e1e1e1;
      background: white;

      input {
        border: none;
        height: 55px;
      }

      .mail-icon-wrapper {
        div {
          width: 40px;
          margin-left: 11px !important;

        }
      }
      .ex__primary_btn{
        background-color: #ffba00;
        border-color: #ffba00;
        color:white;
        padding: 0 40px;
        height: 35px;
        font-size: 14px;
        transition: 0.5s;
        box-shadow: none !important; 
        &:hover{
          color: white;
        }
      }
      .remove_hover:hover{
        color: white !important;
      }

      .ant-input-group-addon {
        width: 60px;
        background-color: transparent;
      }
    }

    .mobile-button {
      margin-top: 30px;
    }

    button {
      color: white;
      border-color: transparent;

      &:hover {
        color: #0f0f0f;
        border-color: #ffba00;
        cursor: pointer;
      }
    }
    .ant-form-explain{
      width: 700px !important;
      text-align: center;
      margin: 0 auto !important;
      margin-top: 5px !important;
    }
    .ex__primary_btn:hover{
      color:#ffba00 !important;
      border:1px solid #ffba00;
      background: white;
    }
  }
}

/*----- Privacy Section*/
.privacy-policy.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Rubik';
  .main-title{
    font-size: 24px;
    color: #099670;
    padding-bottom: 40px;
  }
  .title{
    font-size: 22px;
    color:#0f0f0f;
  }
  .description{
    color:#0f0f0f;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 2;
  }
  .border-bottom-yellow{
    background: #FBCA48 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 40px;
    height: 5px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}



/*--------------------Landingpage--------------*/
.mainhomepage{
  .landingpage {
    .ant-carousel {
      .slick-slide img {
        width: 100%;
        background-color: black;
        background-size: cover;
        height: 85vh;
        background-position: center;
        position: relative;
        text-align: center;
        opacity: 1;
      }
    }
    .section2 {
      margin-top: -7px;
    }
    .bg-layer{
      background-color: black;
    }
    .border-bottom-green {
      background: #099670 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 138px;
      height: 7px;
      margin-bottom: 33px !important;
    }
    .ex_landing_page {
      text-align: left;
      color: #fff;
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding-left: 10%;
      padding-right: 5%;
      z-index: 10;
  
      &__title{
        font-size: 50px;
        color: white;
        font-family: 'rubik-medium';
        font-weight: 500;
        margin-bottom: 5px;
      }
      &__s-yellow{
        color:#ffbc00;
      }
      &__subtitle{
        width: 50%;
        font-size: 22px;
        font-weight: 400;
        font-family: 'rubik-medium';
        color: #FFFFFF;
        margin-top: 15px;
        line-height: 1.5;
        margin-bottom: 40px;
      }
      .slick-dots li{
        width: 25px;
      }
      .home-page-adventure-btn{
        margin: 0;
        color:#0f0f0f;
        border-color: transparent;
        margin-bottom: 50px;
        font-family: 'rubik-medium';
        background-color: #ffba00;
        padding: 0 35px;
        box-shadow: none;
        height: 47px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 3px;
        margin-top: 15px;
        &:hover{
          color: #0f0f0f;
          border-color: #ffba00;
          cursor: pointer;
          background-color: white;
          transition: 0.5s;
        }
      }
    }
  }

  /*----------- Landing Page V2  web-----------*/
  .landingpage-v2 {
    margin-bottom: -8px;
    .ant-carousel {
      .slick-slide img {
        width: 100%;
        background-color: black;
        background-size: cover;
        height: 90vh;
        background-position: center;
        position: relative;
        text-align: center;
        opacity: 0.8;

      }
    }
    .section2 {
      margin-top: -7px;
    }
    .bg-layer{
      background-color: black;
    }
    .border-bottom-green {
      background: #099670 0% 0% no-repeat padding-box;
      opacity: 1;
      width: 138px;
      height: 7px;
      margin-bottom: 33px !important;
    }
    .ex_landing_page {
      text-align: left;
      color: #fff;
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding-left: 10%;
      padding-right: 5%;
      z-index: 10;
  
      &__title{
        font-size: 50px;
        color: white;
        font-family: 'rubik-medium';
        font-weight: 500;
        margin-bottom: 5px;
      }
      &__s-yellow{
        color:#ffbc00;
      }
      &__subtitle{
        width: 50%;
        font-size: 22px;
        font-weight: 500;
        font-family: 'Rubik';
        color: #FFFFFF;
        margin-top: 15px;
        line-height: 1.5;
        margin-bottom: 40px;
      }
      &__form{
        display: flex;
        input{
          font-family: 'Rubik';
          width:320px;
          height: 45px;
          margin-right: 20px;
          background: white;
          color:#0f0f0f;
          font-weight: 500;
          border: 1px solid white;
          padding-top: 0px;
          font-size: 15px;
          &:focus{
            box-shadow: none;
          }
          
        }
        .ant-input-group-addon{
          img{
            width: 32px;
          }
        }
        button{
          background-color: #ffba00;
          border-color: #ffba00;
          color: #0f0f0f;
          padding: 0 18px;
          height: 45px;
          font-size: 15px;
          border-radius: 4px;
          font-family: 'Rubik';
          font-weight: 500;
          transition: 0.5s;
          box-shadow: none;
          &:hover{
            color: #0f0f0f;
            border-color: #ffba00;
            cursor: pointer;
            background-color: white;
            transition: 0.5s;
          }
          img{
            width: 9px;
            margin-top: -3px;
            margin-left: 6px;
          }
        }
        .ant-form-explain{
          display: block;
          width: calc(100% - 20px) !important;
          margin-top: 3px !important;
        }
        .has-error .ant-input:not([disabled]):hover{
          border-color: transparent;
          box-shadow:none;
        }
        .has-error .ant-input:focus{
          box-shadow: none;
        }
      }
      .slick-dots li{
        width: 25px;
      }
    }
  }
}

.subs-modal{
  img{
    width: 55px;
  }
  &__title{
    font-size:24px !important;
    font-family:'Rubik';
    text-align: center !important;
    color:#0f0f0f !important;
    margin-bottom: 30px !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
  }
  &__textbox{
    input{
      height:45px !important;
      border: 1px solid #333333 !important;;
    }
  }
  input{
    height:45px !important;
    border: 1px solid #333333 !important;;
  }
  &__btn{
    margin-top: 10px !important;
    padding: 0 28px;
    border-radius: 7px;
    img{
      width: 9px;
      margin-top: -3px;
      margin-left: 6px;
    }
  }
  .ant-form-explain{
    text-align: left !important;
    margin-top: 5px !important;
    margin-left: 60px !important;
    display: block;
    width: 75% !important;
  }
}

//**** Contact Us Page Style *****//

.contact-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 70px;
  .contact-container{
     width: 700px;
    .title{
      font-size: 38px;
      font-weight: 600;
      color: #32a687;
      font-family: 'Rubik';
    }
    .sub-title{
      font-size: 20px;
      color: #000000;
      font-family: 'Rubik';
      margin-bottom: 30px;
    }
    .off-subtitle{
      margin-bottom: 70px;
    }
    .ant-form-item-label{
      text-align: left;
      line-height: 55px;
    }
    .ant-form-item label{
      font-size: 16px;
      color: #000000 !important;
      font-weight: 600;
    }
    .ant-form-item-control{
      line-height: 0px;
    }
    input{
      border: none;
      height: 55px;
      color: #000;
      font-size: 14px;
      background-color: #f8f8f8;
      border: 1px solid black;
    }
    textarea{
      background-color: #f8f8f8;
      border: none;
      border: 1px solid black;
    }
    button{
        background-color: #ffba00;
        border-color: #ffba00;
        color: #0f0f0f;
        padding: 0 40px;
        height: 45px;
        font-size: 16px;
        font-family: "Rubik";
        margin-top: 15px;
        width: 100%;
    }
    .text-area-class .ant-form-item-label{
      line-height: 0px;
      margin-top: 65px;
    }
    .ant-select-selection.ant-select-selection--single{
      border: none;
      min-height: 55px;
      color: #000;
      font-size: 14px;
      position: relative;
      height: 32px;
      cursor: pointer;
      background-color: #f8f8f8;
      border: 1px solid black;
    }
    .ant-select-selection__placeholder{
      user-select: none;
      width: 100%;
      height: 55px;
      align-items: center;
      display: none;
      line-height: 48px;
    }
    .ant-select-selection-selected-value{
      opacity: 1;
      width: 100%;
      height: 55px;
      display: flex!important;
      align-items: center;
    }
    .ant-form-item-label > .ant-form-item-required::before{
      display: none;
      content: "";
    }
    .ant-form-item-label > .ant-form-item-required::after{
      display: inline;
      margin-right: 4px;
      color: #f5222d;
      font-size: 12px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
    .term_condition_txt{
      font-weight: 500 !important;
      font-size: 14px !important;
      span{
        line-height: 20px;
      }
    }
    .ant-checkbox-inner {
      border: 2px solid black;
    }
    .disclaimer{
      margin-top: 15px;
      font-size: 14px;
      color: black;
      font-weight: 500;
      line-height: 25px;
    }
    .ant-form-item{
      margin-bottom:34px; 
    }
  }
}

@media (max-width: 1300px) {
  .mainhomepage {
    .calling-our-experts {
      .experts {
        .expert {
          .expert-details {
            .expert-expertise {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

// max-width = 1200px
@media (max-width: map-get($grid-breakpoints,"xl")) {
  .mainhomepage {
    .section1 {
      .content {
        .get-started {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .landing-get-started {
      margin-left: auto;
      margin-right: auto;
    }

    .join-the-expedition {
      .our-aim {
        .our-aim-images {
          img {
            display: none;
          }
        }

        .compassImage {
          display: none;
        }
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-footer {
          max-width: 100vw;
          margin-top: 30px;
        }
      }
    }
    .be-more-summary{
      font-size: 24px !important;
      text-align: left !important; 
    }

    .calling-our-experts {
      flex-direction: column;
      background-color: #f6f6f6;
      padding-top: 50px;
      padding-bottom: 20px;

      .experts-container {
        .experts-container-background {
          display: none;
        }
      }

      .experts {
        justify-content: center;
        margin-top: 50px;

        .expert {
          top: 0;
        }
      }
    }

    .join-our-community {
      margin-top: 50px;
      padding: 1rem;
    }
  }
}

// max-width = 992px
@media (max-width: map-get($grid-breakpoints,"lg")) {
  .mainhomepage {
    .section2 {
      .categories {
        .other-categories {
          width: 100%;
          overflow: auto;
          align-items: center;
          padding-bottom: 15px;
          .first-row {
            width: 1300px;
          }
        }
      }
    }

    .join-the-expedition {
      position: relative;
      overflow: hidden;
      padding-bottom: 34px;

      .bgImage {
        width: unset;
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-body {
          flex-direction: column;

          .be-more-image-container {
            align-self: flex-end;
            width: 60%;
            margin-top: 0px;
            padding-top: 48%;

            div {
              margin-top: -81% !important;
            }
          }

          .be-more-content {
            padding-right: 20px;
          }
        }
      }

      .be-more-inspired {
        .be-more-section-body {
          flex-direction: column-reverse;

          .be-more-image-container-left {
            align-self: flex-start;
            width: 60%;
            margin-top: 10px;
            padding-top: 48%;

            div {
              margin-top: -81% !important;
            }
          }
        }
      }
    }

    .learning-with-experts {
      .bgImage {
        width: unset;
        height: 60%;
      }
    }

    .calling-our-experts {
      .experts {
        padding: 0 10px;
      }
    }
    .adventure_section_silder.mobile{
      width: 100%;
    }
  }
}

// max-width = 768px
@media (max-width: map-get($grid-breakpoints,"md")) {
  .mainhomepage {
    .rubik-54-medium {
      font-size: 33px !important;
    }

    .section2 {
      .header {
        text-align: left;
        padding-left: 10px;
        line-height: 1.8;
        margin-bottom: 15px !important;
      }
      .border-bottom-yellow{
        background: #FBCA48 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 120px;
        height: 5px;
        margin-bottom: 25px !important;
        margin-left: 15px;
      }
    }

    .be-more-sections {
      margin-top: 50px;

      .be-more-section {
        .be-more-section-body {
          .be-more-image-container,
          .be-more-image-container-left {
            width: 90%;
            padding-top: 0%;
            img{
              max-width: 100%;
              padding: 20px !important;
            }
            div {
              margin-top: -78% !important;
            }
          }
        }

        .be-more-section-footer {
          padding: 50px 20px;
          display: flex;
          flex-direction: column;
          border-radius: 0;

          .dash {
            width: 100px;
          }

          .text {
            margin: 0;
            margin-top: 20px;
            font-size: 18px;
            line-height: 1.5;
          }
        }
      }
    }

    .learning-with-experts {
      .bgImage {
        width: unset;
        height: 50%;
      }
    }

    .calling-our-experts {
      .calling-our-experts-content {
        padding-right: 20px;
      }
    }

  }
  .mainhomepage{
    /*--------- Landing Page ------------- */
    .landingpage{
      .ant-carousel{
        .slick-slide{
          img{
            height: 70vh;
            width: auto;
          }
        }
      }
      .ex_landing_page{
        &__title{
          font-size: 25px;
        }
        &__subtitle{
          width: 100%;
          font-size: 16px;
        }
        .home-page-adventure-btn{
          height: 42px;
          margin: auto;
        }
      }
      .border-bottom-green{
        width: 64px;
        margin-bottom: 28px !important;
      }
    }

    /*--------- Landing Page V2 mobile 768------------- */
    .landingpage-v2{
      .ant-carousel{
        .slick-slide{
          img{
            height: 70vh;
            width: auto;
          }
        }
      }
      .ex_landing_page{
        padding-left: 5%;
        &__title{
          font-size: 25px;
        }
        &__subtitle{
          width: 100%;
          font-size: 16px;
        }
        .home-page-adventure-btn{
          height: 42px;
          margin: auto;
        }
        &__form{
          display: block;
          .ant-form-item-control{
            text-align: center;
          }          
        }
        &__form{
          input{
            width:100%;
          }
          // .ant-form-explain{
          //   display: block;
          //   width: calc(100% - 20px) !important;
          //   margin-top: 3px !important;
          // }
          // .has-error .ant-input:not([disabled]):hover{
          //   border-color: transparent;
          //   box-shadow:none;
          // }
          // .has-error .ant-input:focus{
          //   box-shadow: none;
          // }
        }
      }
      .border-bottom-green{
        width: 64px;
        margin-bottom: 28px !important;
      }
    }
  }
  .contact-container{
    padding: 20px !important;
  }
}

// max-width = 576px
@media (max-width: map-get($grid-breakpoints,"sm")) {
  .mainhomepage {
    .font-size-96 {
      font-size: 46px !important;
    }

    .font-size-26 {
      font-size: 18px;
    }

    .section2 {
      .rubik-54-medium {
        font-size: 28px !important;
      }
    }
    .section-2-subtitle{
      text-align: justify !important;
      padding: 0px 10px !important;
    }
    

    .join-the-expedition {
      .our-aim {
        .our-aim-text {
          padding: 50px 20px;
          font-size: 19px;

          .quoteOpen,
          .quoteClose {
            height: 45px;
          }
        }
      }
    }

    .be-more-sections {
      .be-more-section {
        .be-more-section-body {
          .be-more-content {
            .be-more-header {
              font-size: 37px !important;
            }
          }
        }
      }
    }

    .learning-with-experts {
      .description {
        font-size: 20px;
        line-height: 1.5;
      }

      .card {
        padding: 50px 30px;

        .card-description {
          font-size: 20px;
          line-height: 1.7;
          text-align: justify;
        }
      }

      .features {
        .feature {
          min-width: 180px;
          text-align: center;
        }
      }
    }

    .explore-with-experts {
      padding: 60px 20px;
      .rubik-54-medium {
        text-align: left;
        width: 100%;
      }
      .description{
        text-align: justify;
      }
      .yellow-border-parent{
        width: 100%;
        .border-bottom-yellow{
          background: #FBCA48 0% 0% no-repeat padding-box;
          opacity: 1;
          width: 120px;
          height: 5px;
          margin-bottom: 25px !important;
        }
      }
      .container-fluid{
        padding: 0px;
      }
    }

    .calling-our-experts {
      .experts-container {
        overflow: auto;

        scrollbar-width: none; /* Firefox 64 */
        -ms-overflow-style: none; /* Internet Explorer 11 */
        &::-webkit-scrollbar {
          /** WebKit */
          display: none;
        }
      }

      .experts {
        width: 700px;

        .expert {
          min-width: 200px;
        }

        img {
          max-height: 350px;
        }
      }
    }

    .join-our-community {
      .rubik-54-medium {
        font-size: 30px !important;
        margin-bottom: 35px;
      }
    }
    .parter-section{
      .leavenotarace-logo{
        margin-top: 20px;
        width: 75px;
      }
      .onetree-logo{
        margin-top: 20px;
        width: 75px;
      }
    }
  }

  .contact-page {
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    .contact-container{
      .ant-form-item{
        margin-bottom: 15px !important;
      }
      .ant-form-item-label{
        line-height: 30px;
        padding-bottom: 0;
      }
      .text-area-class .ant-form-item-label{
        line-height: 30px;
        padding-bottom: 0;
        margin-top: 0px;
      }
      .text-area-class .ant-form-item-label{
        line-height: 30px;
        padding-bottom: 0;
        margin-top: 0px;
      }
      .sub-title{
        font-size: 18px;
      }
    }
  }
  .get-in-touch-drawer{
    .message-box{
      margin-top: 10px;
    }
    .ant-form-item-label{
      line-height: 25px;
      padding-bottom: 4px;
    }
    .ant-form-item-control{
      margin-bottom: 5px;
    }
  }

  .news-letter-modal .newsletter-right-img{
    display: none;
  }
  .news-letter-modal .registration-email .ant-form-explain{
    width: 250px !important;
  }
  .thanks-modal.news-letter-modal .news-thank-img img{
    width: 330px !important;
  }
  .social-share-section{
    margin-bottom: 25px;
  }
  .newsletter-form{
    padding: 25px 20px 10px !important;
  }
  .community-section{
    padding-left: 15px;
    padding-right: 15px;
    .join-our-community h1{
      font-size: 26px;
    }
    .join-our-community .ant-form-explain{
      width: 315px !important;
      text-align: center !important;
    }
  }

  .expert-enthu-logos{
   
    .txt-center.enth{
      padding-left: 40px;
    }
    .txt-center.expert{
      padding-right: 45px;
    }
   }
  
  .expert-enthu-logos-parent{
    .ant-radio-group.ant-radio-group-outline{
      width: 100% !important;
    }
    .ant-radio-group.ant-radio-group-outline label:nth-child(1){
      padding-left: 0px;
      width: 45%;
    }
    .ant-radio-group.ant-radio-group-outline label:nth-child(2){
      width: 49%;
      text-align: right;
    }
    .ant-radio-wrapper{
     font-size: 13px;
    }
    .ad-provider{
      padding-right:0xp; 
    }
  }

}

// max-width = 400px
@media (max-width: map-get($grid-breakpoints,"xs")) {
  .mainhomepage {
    .font-size-96 {
      font-size: 35px !important;
    }

    .learning-with-experts {
      .card {
        .card-header {
          font-size: 24px;
        }

        .card-description {
          font-size: 18px;
        }
      }
      .features {
        .feature {
          min-width: 150px;
          text-align: center;
        }
      }
    }

    .calling-our-experts {
      .rubik-54-medium {
        font-size: 32px !important;
      }
    }
    .parter-section{
      text-align: right;
      margin-top: -20px;
      right: 50px;
      width: 100%;
    }
  }
}

.why-choose-icons-wrapper {
  height: 75px;
  div {
    width: 50px;
    height: 70px;
    margin-bottom: 10px !important;
    inset: auto !important;
  }
}

@media (min-width: 1190px) and (max-width: 1340px) {
  .mainhomepage .section2 .categories .category:not(:last-child) {
    margin-right: 25px;  
  }
  .mainhomepage .why-choose-us .why-choose-main {
    padding-right: 25px;
  }
}

@media (min-width:320px) and (max-width:560px){
  .mainhomepage{
    .adventure_section{
      &_txt{
        font-size: 12px;
        padding: 10px 20px;
      }
    }
  }
}
// background: linear-gradient(to bottom, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 10%, rgba(3, 3, 3, 0.01) 5%, rgba(0, 0, 0, 0.39) 14%, rgba(0, 0, 0, 0.49) 19%, rgba(0, 0, 0, 0.20) 100%, rgba(5, 5, 5, 0.87) 100%, #080808 96%, #080808 97%, #0a0a0a 98%, #0a0a0a 100%);
    
