.main-message-box {
    .inner-main-box {
        height: 474px;
        overflow: scroll;
    }
    .message-left-box {
        border-top: 1px solid #ebebeb;
        margin-top: 20px;
        border-radius: 2px 2px 0px 0px;
        .serach-bar.search_bar{
            input.ant-input{
                border-radius: 5px !important;
            }
        }
        .filter-button {
            display: flex;
            justify-content: center;
            padding:0px 0px;
            border-radius: 0 !important;
           // border-left: 1px solid #ebebeb;
           // border-right: 1px solid #ebebeb;
            .ant-select-selection.ant-select-selection--single{
                border: none;
                height: auto;
                padding: 6px 0px;
                background: #f8f8f8;
            }
        }
    }

    .ant-btn.ant-input-search-button.ant-btn-primary {
        background-color: #f8f8f8;
        outline: none;
        border: none;
        height: 0;
    }

    .anticon.anticon-search {
        color: #000;
    }

    .ant-input {
        background-color: #f8f8f8;
        border: none;
    }

    .profile-photo {
        span.ant-avatar-image{
            width: 100%;
            height: auto !important;
            border-radius: inherit;
            padding-right: 10px;
        }
        img {
            width: 50px;
            height: 50px !important;
            border-radius: 50px;
        }
    }

    .message-name {
        h5 {
            line-height: 20px;
            b{
                font-weight:none ;
            }
        }
    }

    .chat-person-aera {
        margin-top: 10px;
    }

    .person-name {
        h5 {
            font-weight: bold;
        }
    }

    .profile-cotnet {
        display: flex;
        align-items: center;
    }

    .notification-dot {
        background-color: #ffbc00 !important;
        height: 8px;
        width: 8px;
        border-radius: 10px;
        margin-left: 15px;
    }

    .message-details {
        margin-top: 10px;
        position: relative;
        width: 100%;

        .bookmark {
            cursor: pointer;
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 10%;
            .anticon {
              font-size: 15px;
            }

          &.fillted{
            svg {
                fill: #ffbc00;
            }
        }
        }
    }

    .chat-person-aera .threeDot {
        position: absolute;
        top: 0;
        right: 0;
    }

    .booking-date {
        display: flex;
        align-items: center;
    }

    .typing_dots {
        display: inline-block;
        background: #f8f8f8;
        line-height: 20px;
        width: 40px;
        height: 20px;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 5px;
        position: absolute;
        top: -27px;
        left: 0;
        z-index: 9;
        .dots_set{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
        }
        .inner_typing_dots {
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            margin-right: 5px;
            background: #939393;
        }
        .inner_typing_dots:nth-child(3){
            background: #D3D3D3;
        }
    }

    .date {
        h5 {
            margin-bottom: 0;

            span {
                font-weight: normal;
            }
        }

        margin-left: 10px;
    }

    .unred {
        position: absolute;
        right: 7px;
        border-radius: 10px;
        background: yellow;
        text-align: center;
        font-size: 13px;
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    .profile {
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 17px;
        cursor: pointer;
        padding-top: 6px;
        padding-left: 10px;
        position: relative;

        &.active{ 
          background-color: #c0eae9 !important;
        }
        .active_dots {
            height: 12px;
            width: 12px;
            display: block;
            background: #099670;
            border-radius: 50px;
            position: absolute;
            top: 60%;
            right: 7px;
            transform: translateY(-50%);
        }
    }

    .serach-bar {
        padding: 10px;
    }

    .ant-pagination {
        margin-top: 10px;
    }

    .pagination-div {
        .ant-pagination.mini {
            li.ant-pagination-disabled.ant-pagination-prev{
                a.ant-pagination-item-link{
                    i.anticon.anticon-left{
                        color: #000;
                        font-size: 16px;
                    }
                }
            }
            li.ant-pagination-disabled.ant-pagination-next{
                a.ant-pagination-item-link{
                    i.anticon.anticon-right{
                        color:#000;
                        font-size: 16px;
                    }
                }
            }
            .ant-pagination-item.ant-pagination-item-1{
                a{
                    color: #000;
                }
            }
            .ant-pagination-item-active {
                a{
                    color:#099670 !important;
                }
            }
            .ant-pagination-item {
                min-width: 45px;
            }
        }
    }

    .ant-pagination-item-active {
        border: none;
    }

    .right-card {
        border: 1px solid #efefef;
        margin-top: 20px;
        border-radius: 2px;
    }

    .up-details {
        display: flex;
        align-items: center;
    }

    .right-card-align {
        padding: 15px 15px 15px 12px;
    }
    .profile-details{
        .bookmark{
            svg{
                fill: #fff;
                stroke: black;
                stroke-width: 27px;
                font-size: 16px;
            }
        }
    }

    .profile-details {
        h2 {
            margin-top: 5px;
            font-weight: 600;
            margin-bottom: 14px;
        }

        h6 {
            font-weight: bold;
            font-size: 14px;
        }

        .bookmark {
          display: inline-block;
          cursor: pointer;
          svg{
            fill: #fff;
            stroke: black;
            stroke-width: 27px;
        }
          

          &.fillted{
            svg {
                fill: #ffbc00;
            }
          }
        }
    }

    .booking-req {
        margin-left: 15px;
        padding-top: 7px;

        h5 {
            color: #39aa8c;
            font-weight: bolder ;
            margin-bottom: 5px;
        }
        h2{
            color: #0F0F0F;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 0;
            display: inline-block;
            padding-left: 10px;
        }

        h4 {
            font-weight: bolder;
        }
        .Confirm_Booking_mobile{
            display: none;
            button.ant-btn.view-more-trips{
                font-weight: bold;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 16px;
                padding: 20px 30px;
            }
        }
    }

    .req-booking {
        .send-msg{
        br{
            display: none;
            &:first-child {
                display: none;
            }
        }
        }
        h3.send-title {
            color: #099670;
            font-size: 20px;
            font-weight: 600;
        }
        p.trip-name,
        p.name,
        p.phone,
        p.acc-no,
        p.amount,
        p.people{
            margin-bottom: 4px;
            font-size: 16px;
            color: #0F0F0F;
        }
        p.date{
            margin-bottom: 0;
            margin-left: 0;
            font-size: 16px;
            color: #0F0F0F;
        }
        .desc {
            border-top: 1px solid #D3D3D3;
            margin-top: 10px;
            padding-top: 15px;
            color: #0F0F0F;
            font-size: 16px;
        }
        h6 {
            br {
                // &:first-child {
                //     display: none;
                // }
            }
            span {
                font-weight: bold;
            }

            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 0;
            word-break: break-word;
        }

        padding:18px 22px;

        h5 {
            color: #099670;
            font-size: 18px;
            font-weight: bold;
        }
    }

    .message-box {
        background-color: #f5f9fc;
        width: 50%;
        margin: 7px 0px 7px auto;
        border-radius: 30px 30px 0px 30px;
        position: relative;
        margin-top:28px; 
    }

    .message-area {
        padding: 29px 10px 8px 7px;
        border-top: 1px solid #d3d3d3;
    }

    .main-message-box {
        margin-bottom: 20px;
    }

    .innerMessgae {
        h6 {
            padding-top: 10px;
        }
    }

    .time {
        position: absolute;
        color: #939393;
        text-align: right !important;
        font-size: 9.24px;
        width: 100%;
        padding-top: 7px !important;
        padding: 0;

        h6 {
            color: #bcbcbc;
            text-align: right;
        }
    }
    ul.ant-pagination.mini {
        margin-top: 0;
        border-top: none;
        padding: 25px 12px;
    }

    .left-message-box {
        display: block;
        width: 50%;
        margin: 7px 0px 7px 0px;
        
        h5{
            color: #939393;
            text-align: right;
            font-size: 9.24px;
            text-align: left;
        }
        h6 {
            width: auto;
            background-color: #0b8fff;
            padding: 18px 22px;
            color: #fff;
            border-radius: 30px 30px 30px 0px;
            font-size: 14px;
            line-height: 1.5;
            word-break: break-word;
            
            br{
                display: none;
            }
            h3.send-title {
                color:#fff;
                font-size: 20px;
                font-weight: 600;
            }
            p.trip-name,
            p.name,
            p.phone,
            p.people{
                margin-bottom: 4px;
                font-size: 14px;
                span {
                    font-weight: bold;
                }
            }
            p.date{
                margin-bottom: 0;
                margin-left: 0;
                font-size: 14px;
                span {
                    font-weight: bold;
                }
            }
            .desc {
                border-top: 1px solid #D3D3D3;
                margin-top: 10px;
                padding-top: 15px;
                font-size: 14px;
            }
            div {
                br {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
    }

    .innerMessgae {
        padding-top: 10px;
    }

    span.ant-input-group-addon {
        i {
            display: none;
        }
    }



    .input_div {
        position: relative;
        display: flex;
        align-items: center;
       // background-color: #f8f8f8;
        border: none;
        border-radius: 5px;
        span.ant-input-group-addon {
            display: none;
        }
        .image_icon {
            display: flex;
            width:100%;
            position: relative;
        }
        input {
            padding: 25px;
            padding-left: 59px;
        }
        textarea {
            height: 45px;
            padding: 12px 0px 0;
            padding-left: 59px;
            overflow: hidden;
            border-radius: 5px 0px 0px 5px;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        input:focus{
            outline: none;
            box-shadow: none;
        }

        .ant-input-group-wrapper {
            width: 100%;
            padding-left: 53px;
        }
        .image_icon{
            .emoji-ic {
                position: absolute;
                top: 50%;
                left: 30px;
                transform: translateY(-50%);
            }
        }
        .all-btn {
            display: flex;
            // width: 35%;
            align-items: center;
            padding-right: 10px;
            justify-content: flex-end;

            .send-img {
                cursor: pointer;
                height: 45px;
                margin-left: 13px;
                background: #099670 0% 0% no-repeat padding-box;
                padding: 9px;
                border-radius: 0px 5px 5px 0px;
            }
            span.uplordbtn img {
                width: 15px;
            }
            span.uplordbtn button.ant-btn {
                background: transparent;
                border: none;
                padding: 4px 0px 0px 20px;
            }
        }
        .ant-upload-list {
            position: absolute;
            left: 0;
            z-index: 999;
        }
        .file-list {
            position: absolute;
            top: 100%;
            z-index: 999;
            width: 100%;
            background: #c0eae9;

            li {
                display: inline-block;
                padding: 10px;
                
                span {
                    cursor: pointer;
                }
            }
        }
    }

    .ant-input-group {
        .ant-input {
            &:hover {
                z-index: 0;
            }
        }
    }

    .message-btn {
        background: #FFBC00 0% 0% no-repeat padding-box;
        border-radius: 5px;
        padding: 4px;

        button {
            background: #FFBC00 0% 0% no-repeat padding-box;
            border-radius: 5px;
            padding: 4px 12px;
            border: none;
            color: #000;
            text-transform: capitalize;
            font-weight: bold;

            &:hover {
                background-color: transparent;
            }
        }
    }
    .expert-message-btn__container {
        border-radius: 5px;
        display: block;
        padding: 10px;
        justify-content: space-around;
        text-align: right;

        button {
            background: #FFBC00 0% 0% no-repeat padding-box;
            border-radius: 5px;
            border: none;
            color: #000;
            text-transform: capitalize;
            font-weight: bold;
            width: 180px;
            line-height: 0;
            height: 50px;

            &:hover {
                background-color: transparent;
                border: 1px solid #ffba00;
                color: #ffba00;
            }
        }
        button.payment-details__button{
            margin-right: 15px;
        }
        
    }

    .resposive-message-div {
        display: none;
    }

    .send-img {
        img {
           // width: 100%;
        }
    }
    .chat-person-area{
        border: 1px solid #D3D3d3;
        height: 543px;
        overflow-x: scroll;

        .loader {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 5px;
            right: 0;
        }
    }
    .serach-bar {
        border-bottom: 1px solid #D3D3d3;
        border-left: 1px solid #D3D3d3;
        border-right: 1px solid #D3D3d3;

        .ant-input-wrapper {
            padding: 15px 0px;
        }

        input.ant-input {
            padding: 25px 15px;
            font-size:16px ;
        }
        input.ant-input::placeholder{
            color: #939393;
        }
        
    }
}
.main-message-box {
    .serach-bar.search_bar{
        span.ant-input-group-addon{
            display: none;
        }
    }
    .profile-cotnet{
        .bookmark{
            svg{
                fill:#fff;
                width: 15px;
                stroke: black;
                stroke-width: 27px;
            }
        }
        .message-details{
            .person-name{
                h5.user_name{
                    font-size: 14px;
                }
            }
            .message-name{
                h5{
                    font-size:14px;
                    padding-right: 15px;
                }
            }
        }
    }
    .booking-date{
        .date{
            position: absolute;
            right: 5%;

            h5{
                font-size: 10px;
                color: #777;
            }
        }
    }
    .right-card-align{
        .booking-req{
            h5{
                font-size: 16px;
                display: inline-block;
            }
        }
        .up-details{
            padding-left: 15px;
            .profile-photo{
                span.ant-avatar.ant-avatar-circle.ant-avatar-image{
                    padding-right: 20px;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .send-img {
        right: 38%;
    }
}

@media (max-width:767px) {
    .message-box {
        width: 100%;
        margin: 0;
    }

    .resposive-message-div {
        display: block;
        margin-top: 45px;
    }

    .message {
        display: flex;
        padding-bottom: 15px;

        h3 {
            padding-left: 10px;
            font-weight: bold;
            color: #099670;
        }

        &:before {
            content: url(./../public/images/arrow_back.svg);
        }
    }

    .message-btn-res {
        text-align: center;
    }

    .ml-5 {
        margin-left: 10px;
    }

    .message-btn-res {
        button.ant-btn.active_massage {
            background: #099670;
            color: #fff;
        }
        button {
            background:#F8F8F8;
            border-radius: 20px;
            border: none;
            color: #000;
            width: 140px;

            &:hover {
                background-color: #099670;
                color: #fff;
            }
        }
    }
    .profile-details {
        h2 {
            font-size: 16px;
            margin: 5px;
        }
    }

}

@media (min-width:768px) and (max-width:991px){
    .main-message-box {
        .serach-bar{
            border-left:none ;
            border-right:none
        }
        .container.fix_container_width {
            padding: 0;
        }
        .serach-bar{
            border-left:none ;
            border-right:none;
        }
        .serach-bar.search_bar{
            input.ant-input{
                background: #F8F8F8;
                padding-right: 40px;
            }
        }
        .message-area{
            .input_div {
                display: flex;
                width: 100%;
                align-items: center;
                .image_icon{
                    width: 90% !important;
                    .emoji-ic{
                        left: 3%;
                    }
                }
                input.ant-input{
                    padding: 25px 25px 25px 58px;
                }
                .all-btn {
                    width: 10% !important;
                    .message-btn{
                        display: none;
                    }
                    span.uplordbtn{
                      //  display: none;
                    }
                    .send-img{
                        margin-right: 0;
                    }
                }
    
                .ant-input-group-wrapper {
                    width: 100%;
                }
                span {
                    margin-bottom: 5px;
                }
            }
        }
        .message-left-box{
            border:none;
            margin-top:0;
            .chat-person-area{
                border:1px solid #ebebeb;
                border-top:none;
            }
        }
    
        .resposive-message-div {
            display: block;
            margin-top: 45px;
        }
    
        .message {
            display: flex;
            padding-bottom: 15px;
    
            h3 {
                padding-left: 10px;
                font-weight: bold;
                color: #099670;
            }
    
            &:before {
                content: url(./../public/images/arrow_back.svg);
            }
        }
    
        .message-btn-res {
            text-align: center;
        }
    
        .ml-5 {
            margin-left: 10px;
        }
        
        .resposive-message-div {
            .message{
                align-items: center;
                h3{
                    margin-bottom: 0;
                    span{
                        background: red;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 50px;
                        text-align: center;
                        line-height: 20px;
                        color: #fff;
                        font-size: 11px;
                        margin-left: 10px;
                    }
                }
            }
            display: block;
        }
    }
    .message-btn-res {
        button.ant-btn.active_massage {
            background: #099670;
            color: #fff;
        }
        button {
            background:#F8F8F8;
            border-radius: 20px;
            border: none;
            color: #000;
            width: 140px;

            &:hover {
                background-color: #099670;
                color: #fff;
            }
        }
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .main-message-box {
        .input_div {
            .image_icon{
                // width: 50% !important;
            }
            .all-btn {
                // width: 50% !important;
                .send-img{
                    margin-right: 3px;
                    margin-left: 3px;
                }
                span.uplordbtn button.ant-btn {
                    padding-left: 7px;
                }
                .message-btn{
                    button.ant-btn.ant-btn-primary{
                        padding: 4px 4px;
                        font-size: 12px;
                    }
                }
                span.uplordbtn {
                    width: 29px;
                }
            }

            .ant-input-group-wrapper {
                width: 100%;
            }
        }
    }
}
@media(max-width:1024px) and (min-width:992px) {
    .main-message-box {
        .input_div {
            .image_icon{
                width: 55% !important;
            }
            .all-btn {
                width: 45% !important;
                .message-btn{
                    button.ant-btn.ant-btn-primary{
                        padding: 4px 4px;
                    }
                }
                span.uplordbtn {
                    width: 29px;
                }
            }

            .ant-input-group-wrapper {
                width: 100%;
            }
        }
    }
}

@media(max-width:1199px) and (min-width:1025px) {
    .main-message-box {
        .input_div {
            .image_icon{
                // width: 50%;
            }
            .all-btn {
                // width: 50%;
            }

        }
    }
}

@media(max-width:767px) and (min-width:320px) {
    .main-message-box {
        .booking-req{
            button.ant-btn.view-more-trips{
                box-shadow: none;
            }
            button.ant-btn.view-more-trips:hover{
                background: #ffba00;
                border: 1px solid #ffba00;
                color: #0f0f0f;
            }
        }
        .input_div {
            display: flex;
            width: 100%;
            align-items: center;
            .image_icon{
                width: 100%;
            }
            input.ant-input{
                padding: 25px 25px 25px 48px;
            }
            .all-btn {
                .message-btn{
                    display: none;
                }
                span.uplordbtn{
                    display: none;
                }
                .send-img{
                    margin-right: 0;
                }
            }

            .ant-input-group-wrapper {
                width: 100%;
            }
            span {
                margin-bottom: 5px;
            }
        }
        .message-box{
            width: 80%;
            margin-top:28px;
        }
        .Confirm_Booking_mobile{
            display: block !important;
            margin-top: 13px !important;
            button.ant-btn.view-more-trips{
                font-weight: bold;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 14px;
                padding: 18px 23px;
            }
        }
        .left-message-box{
            margin-top:24px;  
            width: 80%;   
            img{
                width: 100%;
            }                   
        }
        .left-message-box h6{
            font-size: 13px;
            width: 234px;
        }
        .req-booking h6 {
            font-size: 13px;

            .message-content {
                a {
                    display: block;
                }
            }

        }
        .message-name h5,
        .date h5,
        .person-name h5 {
            font-size: 14px;
        }
        .resposive-message-div {
            .message{
                align-items: center;
                h3{
                    margin-bottom: 0;
                    span{
                        background: red;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        border-radius: 50px;
                        text-align: center;
                        line-height: 20px;
                        color: #fff;
                        font-size: 11px;
                        margin-left: 10px;
                    }
                }
            }
            display: block;
        }
        .message-left-box{
            border-top: none;
        }
        .message-left-box{
            border: none;
        }
        .chat-person-aera{
            border: 1px solid #D3D3d3;
        }
        .pagination-div{
            ul.ant-pagination.mini {
                padding: 6px 0px;
            }
        }
        .serach-bar {
            border: none;
            .filter-button{
                .ant-select.ant-select-enabled{
                    width: 100% !important;
                    margin-top: 15px;
                }
            }
            span.ant-input-wrapper.ant-input-group{
                padding: 0;
                background: #F8F8F8 ;
                span.ant-input-search.ant-input-search-enter-button.ant-input-affix-wrapper{
                    input.ant-input{
                        background: #F8F8F8 ;
                        padding-right: 40px;
                    }
                    
                }
                span.ant-input-group-addon{
                    background: #F8F8F8 ;
                }
            }
        }
    }
    .expert-message-btn__container {
        button {
            width: 150px !important;
        }
    }

}
aside.emoji-picker-react{
    position: absolute !important;
    z-index: 99999;
    top: 100%;
}

.bookmark{
    svg {
        font-size: 15px;
    }
    &.fillted{
       svg{
           fill:#ffbc00 !important;
       }
    }
}

.mobile-messge{
    display: none;
}
.paymentDetails_bankName{
    .ant-form-item-required::before{
        display: none;
    }
    margin-bottom: 0px;
}
.payment-details-container{
    .ant-input:hover {
        border-color: #40a9ff;
        border-right-width: 1px !important;
    }
    input{
        height: 45px;
        color: #000;
        font-size: 14px;
        background-color: #f8f8f8;
        border: none;
    }
    .ant-select-selection {
        border: 1px solid #d3d3d3;
        min-height: 45px;
        color: #000;
        font-size: 14px;
        background-color: #f8f8f8;
        border:none
    }
    .ant-select-selection__rendered{
        line-height: 3;
    }
    .ant-input-group-addon{
        font-weight: 600;
        font-size: 18px;
        color: #099670;
    }
    .ant-form-item label{
        color: #0f0f0f;
        font-size: 15px;
        font-family: "Rubik-medium";
        font-weight: 500;
    }
    .payment-type-details{
        padding: 20px 0px 0px 0px;
        color: #0f0f0f;
        font-size: 15px;
        font-family: "Rubik-medium";
        font-weight: 500;
    }
    .ex__primary_btn{
        padding: 0 15px;
    }
    .ex_grey_btn{
        padding: 0 20px;
    }
    textarea{
        border: none !important;
        height: 75px !important;
    }
}
