.booking-message {
  padding-bottom: 60px;

  .main-message-box {
    .message-left-box {
      margin-top: 30px;

      .chat-person-aera {
        border: 1px solid #d3d3d3;
       // overflow: scroll;
        margin-top: 0px;

        .profile {
          .profile-cotnet {
            .message-details {
              .bookmark {
                top: 25%;
              }
            }
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

.trips_massage_name.fix_top_padding {
  margin-top: 20px;
}

.trips_massage_name {
  .ant-row.boxes_mani {
    padding: 0px 15px !important;
  }
  border: 1px solid #d3d3d3;
  .trips_massage_name_title {
    .side_profile_menu {
      padding-left: 10px;
      img.grid_view {
        border: 1px solid #d3d3d3;
        padding: 4px;
        border-radius: 5px;
      }
      img.grid_view.grid_active {
        background: #099670;
        color: #fff;
      }
    }
    .menu_profile_right {
      display: flex;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 22px;
    h2 {
      font-weight: bolder;
      margin-bottom: 0;

      .bookmark {

        svg {
          fill: #fff;
          stroke: black;
          stroke-width: 27px;
        }
        &.fillted {
            fill: #ffbc00 !important;
        }
      }
    }
  }
  .trip_accordian {
    .ant-collapse.ant-collapse-icon-position-right {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }
    .trip_collapse {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .trip_collapse_heding {
        display: flex;
        p.slot_01 {
          font-weight: 900;
          margin-bottom: 0;
        }
        p.date_time {
          color: #939393;
          padding-left: 20px;
          margin-bottom: 0;
        }
      }
      p.persone {
        color: #0f0f0f;
        background: #f8f8f8;
        border-radius: 20px;
        margin-right: 10px;
        margin-bottom: 0;
        padding: 0px 13px;
      }
    }
    .ant-collapse-item.ant-collapse-item-active {
      span.anticon.anticon-caret-right.ant-collapse-arrow {
        svg {
          color: #099670;
        }
      }
    }
    .ant-collapse-extra {
      width: 100%;
    }
    .ant-collapse-header {
      height: 50px;
      line-height: 50px;
      padding: 0px 16px;
    }
  }
  .trip_profile_detai_name {
    background-color: #f8f8f8;
    border-radius: 5px;
    .trip_name_profile_images {
      padding: 20px 20px 20px 20px;
      text-align: center;
      .img-fluid {
        // max-width: 100%;
        // height: auto;
        height: 105px;
        width: 105px;
        border-radius: 105px;
      }
    }
    h3 {
      color: #0f0f0f;
      text-align: center;
      font-weight: bolder;
      margin-bottom: 10px;
    }
    p.call_number {
      color: #0b8fff;
      text-align: center;
      margin-bottom: 10px;
    }
    p.participants {
      text-align: center;
      color: #0f0f0f;
      margin-bottom: 15px;
    }
    .trip_collaspe_button {
      text-align: center;
      padding-bottom: 14px;
      button.ant-btn.view-more-trips {
        padding: 21px 25px;
        text-transform: capitalize;
        font-weight: 900;
        letter-spacing: 1px;
        box-shadow: none;
      }
      button.ant-btn.view-more-trips:hover {
        background: #ffba00;
        border: 1px solid #ffba00;
        color: #000;
      }
      button.ant-btn.view-more-trips:active {
        background: #ffba00;
        border: 1px solid #ffba00;
        color: #000;
      }
    }
  }
  .trip_collapse_box {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 6px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .trips_massage_name {
    .trips_massage_name_title {
      h2 {
        max-width: 88%;
        font-size: 18px;
      }
    }
    h3 {
      font-size: 15px;
    }
    .trip_accordian {
      .ant-collapse-content.ant-collapse-content-active {
        width: 100%;
      }
      .ant-collapse-header {
        height: 71px;
      }
      .ant-collapse-extra {
        .trip_collapse_heding {
          display: block;
          p.date_time {
            padding-left: 0px;
            line-height: 0;
          }
        }
        p.persone {
          height: 71px;
          line-height: 71px;
        }
      }
    }
  }
  .container.fix_container_width {
    padding: 0;
  }
  .trip_profile_detai_name {
    .trip_collaspe_button {
      button.ant-btn.view-more-trips {
        padding: 17px 16px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pagination-div {
    ul.ant-pagination.mini li {
      min-width: 31px !important;
    }
  }
}
