@mixin ele-font($family) {
  font-family: $family;
}
@mixin media-large-tablet {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}
@mixin media-small-tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}
@mixin media-landscape-mobile {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}
@mixin media-lg {
  @media (max-width: 1199.98px) {
    @content;
  }
}
@mixin media-md {
  @media (max-width: 991.98px) {
    @content;
  }
}
@mixin media-sm {
  @media (max-width: 767.98px) {
    @content;
  }
}
@mixin media-mobile {
  @media (max-width: 575.98px) {
    @content;
  }
}
@mixin media-mobile-medium {
  @media (max-width: 360px) {
    @content;
  }
}
@mixin media-mobile-small {
  @media (max-width: 320px) {
    @content;
  }
}

// new @media
@mixin min-1600 {
  @media (min-width: 1600px) {
    @content;
  }
}
@mixin min-1400 {
  @media (min-width: 1400px) {
    @content;
  }
}
@mixin min-1200 {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin min-992 {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin min-768 {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin min-575 {
  @media (min-width: 575px) {
    @content;
  }
}