@media (max-width: 767px) {
  .learning_sec {
    .share_icn {
      width: auto;
    }
  }
  .filter_sec_bg {
    .filter_left {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 320px) {
  .ant-select {
    width: 175px !important;
  }
}
