.reserve_mdl {
  width: 650px !important;
  h4 {
    padding: 0px;
  }
  .ant-modal-body {
    padding: 30px;
  }
  .sec_border {
    border-bottom: 1px solid #d3d3d3;
  }
  .reserve_frm_bg {
    label {
      color: #0f0f0f;
      font-weight: 600;
    }
    input {
      height: 50px;
      width: 100%;
    }
    textarea {  
      width: 100%;
    }
  }
  .ant-calendar-picker {
    width: 100%;
  }
  .ant-select-selection--single {
    height: 45px;
  }
  .ant-advanced-search-form {
    .ant-form-item {
      margin-bottom: 5px;
    }
  }
  .term_conditon_ckb{
    .ant-checkbox-wrapper{
      display: flex;
    }
    .ant-checkbox-inner{
      margin-top: 4px;
    }
    .term_condition_txt {
      margin-top: 10px;
      font-size: 12px;
    
      opacity: 0.7;
      font-weight: 600;
      color: #0F0F0F;
      span:nth-child(2){
        line-height: 1.5;
      }
    }
    .ant-checkbox-checked::after{
      border:none;
    }
  }
}
