.filter_sec_bg.learning_sec.top_trip .expidition_bg h4.sub_title {
    padding-top: 8px;
    padding-bottom: 10px;
}
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round {
    background: #F8F8F8;
    color: #000;
    border-color: #F8F8F8;
    height: 35px;
    font-size: 14px;
}
.filter_sec_bg.learning_sec.top_trip .trip_button {
    text-align: right;
    padding-right: 0 !important;
    padding-top: 11px;
}   
.trip_short .pr20.ant-select.ant-select-enabled {
    width: 100% !important;
    padding-right: 0;
}
.ant-col.ant-col-4.trip_short {
    padding-right: 0 !important;
}
.filter_sec_bg.learning_sec.top_trip .filter_tab img {
    height: auto;
    border-radius: 0;
}
.filter_sec_bg.learning_sec.top_trip .upcoming_button{
    margin-right: 15px;
}
.filter_sec_bg.learning_sec.top_trip .ant-row.trip_detail {
    padding-bottom: 50px;
}
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round:hover {
    background: #099670;
    color: #fff;
    border-color: #099670;
}
.ant-col.ant-col-4.filter_tab button.ant-btn.view-more-trips.an-20.mt10.button_set {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 21px 15px 24px 15px;
}
.filter_sec_bg.learning_sec.top_trip .ant-col.ant-col-8.first_trip {
    padding-top: 12px;
}
.filter_sec_bg.learning_sec.top_trip .ant-select-selection.ant-select-selection--single {
    height: 52px;
}
.filter_sec_bg.learning_sec.top_trip .ant-select-selection.ant-select-selection--single .ant-select-selection__rendered {
    padding: 11px 0px;
}
.filter_sec_bg.learning_sec.top_trip .ant-col.first_trip span.edit_btn.medium-text.an-14.pull-right.mt30 {
    float: none;
    display: inline-block;
    margin-top:0px;
    padding: 4px 13px;
}

.filter_sec_bg.learning_sec.top_trip .ant-col.first_trip .expidition_bg {
    display: inline-block;
    padding-right: 10px;
}
.inactive_online_button {
    display: flex;
}
.inactive_online_button span.inactive {
    margin-right: 5px;
    color: #099670;
    border: none;
    font-size: 13px !important;
}
.inactive_online_button span.inactive:hover {
    color: #099670;
    background-color: #fff;
}


// trip_blog

.trips_blog .text-right img {
    height: auto;
}

.trips_blog .ant-card-head {
    position: absolute;
    right: 10px;
    background: #000;
    padding: 0;
    min-height: 0;
    height: 28px;
    border-radius: 5px;
    top:10px;
    border:none ;
    z-index: 999;
}

.trips_blog .ant-card-head .ant-card-head-wrapper .more_icon_upcoming_tips {
    color: #fff;
    padding-top: 2px;   
    padding-left: 1px;
}

.trips_blog .ant-card-head .ant-card-head-wrapper .ant-card-extra {
    padding: 0;
}
.expidition_bg.expendition .ant-col.gutter-row.trips_blog .ant-card-head {
    padding: 0;
}
.expidition_bg.expendition .trips_blog .more_icon_upcoming_tips img {
    height: auto;
}
.ant-row.trip_detail .ant-col.filter_tab button.ant-btn.view-more-trips.an-20.mt10.button_set {
    margin: 0;
    width: 100%;
    padding: 25px 16px 25px 16px;
    font-size: 16px !important;
}
.filter_sec_bg.learning_sec.top_trip .ant-col.first_trip {
    padding-top: 12px;
}
.ant-row.trip_detail .ant-col.trip_short {
    padding-right: 0 !important;
}
.top_trip .ant-row .heart_fill.trip_set_icon img.pr10.pt5.share_icn {
    padding: 0;
}
.top_trip .price_sec p {
    color: #0F0F0F;
}
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round.active_upcoming_trip,
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round.active_past_trip,
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round.active_upcoming_workshop,
.filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round.active_past_workshop{
    background: #099670;
    color: #fff;
    border-color: #099670;
}

.pagination-div ul.ant-pagination.mini {
    text-align: center;
}

// trip pagination


.pagination_trip{
        display: block;
        clear: both;
        padding-top: 50px;
        padding-bottom: 10px;
    ul.ant-pagination{
        text-align: right;
        .ant-pagination-item{
            background: #F8F8F8;
            border: none;
            color: #000;
            height: 45px;
            width: 45px;
            line-height: 45px;
            border-radius: 10px;
            font-size: 14px;
        }
        li.ant-pagination-prev,
        li.ant-pagination-next {
            background: #F8F8F8;
            border: none;
            color: #000;
            height: 45px;
            width: 95px;
            line-height: 45px;
            border-radius: 10px;
            font-size: 14px;
        }
        .ant-pagination-item-active {
            background: #FFBA00 !important;
        }
        .ant-pagination-item-active a:hover{
            color:#fff !important;
        }
        li.ant-pagination-options{
            position: absolute;
            left: 0;
        .ant-select-selection__rendered {
            color: #000;
            font-size: 14px;
        }
        .ant-select-selection--single{
            border: none;
            background: #F8F8F8;
            border-radius: 10px;
            padding-left: 6px;
            position: relative;
            height:45px !important;
            .ant-select-selection__rendered{
                padding: 8px 0px !important;
            }
        }
        .ant-select-selection--single::before {
            content: "Per Page";
            position: absolute;
            top: 50%;
            right: -81%;
            transform: translateY(-50%);
            font-size: 14px;
            color: #000;
        }
        .ant-select-dropdown-hidden{
            .ant-select-dropdown-menu-item{
                text-align: left;
            }
        }
        .ant-pagination-options-size-changer.ant-select.ant-select-enabled{
            width: 100px;
         }
            
        }
    }
}

// trip page poppop

.profile_bg.trip_poppop{
    .border_top,.border_bottom{
        margin: 0 12px;
    }
    .cursor-pointer {
        padding: 10px 12px;
    }
    .primary--text.py5.cursor-pointer:nth-child(3),
    .primary--text.py5.cursor-pointer:nth-child(4),
    .primary--text.py5.cursor-pointer:nth-child(5) {
        color: #000 !important;
    }
    .primary--text.py5.cursor-pointer:nth-child(7){
        color: #FD3C3C !important;
    }
}
.inactive_online_button span.inactive.edit_btn.medium-text.an-14.pull-right.mt30 {
    margin-top: 0 !important;
}
.onilne_trip_inactive_fix {
    display: flex;
    position: absolute;
    width:250px;
    top: -3px;
    left: -250px;
    justify-content: flex-end;
}
// workshop side poppop
.Online_workshop{
    display: flex;
    width: 234px;
    justify-content: flex-end;
    p{
        margin-right: 7px;
        background: #fff;
        border-radius: 14px;
        width: 120px;
        height: 29px;
        font-size: 13px;
        margin-bottom: 0;
        color: #099670;
        text-align: center;
        font-weight: 900;
        padding: 4px 0px;
    }
}

.creacte_rip_section {
    .trip_name ,
    .activity_trip,
    .Duration_trip,
    .Suitable_trip,
    .language_trip{
        margin-bottom: 25px;
    }
    label.ant-form-item-required{
        font-weight: bolder;
    }
    .trip_name .trip_input {
        border-radius:6px;
        background: #F8F8F8;
    }
    .trip_name .trip_input::placeholder {
        color: #939393;
    }
    .activity_trip div#createTrips_activity {
        border-radius:6px;
        .ant-select-selection__rendered ul li{
            background: #EBEBEB;
        }
        li.ant-select-search.ant-select-search--inline {
            background: transparent !important;
        }
    }
    .activity_trip div#createTrips_activity .ant-select-selection.ant-select-selection--multiple{
        background: #F8F8F8;
        border-radius:6px;
        .ant-select-selection__placeholder{
            color: #939393;
            border-radius:6px;
        }
        .ant-select-selection__rendered {
            height: 50px !important;
            min-height: inherit !important;
        }
    }
    .Price_base_trip {
        .ant-select-selection__rendered {
            font-weight: bold;
        }
        span.ant-input-wrapper.ant-input-group{
            span.ant-input-group-addon{
                background: #F8F8F8;
                color: #0F0F0F;
            }
            input#createTrips_price{
                background: #F8F8F8;
                
            }
            input#createTrips_price::placeholder{
                color: #939393 !important;
            }
        }
    }
    .Duration_trip{
        .ant-select-selection__rendered {
            font-weight: bold;
        }
        span.ant-input-wrapper.ant-input-group{
            span.ant-input-group-addon{
                background: #F8F8F8;
                color: #0F0F0F;
            }
            input#createTrips_duration{
                background: #F8F8F8;
                color: #0F0F0F;
            }
            input#createTrips_duration::placeholder{
                color: #939393 !important;
            }
            .ant-select-selection-selected-value {
                padding-right: 15px;
            }
        }
    }
    .Expedition_Type_trip{
        input#createTrips_participants{
            background: #F8F8F8;
            color: #0F0F0F;
        }
        input#createTrips_participants::placeholder{
            color: #939393 !important;
        }
    }
    .language_trip{
        .ant-select-selection.ant-select-selection--single{
            background: #F8F8F8;
            .ant-select-selection__placeholder{
                color: #939393 !important;
            }
        }

    }
    .Suitable_trip{
        .ant-select-selection.ant-select-selection--single{
            background: #F8F8F8; 
            .ant-select-selection-selected-value{
                color: #0F0F0F;
            }
        }
    }
    .Difficultylevel_trip{
        .ant-slider-rail{
            background-color: #D3D3D3;
        }
        .ant-row.ant-form-item.Difficultylevel_trip_sub{
            margin-bottom: 40px;
        }
        .ant-slider-mark span.ant-slider-mark-text:nth-child(1) {
            transform: translateX(-11%) !important;
        }
        
    }
    .Skill_level_trip{
        .ant-slider-rail{
            background-color: #D3D3D3;
        }
        .ant-row.ant-form-item.Skill_level_trip_sub{
            margin-bottom: 40px;
        }
        .ant-slider-mark span.ant-slider-mark-text:nth-child(1) {
            transform: translateX(-11%) !important;
        }
        
    }
}
.creacte_rip_section_step_2{
    .step_2_price_trip{
        span.ant-input-wrapper.ant-input-group{
            border-radius: 6px;
            span.ant-input-group-addon,
            input#createTrips_price-0{
                background-color: #F8F8F8;
            }
        }
    }
    .Country_trip .ant-select-selection--single {
        background: #F8F8F8;
    }
    .Location_trip{
        .ant-form-item-control input.ant-input.location-search-input{
            background-color: #F8F8F8;
        }
        .ant-form-item-control input.ant-input.location-search-input::placeholder{
            color: #939393;
        }
    }
    .Meeting_point_trip{
        .ant-form-item-control input#createTrips_meetingPoint{
            background-color: #F8F8F8;
        }
        .ant-form-item-control input#createTrips_meetingPoint::placeholder{
            color: #939393;
        }
    }
    .ant-col.set_textarea .quill {
        border: 1px solid #D3D3D3;
        border-radius: 5px;
        .ql-toolbar.ql-snow{
            background: #F8F8F8;
            span.ql-formats button{
                background-color: #fff;
                border: 1px solid #D3D3D3;
            }
            span.ql-formats button:nth-child(1){
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            span.ql-formats button:last-child{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
    .step2_date_and_price{
        padding-bottom:20px;
        .ant-form-item{
          margin-bottom: 0px;
        }
    }
    .quill {
        .ql-editor{
          font-family: "rubik-regular";
          font-size: 14px;
          color:#000;
        }
      }
}
.step-1-expert-form {
    .creacte_rip_section_step_3 .ant-form-item-label label{
        font-weight: 600;
        color: #0f0f0f;
        font-size: 14px;
    }
    .creacte_rip_section_step_3 {
        .step-title{
            font-weight: 600;
            color: #0f0f0f;
            letter-spacing: 0px;
        }
        .trip_itinerary{
            margin-bottom: 24px;
            .flex-x.align-end{
                position: relative;
                .trip_close_icon{
                    top: 0%;
                    left: 100%;
                    right: auto !important;
                    transform: translate(-50%,-50%);
                    margin: 0 !important;
                    background-color: white;
                    font-weight: bolder;
                }
            }
            .medium-text.flex-x.space-between {
                align-items: center;
                padding-top: 24px;
            }
        }
        .accommodation{
            span.uplord_img.ant-upload-picture-card-wrapper{
                display: grid;
            }
            .ant-upload-select-picture-card{
                height: auto;
                position: absolute;
                top: 0;
                right: 0;
            }
            .medium-text.flex-x.space-between {
                align-items: center;
            }
            .medium-text.flex-x.space-between>div{
                position: relative;
                width: 100%;
            }
            .fix_vertical{
                align-items: flex-start !important;
            }
            .step-title.ant-form-item-required{
                padding-right: 20px;
                display: flex;
                padding-top: 4px;
            }
            .ant-upload-list.ant-upload-list-picture-card {
                display: inline-block;
                margin-top: 25px;
                order: 2;
            }
        }
        .ant-col.set_textarea .quill {
            border: 1px solid #D3D3D3;
            border-radius: 5px;
            .ql-toolbar.ql-snow{
                // background: #F8F8F8;
                span.ql-formats button{
                    background-color: #fff;
                    border: 1px solid #D3D3D3;
                }
                span.ql-formats button:nth-child(1){
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                span.ql-formats button:last-child{
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
        .quill {
            .ql-editor{
              font-family: "rubik-regular";
              font-size: 14px;
              color:#000;
            }
          }
    }
}
.creacte_rip_section_step_2 .border_sec {
    height: auto;
}
.creacte_rip_section .img-set-icon .ant-upload.ant-upload-select.ant-upload-select-picture-card {
    width: 100%;
}
.form-profile-container.img-set-icon .flex-y.center.zero-img {
    padding: 60px 0px;
}




@media (min-width:1200px){
    .filter_sec_bg.learning_sec.top_trip .ant-row.trip_detail .title_set {
        width: 33.33333333%;
    }
    .ant-col.first_trip.title_set_workshop {
        width: 29.16666667%;
    }
}
@media (min-width:991px) and (max-width:1199px){
    .ant-row.trip_detail .ant-col.filter_tab button.ant-btn.view-more-trips.an-20.mt10.button_set {
        font-size: 15px !important;
    }
    .filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round {
        font-size: 11px;
    }
}
@media (min-width:1024px) and (max-width:1199px){
    .ant-col.first_trip.ant-col-xs-24.ant-col-sm-24.ant-col-md-16.ant-col-lg-5.ant-col-xl-5 {
        padding-right: 0px !important;
    }
    .onilne_trip_inactive_fix {
        left: -224px;
    }
    .filter_sec_bg.learning_sec.top_trip .ant-col.first_trip .expidition_bg {
        padding-right: 4px;
    }
    .filter_sec_bg.learning_sec.top_trip .ant-col.first_trip span.edit_btn.medium-text.an-14.pull-right.mt30 {
        padding: 4px 7px;
        font-size: 11px !important;
    }
    .Online_workshop{
        left: -228px;
    }
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked img ,
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper img{
        width: auto;
    }
}
@media(min-width:768px) and (max-width:1024px){
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked img ,
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper img{
        width: auto;
    }
    section.expe_sec.h_padding.workshop .heart_fill label svg{
        width: 26px;
        height: 26px;
     }

    section.expe_sec.h_padding.workshop .ant-row .text-right img {
        width: 39%;
    }
    .expidition_bg.expendition .heart_fill .text-right img.pr10.pt5.share_icn.ant-dropdown-trigger {
        width: 28px;
    }
    .menu_fix{
        position: relative;
        z-index: 9999;
    }
    .filter_sec_bg.learning_sec.top_trip button.ant-btn.ant-btn-primary.ant-btn-round {
        font-size: 11px;
    }
    .ant-row.trip_detail .ant-col.first_trip {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
    }
    .ant-row.trip_detail .ant-col.filter_tab {
        position: absolute;
        top: 0;
        right: 0;
        width: 36%;
        text-align: right;
    }
    .filter_sec_bg.learning_sec.top_trip .ant-col.trip_button {
        position: absolute;
        top: 41%;
        left: 0;
        text-align: left;
        width: 50%;
    }
    .ant-row.trip_detail .ant-col.trip_short {
        position: absolute;
        top: 41%;
        right: 0;
        width: 50%;
    }
    .ant-row.trip_detail {
        height: 166px;
    }
    .ant-row.trip_detail .ant-col.filter_tab button.ant-btn.view-more-trips.an-20.mt10.button_set {
        margin: 0;
    }
    .ant-row.trip_detail .ant-col.trip_short {
        padding-right: 20px !important;
    }
    // pagination trip

    .pagination_trip{
        ul.ant-pagination{
            .ant-pagination-item{
                height: 35px;
                width: 35px;
                line-height: 35px;
                font-size: 14px;
                border-radius: 5px;
            }
            li.ant-pagination-prev,
            li.ant-pagination-next {
                width: 65px;
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                border-radius: 5px;
            }
            li.ant-pagination-options{
                .ant-select-selection--single::before{
                    font-size: 14px;
                    right: -98%;
                }
                .ant-select-selection--single{
                    width: 70px;
                    height: 35px !important;
                    .ant-select-selection__rendered{
                        font-size: 14px;
                        padding: 4px 0px !important;
                    }
                }
                .ant-pagination-options-size-changer.ant-select.ant-select-enabled{
                    width: 100px;
                }
                
            }
            
        }
    }

}
// add new
.image_fix_accommodation {
    margin-bottom: 15px;
    img{
        width:100%;
        max-width: 100%;
    }
}
// trip view edit
.expedition_bg.tripedit_view{
    .trip_view_edit_detail{
        .trip_detail_des{
            span{
                color: #0F0F0F;
                font-size: 16px;
            }
        }
        h3.heading_trip_detail{
            font-size: 30px !important;
            margin-bottom: 40px;
        }
        .trip_detail_des h4 {
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .trip_desc_detail .trip_detail_des {
            padding-bottom: 25px;
        }
        .trip_detail_des p{
            padding-bottom: 25px;
            margin-bottom: 0px;
            color: #0F0F0F;
            font-size: 16px;
        }
        .trip_detail_des.editor_text_display{
            p{
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }
    .day_sec.metting_point_trip {
        h4.medium-text.an-18.meting-text {
            color: #0F0F0F;
            font-size: 20px !important;
        }
        h3.an-22.medium-text.pb10 {
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 10px;
            color: #099670;
        }
        .map_trip_edit{
            .map-block{
                margin: 0 !important;
            }
        }
    }
    .Itinerary_trip_edit{
        .trip_detail_des h4{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
            color: #099670;
            padding-top: 40px !important;
        }
        .trip_detail_des .day_sec h4.sub_title.an-14 {
            font-size: 20px !important;
        }
        .edit_right{
            padding-top: 40px !important;
        }
        .Itinerary_trip_edit_box{
            .trip_detail_des{
                .day_sec{
                    padding-bottom: 40px;
                    p{
                        color: #0F0F0F;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .Accommodation_trip_edit{
        .trip_pad_fix {
            padding: 50px 0px 35px 0px;
        }
        .trip_detail_des{
            .Accommodation_text{
                font-size: 25px !important;
                font-weight: 500;
                margin-bottom: 0px;
                color: #099670;
            }
           
        }
        .Accommodation_detail_text {
            color: #0F0F0F;
            font-size: 16px;
        }
        .trip_detail_des.trip_Accommodation_image {
            padding-bottom: 22px;
        }
        .border-bottom{
            border-bottom: 1px solid #d3d3d3;
        }
       
    }
    .trip_prize_section{
        .person_sec{
            .fill-width{
                p{
                    margin-bottom: 0 !important;
                }
            }
            .fill-width.text-right{
                h6.an-14.cursor-pointer{
                    text-align: left;
                    padding-left: 27px;
                }
            }
            span.yellow_btn.mr10.cursor-pointer:hover {
                background-color: #ffba00;
                color: #0f0f0f;
            }
            span.green_btn.cursor-pointer:hover {
                background-color: #099670;
                color: #fff;
            }
        }
    }
   .Inclusions_title_fix{
        h4.medium-text{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
            color: #099670;
        }
    }
    .trip_photoset{
        margin: 0px 0px 50px 0px;
        border-top: 1px solid #ddd;
        padding-top: 40px;
        h4.sub_title{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
        }
        .fix_top_pad {
            padding-top: 30px;
        }
    }
    
}

.trip_photoset{
    margin: 0px 0px 50px 0px;
    border-top: 1px solid #ddd;
    padding-top: 40px;
    h4.sub_title{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 0px;
    }
    .fix_top_pad {
        padding-top: 30px;
    }
}
.expedition_bg.trip_view_detail_edit{
    .Accommodation_trip_edit{
        .trip_pad_fix {
            padding: 50px 0px 35px 0px;
        }
        .trip_detail_des{
            .Accommodation_text{
                font-size: 25px !important;
                font-weight: 500;
                margin-bottom: 0px;
                color: #099670;
            }
           
        }
        .Accommodation_detail_text {
            color: #0F0F0F;
            font-size: 16px;
        }
        .trip_detail_des.trip_Accommodation_image {
            padding-bottom: 22px;
        }
        .border-bottom{
            border-bottom: 1px solid #d3d3d3;
        }
        
    }
    .trip_detail_des.pad_tripdestal{
        padding-bottom: 0px !important;
    }
    .trip_pad_fix{

        .trip_detail_des{
            padding-bottom: 0px !important;
        }
    }
}

.trip_detail_des.editor_text_display{
    padding-bottom: 35px;
}

.hover_fix_trip {
    box-shadow: none;
    border: none;
}
.hover_fix_trip:hover{
    background-color: #ffba00;
    color: #0f0f0f !important;
    border: none;
}
.trip_exp_bg.bg_set_trip {
    background: #F8F8F8;
}
.Inclusions_section{
    .list_off{
        p:before{
            background:url('./../public/images/true_check.png') !important;
            background-size: 20px !important;
            background-repeat: no-repeat !important;
            height: 21px !important;
            margin-right: 6px;
        }
        ul{
            li:before{
                background:url('./../public/images/true_check.png') !important;
                background-size: 20px !important;
                background-repeat: no-repeat !important;
                height: 21px !important;
                margin-right: 6px;
            }
        }
    }
    .list_off{
        p em,p strong,p u {
            display: contents;
        }
    }
    .list_off{
        li em,li strong,li u {
            display: contents;
        }
    }
     
}


.trip_exclusion_sec{
    .list_off{
        p em,p strong,p u {
            display: contents;
        }
    }
    .list_off{
        li em,li strong,li u {
            display: contents;
        }
    }
    .list_off p:before{
        margin-top: 8px !important;
    }   
}


.trip_inclusion_sec.trip_detail_des{
    height: 100%;
}
.Inclusions_title_fix{
    h4.medium-text{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 0px;
        color: #099670;
    }
    .list_off {
        padding-top: 9px;
        p{
            color: #0F0F0F;
            font-size: 16px;
            padding: 3px 0px;
            list-style-type: none;
            display: flex;             
        }
        p:before{
            content: '';
            height: 15px;
            width: 15px;
            display: block;
            background:url('./../public/images/close_ic.png');
            background-repeat: no-repeat;
            padding-right: 25px;
            margin-top: 5px;
        }
        ul{
            padding-left: 6px;
            li{
                color: #0F0F0F;
                font-size: 16px;
                padding: 3px 0px;
                list-style-type: none;
                display: flex;
                padding-bottom: 25px;
            }
            li:before{
                content: '';
                height: 15px;
                width: 15px;
                display: block;
                background:url('./../public/images/close_ic.png');
                background-repeat: no-repeat;
                padding-right: 25px;
                margin-top: 5px;
            }
        }
    }
}
.trip_exclusion_sec{
    .list_off {
        ul{
            li:before{
                margin-top: 10px;
            }
        }
    }
}
button.trip_more_detail {
    background: #F8F8F8;
    border: none;
    outline: none;
    display: block;
    width: 160px;
    color: #000;
    border-radius: 50px;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px;
    height: auto;
}
.ant-row.trip_date_group{
    .ant-radio-group.ant-radio-group-outline{
        label{
            background:#eaedef;
            outline: none !important;
        } 
        label.disabled{
            opacity: 0.6;
        }
        label.ant-radio-button-wrapper-checked{
            background:#099670;
            color: white;
        } 
        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
            outline: none !important;
        }
        .ant-radio-button-wrapper-checked:focus-within{
            outline: none !important;
        }
        // label:nth-child(1){
        //     background: #099670;
        //     color: #fff;
        //     border: 1px solid #099670;
        // }
        // label:nth-child(2){
        //     background: #D3D3D3;
        //     color: #939393;
        //     border: 1px solid #D3D3D3;
        // }
        // label:nth-child(3){
        //     background: #F8F8F8 ;
        //     color: #0F0F0F;;
        //     border: 1px solid #F8F8F8;
        // }
    }   
}
.trip_date_group{
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active, .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
        border-color: transparent!important;
        box-shadow: none !important; 
    }
    .ant-radio-button-wrapper{
        padding: 0px 14px;
    }
} 
.trip_date_group .ant-radio-group.ant-radio-group-outline {
    // label:nth-child(1){
    //     background: #099670;
    //     color: #fff;
    //     border: 1px solid #099670;
    // }
    // label:nth-child(2){
    //     background: #D3D3D3;
    //     color: #939393;
    //     border: 1px solid #D3D3D3;
    // }
    // label:nth-child(3){
    //     background: #F8F8F8 ;
    //     color: #0F0F0F;;
    //     border: 1px solid #F8F8F8;
    // } 
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
        border-color: transparent!important;
    }
}

.fix_the_hover ,
span.hove_fix_button{
    box-shadow: none;
    border: none;
}
.fix_the_hover:hover ,
span.hove_fix_button:hover{
    box-shadow: none;
    background-color: #ffba00;
    border-color: #ffba00;
    color: #0f0f0f !important;
    border: none;
}
// trip view detail

.trip_view_detail_edit{
    .Accommodation_title_fix{
        h4.medium-text{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
            color: #099670;
            padding-bottom:30px ;
        }
        .lh-30.Accommodation_p_text {
            color: #0F0F0F;
            font-size: 16px;
        }
    }
    .top_detaile_head{
        font-size: 30px !important;
        margin-bottom: 40px;
    }
    .trip_detail_des.abot_trip_detail h4{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .abot_trip_detail .p_tage_about{
        padding-bottom: 25px;
        margin-bottom: 0px;
        color: #0F0F0F;
        font-size: 16px;
    }
    .ant-row.pt20.location_fix_tripdetail{
        h3.location_text{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 10px;
            color: #099670;
        }
        h4.meeting_poit_text{
            color: #0F0F0F;
            font-size: 20px !important;
        }
        p.about_pargrap {
            color: #0F0F0F;
            font-size: 16px;
        }
    }
    .detail_map_trip{
        .map-block{
            margin: 0;
        }
    } 
    .Itinerary_tripdetail{
        .trip_detail_des.pad_tripdestal{
            padding-top: 40px !important;
        }
        .trip_detail_des{
            .Itinerary_text {
                font-size: 25px !important;
                font-weight: 500;
                margin-bottom: 0px;
                color: #099670;
            }
        }
        .day_sec.Itinerary_text_p{
            padding-bottom: 40px;
            h4.sub_title.an-14 {
                font-size: 20px !important;
            }
            p.lh-30{
                color: #0F0F0F;
                font-size: 16px;
            }
        }
        
    }
    .Per_Person_blog{
        .person_sec{
            .fill-width.text-right{
                span.yellow_btn.mr10.cursor-pointer{
                    width: 49%;
                }
                h6.an-14.cursor-pointer{
                    text-align: left;
                }
            }
        }
    }
    .photo_sec.tripdetail_photo {
        margin: 80px 0px 50px 0px;
        border-top: 1px solid #ddd;
        padding-top: 40px;
        h4.sub_title.photo_trip_head {
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
        }
        .text-right.photo_trip_button {
            margin-top: 0;
            padding-top: 40px;
            a{
                box-shadow: none;
                border: none;
            }
            a:hover{
                background-color: #ffba00;
                border-color: #ffba00;
                color: #0f0f0f !important;
                border: none;
            }
        }
    }
    .Similar_Tripsdetail{

        border-top: 1px solid #ddd;
        padding-top: 40px;
        h4.sub_title{
            font-size: 25px !important;
            font-weight: 500;
            margin-bottom: 0px;
            margin-bottom: 30px;
        }
        .photo_trip_button {
            margin-top: 0;
            padding-top: 40px;
            a{
                box-shadow: none;
                border: none;
            }
            a:hover{
                background-color: #ffba00;
                border-color: #ffba00;
                color: #0f0f0f !important;
                border: none;
            }
        }
        .sub_title{
            font-size: 25px;
            color: black !important;
            font-family: "Rubik";
            letter-spacing: 0px;
            opacity: 1;
            font-weight: 500;
        }
    }
    .similer_bolg {
        margin-bottom: 35px;
    }
    .trip_detail_des{
        padding-bottom: 25px;
    }
    
    .trip_detail_des{
        span{
            color: #0F0F0F;
            font-size: 16px;
        }
    }
    h3.heading_trip_detail{
        font-size: 30px !important;
        margin-bottom: 40px;
    }
    .trip_detail_des h4 {
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .trip_desc_detail .trip_detail_des {
        padding-bottom: 25px;
    }
    .trip_detail_des p{
        padding-bottom: 25px;
        margin-bottom: 0px;
        color: #0F0F0F;
        font-size: 16px;
    }
    .trip_detail_des.editor_text_display{
        p{
            padding-bottom: 0px;
            margin-bottom: 0px;
        }
    }
}
.fix_the_hover ,
span.hove_fix_button{
    box-shadow: none;
    border: none;
}
.fix_the_hover:hover ,
span.hove_fix_button:hover{
    box-shadow: none;
    background-color: #ffba00;
    border-color: #ffba00;
    color: #0f0f0f !important;
    border: none;
}
.fix_the_hover{
    box-shadow: none;
    border: none;
}
.fix_the_hover:hover{
    box-shadow: none;
    background-color: #ffba00;
    border-color: #ffba00;
    color: #0f0f0f !important;
    border: none;
}
.green_hover_fix:hover {
    background-color: #099670 !important;
    border: none;
    color: #fff !important;
}
span.yellow_hover_fix{
    box-shadow: none;
    background-color: #ffba00 !important;
    border-color: #ffba00 !important;
    color: #0f0f0f !important;
    border: none;
}
.trip_more_detail {
    position: relative;
    z-index: 1;   
    font-family: "rubik-medium";
    color:rgba(0, 0, 0, 0.65) !important;
}


.more_trip_date_popup{
    .ant-modal-content{
        border-radius: 5px !important;
        .ant-modal-body{
            .head_title.pb10{
                h5.an-14.medium-text{
                    font-size: 18px !important;
                }
            }
            padding: 30px 0px;
            .head_title.pb10{
                padding: 0px 30px 10px 30px;
            }
            .date_mdl{
                padding: 15px 0px 15px 0px;
                margin-left: 30px;
                margin-right: 30px;
                h4.medium-text{
                    font-size: 18px !important;
                }
                .D_price_trip{
                    text-align: center;
                    color: #099670;
                }
            }
        }
    }
}
.similer_bolg {
    .ant-card-body{
        padding: 24px 24px 12px 24px;
        .price_sec{
            .Header_h5_fix {
                display: flex;
                align-items: center;
                justify-content: space-between;
                img {
                    width: 30px;
                    height: auto;
                    margin-bottom: 11px;
                }
            }
            h5.medium-text{
                font-size: 14px !important;
                font-weight: 500 !important;
                color: rgba(0, 0, 0, 0.85);
                min-height: inherit;
                height: auto;
                margin-bottom: 11px;
                font-variant: tabular-nums;
                font-family: "rubik-regular" !important;
            }
            p{
                font-size: 14px !important;
                font-weight: 500 !important;
                margin-bottom: 22px !important;
                color: #0F0F0F;
                font-family: "rubik-medium";
                text-overflow: ellipsis;
                word-break: break-all;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        hr.light_clr{
            margin: 7px -24px;
            border-top: 1px solid #d3d3d3 !important;
        }
    }
}
.adit_fix {
    color: #099670;
    border: 1px solid #ffba00;
    display: inline-block;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    padding: 5px 15px !important;
    margin-bottom: 10px;
}
.fix_adit_button {
    text-align: right;
    padding-top: 15px;
}
.add_photo_images{
    .ant-modal-content{
        border-radius: 6px;
        .ant-modal-body{
            padding: 30px 0px;
        }
        .head_title{
            padding: 0px 30px;
            h5.an-14.medium-text{
                font-size: 18px !important;
                margin-bottom:0 ;
            }
            p{
                color: #0F0F0F;
                margin-bottom: 21px;
            }
        }
    }
    .add_photo_section{
        
        padding: 30px 30px 0px 30px;
        .add_photo_image{
            margin-bottom: 15px;
            position: relative;
            img{
                height: 150px;
                width: 150px;
                border-radius: 10px;
            }
            video, .video{
                height: 150px !important;
                width: 150px !important;
                border-radius: 10px;
            }
        }
        p{
            color: #0F0F0F;
        }
    }
    .button_add_photo_images{
        padding: 0px 30px;
        padding-right:0px !important; 
        .button_trip_images{
            display: flex;
            align-items: center;
            padding-top:15px;
            justify-content: space-between;
            span{
                border-radius: 5px;
                background-color: #ffba00;
                border-color: #ffba00;
                color: #0f0f0f;
                padding: 0 40px;
                height: 45px;
                font-size: 16px;
                font-family: "rubik-regular" !important;
                transition: 0.5s;
            }
            span:hover{
                border:none;
            }
            span.add_photo_div {
                padding: 10px 47px !important;
                width: auto;
                a{
                    text-decoration: none;
                    color: #0f0f0f; 
                }
            }
            .create-album-btn{
                background-color: #099670 !important;
               
                a{
                    color: white !important;
                }
            }
        }
        
        
    }
    .add_icone_div {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 150px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;

        img.add_icon_photo_add {
            width: 50px !important;
            height: auto;
        }
    }
}

@media (min-width:992px){
    .fix_to_top {
        margin-top: -340px !important;
    }
}
.trip_exp_bg.trip_right_side_fix.br20.text-center.pb40{
    img.br10.right_side_image{
        height: 160px;
        width: 160px;
    }
}


@media (min-width:320px) and (max-width:767px){
    // trip viwe edit
    .expedition_bg.tripedit_view{
        .person_sec{
            .fill-width{
                margin-bottom: 25px;
            }
            .fill-width.text-right{
                margin-bottom: 0 !important;
                h6.an-14.cursor-pointer{
                    padding-left: 0 !important;
                }
            }
        }
        .gallery_sec h1{
            width: auto !important;
        }
        .metting_point_trip{
            .map_trip_edit{
                .ant-col.ant-col-24.map.pb30.pr30{
                    padding-right: 0 !important;
                }
            }
        }
        .trip_inclusion_sec.trip_detail_des.brder_sec {
            margin-bottom: 25px;
        }
    }
    .header-container.w_bg.set_trip_mobile{
        position: relative;
        .gallery_sec.section_mobile {
            margin-top: -525px;
        }
    }
     // trip viwe edit detaial
     .trip_view_detail_edit{
        .Per_Person_blog {
            .person_sec {
                .fill-width.text-right{
                    padding-top: 9px;
                    span.yellow_btn.mr10.cursor-pointer{
                        width: 50%;
                        padding: 10px 5px;
                    }
                }
            }
        }
     } 
     .trip_view_detail_edit .photo_sec.tripdetail_photo .text-right.photo_trip_button a{
        padding: 10px 20px;
     }
     .gallery_sec.main_head_text{
       .text_skill{
           width: auto;
       }
     }
     .gallery_sec.main_head_text {
        margin-top: -500px;
    }
    .trip_cover_detail{
        margin-bottom:20px; 
    }
    span.yellow_btn.mr10.cursor-pointer.tripdetaile_button_top{
        width: 50%;
    }
    .trip_view_detail_edit .detail_map_trip .fix_detail_location{
        padding-right: 0;
    }       



    // end
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked img ,
    .filter_sec_bg.learning_sec.top_trip .filter_tab label.ant-radio-button-wrapper img{
        width: auto;
    }
    
    .menu_fix{
        position: relative;
        z-index: 9999;
    }
    .expidition_bg.expendition .heart_fill .text-right img.pr10.pt5.share_icn.ant-dropdown-trigger {
        width: 29px;
    }
    .pagination_trip{
        ul.ant-pagination{
            .ant-pagination-item{
                height: 35px;
                width: 35px;
                line-height: 35px;
                font-size: 14px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            li.ant-pagination-prev,
            li.ant-pagination-next {
                width: 65px;
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                border-radius: 5px;
                margin-bottom: 10px;
            }
            li.ant-pagination-options{
                .ant-select-selection--single::before{
                    font-size: 14px;
                    right: -98%;
                }
                .ant-select-selection--single{
                    width: 70px;
                    height: 35px !important;
                    .ant-select-selection__rendered{
                        font-size: 14px;
                        padding: 4px 0px !important;
                    }
                }
                .ant-pagination-options-size-changer.ant-select.ant-select-enabled{
                    width: 100px;
                }
                
            }
            
        }
    }

    .pagination_trip ul.ant-pagination li.ant-pagination-prev, .pagination_trip ul.ant-pagination li.ant-pagination-next {
        width: 25px !important; 
    }
    .pagination_trip ul.ant-pagination li.ant-pagination-next{
        margin-left: 5px;
    }
    .ant-pagination-item.ant-pagination-item-1.ant-pagination-item-active{
        margin-left:5px; 
    }
    .ant-pagination-options-size-changer{
        .ant-select-selection.ant-select-selection--single::before{
            display: none;
        }
    }
    .ant-pagination-options{
        display: inline-block !important;
    }
    .ant-pagination-jump-next.ant-pagination-jump-next-custom-icon, .ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon{
            min-width: 25px !important;
    }
    .pagination_trip ul.ant-pagination .ant-pagination-item{
        height: 30px !important;
        width: 30px !important;
        line-height: 30px !important;
    }

}
@media(min-width:768px) and (max-width:991px){
    .expedition_bg.tripedit_view {
        .trip_prize_section .person_sec .fill-width.text-right h6.an-14.cursor-pointer{
            padding-left: 0px;
        }
        .trip_prize_section .person_sec .fill-width.text-right{
            span.yellow_btn.mr10.cursor-pointer{
                width: 50%;
                padding: 10px 6px;
            }
        }
    }
    span.yellow_btn.mr10.cursor-pointer.fix_button_mobile {
        width: 49%;
        font-size: 13px;
        padding: 10px 4px;
    }
    span.yellow_btn.mr10.cursor-pointer.tripdetaile_button_top {
        width: 69%;
    }
    .trip_view_detail_edit{
        .Per_Person_blog .person_sec .fill-width.text-right span.yellow_btn.mr10.cursor-pointer{
            padding: 10px 5px;
        }
    } 
  }
@media(min-width:415px) and (max-width:583px){
    .ant-col.ant-col-24.meet_expert .owl-nav {
        top: -95px !important;
    }
  }


@media(min-width:576px) and (max-width:767px){
    .ant-col.ant-col-24.meet_expert .owl-nav {
        top: -77px !important;
    }
  }
.trip-public {
    .ant-card-head {
        background: none;
    }
}
div#createTrips_activity .ant-select-selection__rendered{
    line-height:0px;
}

.trip_more_detail {
    position: relative;
    z-index: 1;
}
.share_icon_similar_trip{
    
    padding: 5px;
    text-align: center;
    display: inline-block;
    border: none;
    img{
        width: 15px;
        height: auto;
        border-radius: 0px !important;        
    }
}
.similar_card_hover:hover{
    box-shadow: 9px 12px 9px #6e6e6e4f;
    z-index: 100;
}
.font-weight-600, .fw-600{
    font-weight: 600 !important;
}
.gallery_sec{
    .title{
        font-size: 35px;
    }
}
.cover_img_data{
    .ant-list-item-meta-title{
        // font-weight: bold;        
    }
    .ant-list-item-meta-description {
        // word-break: break-all;
        font-family: 'Rubik';
        font-size: 16px;
        font-weight: 500;
    }
}
.edit-date-parent{
    margin-top: 40px;
    text-align: right;
}
.trip_location_des{
    color: #0F0F0F;
    font-size: 16px;
    padding-bottom: 25px;
}
.trip_meeting_point{
    .trip_detail_des{
        padding-bottom: 5px;
    }
    .desc{
        color: #0F0F0F;
        font-size: 16px;
    }
    
}
.blanck-Color{
    color:#0F0F0F;
}
.accommodation_img_view{
    .ant-card-cover{
        img{        
        height: 13rem;
        object-fit: cover;
        position: relative;
        display: block;
        width: 100%;
    }
    }
    .ant-card-body{
        padding: 0px;
    }
   
}
.accommodation_popup{
    .owl-nav{
        display: none !important;
    }
}
.extra_info_trip{
    .lh-30{
        p{
            color: #0F0F0F;
            font-size: 16px;    
        }
    }
    
    h4{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 0px;
        color: #099670;
    }
}

@media (min-width:320px) and (max-width:767px){
  .trip_mobile_view{
    .gallery_sec{
    //   margin-top: -27rem !important;
    }
    .cover_img_data{
    //   margin-bottom: 45px;
    }
    .container{
        padding-right:15px;
        padding-left: 15px; 
    }
    .an-35 {
      font-size: 25px !important;
    }
    .an-18 {
      font-size: 25px !important;
    }
    .person_sec .green_btn.cursor-pointer{
      width: 100%;
      margin-top: 5px;
    }
    .person_sec .yellow_btn.mr10{
      width: 100%;
    }
    .workshop_similar .card_cover{
      height: 260px;
    }
    .trip_view_detail_edit .trip_detail_des{
        margin-bottom: 25px;
    }
    .person_sec .fill-width.text-right span.yellow_btn.mr10.cursor-pointer{
        width: 100% !important;
    }
    .Accommodation_trip_edit{
        .trip_pad_fix{
            .ant-col.ant-col-17{
                margin-bottom: 10px; 
            }
            .ant-col.ant-col-4{
                text-align: right;
                width: 70%;
            }
            .ant-col.ant-col-3{
                width: 25%;
            }
        }
    }
    .ant-col.ant-col-6{
        .edt_btn_sec a{
            padding: 5px 8px;
        }
    }
    

  }
  .cover-img-main-title{
      font-size: 26px !important;
  }  
}
.secondLine::before{
    display: inline-block;
    content: "·";
    color: #2a2d2c;
    position: relative;
    top: 0px;
    right: 1px;
    font-weight: bold;
}
.spance_between_dollar{
    margin-right: 2px;
    font-family: "Rubik";
}
.spance_between_txt{
    font-family: "Rubik" !important;
    font-weight: 500;
}
.ant-col.ant-col-12{
    h4.sub_title{
        text-align: left;
        font-size: 25px;
        color: black !important;
        font-family: "Rubik";
        letter-spacing: 0px;
        opacity: 1;
        font-weight: 500;
    }
}
.base_price_trip_expert{
    .ant-select-selection__rendered{
        line-height: 40px !important;
    }
}
.currencyCode {
    min-width: 80px;
}.itinerary_txt_trip{
    font-weight: 600;
    color: #0f0f0f;
    font-size: 15px !important;
    font-family: "Rubik-medium";
}
.cover-img-icon{
    img{
        height: 27px !important;
    }
}

.video_edit_page{
    video{
        border-radius: 5px 5px 0 0 !important;
    height: 20rem !important;
    object-fit: cover !important;
    width: 346px !important;
    }
}

.photos_video_album_name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 150px;
    bottom: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px;
    h5{
        color:white;
        margin-bottom: 0;
    }
}
.bold-txt{
    font-weight: 600;
}
.Inclusions_title_fix .list_off p.no-bullet::before{
    display: none !important;
}


// updated css

.create-profile-routes{
    .form-profile-container{
        .ant-form-item-required{
            .ant-form-item-label{
                display:inline;
            }
        }
    }
}

.logistic-transfer{
    border: 1px solid #d3d3d3;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px 10px;
    position: relative;
}

.quill-min-height{
    .ql-editor{
        min-height: 6em;
    }
}

//Additional Details section for styles for trip workshop detail and edit page
.additional-info-section{
    .ant-collapse-header{
        color:#111111;
        font-family: 'rubik-medium';
        font-size: 16px;
    }
    .bt{
        border-top: 1px solid #d9d9d9;
    }
    .odd-panel{
        .ant-collapse-header{
            background: #FFFFFF;
        }
        .ant-collapse-content-active{
            background:#FFFFFF;
        }
    }
    .even-panel{
         .ant-collapse-header{
            background: #F5F5F5;
        }
        .ant-collapse-content-active{
            background: #F5F5F5;
        }
    }
    .ant-collapse.ant-collapse-borderless{
        border: 1px solid #F5F5F5;
        border-bottom: 0;
    }

    .ant-collapse-item-active{
        .ant-collapse-header[aria-expanded="true"]{
            background: #FFBC00;
        }
    }
    .ant-collapse{
        border-radius: 0px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header{
        line-height: 30px;
    }
    .ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box{
        padding-top: 16px;
    }
    .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header{
        border-radius: 0px;
    }
    .ant-collapse-content{
        color:#111111;
    }
    img.collaps-icon.ant-collapse-arrow {
        width: 14px;
    }
    .title-icon{
        img{
            width: 17px;
            height: 17px;
            vertical-align: middle;
            margin-right: 15px;
        }
        span{
            color:#111111;
            font-family: 'Rubik';
            font-size: 18px;
            font-weight: 500;
        }
    }

    //Itinary Section css
    .itinerary-collaps{
        .i-title{
            color:#099670;
            font-size: 16px;
            font-weight: 500;
            font-family: 'Rubik';
            margin-bottom: 5px;
        }
        .i-main-title{
            color:#099670;
            font-size: 18px;
            font-weight: 500;
            font-family: 'Rubik';
            margin-bottom: 15px;
        }
        .i-meals{
            margin-bottom: 5px;
            .i-meals-main{
                font-weight: 500;
                font-family: 'Rubik';
                color: #111111;
            }
        }
        .bb{
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }
    .ie-title{
        color:#099670;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Rubik';
    }
    p{
        color: #111111;
        font-size: 16px;
        font-family: 'rubik-regular';     
        text-align: justify;    
        line-height: 1.7;   
        margin-bottom: 0px;
    }
    .font-16-rubik{
        color: #111111;
        font-size: 16px;
        font-family: 'rubik-regular';
        text-align: justify;
        line-height: 1.7;
    }
    .not-exist-text{
        font-size: 16px;
        font-family: 'rubik-regular';
        text-align: justify;
        line-height: 1.7;
    }
    .ie-main-content {
        padding-top: 9px;
        p{
            color: #111111;
            font-size: 16px;
            font-family: 'rubik-regular';
            padding: 3px 0px;
            list-style-type: none;
            display: flex;
            padding-bottom: 15px;             
        }
        ul{
            padding-left: 6px;
            li{
                color: #111111;
                font-size: 14px;
                font-family: 'rubik-regular';
                padding: 3px 0px;
                list-style-type: none;
                display: flex;
                padding-bottom: 15px;
            }
        }
        
    }
    .ie-main-content.inclusion-section{
        p:before{
            content: '';
                width: 15px;
                display: block;
                padding-right: 25px;
                margin-top: 3px;
                background:url('./../public/images/true_check.png') !important;
                background-size: 20px !important;
                background-repeat: no-repeat !important;
                height: 21px !important;
                margin-right: 6px;
        }

        ul{
            li:before{
                content: '';
                width: 15px;
                display: block;
                padding-right: 25px;
                margin-top: 3px;
                background:url('./../public/images/true_check.png') !important;
                background-size: 20px !important;
                background-repeat: no-repeat !important;
                height: 21px !important;
                margin-right: 6px;
            }
        }
    }
    .ie-main-content.exclusion-section{
        p:before{
            content: '';
            height: 15px;
            width: 15px;
            display: block;
            background:url('./../public/images/close_ic.png');
            background-repeat: no-repeat;
            padding-right: 25px;
            margin-top: 5px;
        }
        ul{
            li:before{
                content: '';
                height: 15px;
                width: 15px;
                display: block;
                background:url('./../public/images/close_ic.png');
                background-repeat: no-repeat;
                padding-right: 25px;
                margin-top: 5px;
            }
        }
    }
    .bb{
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    //Accomodation section
    .accomodation-collaps{
        .bb{
            padding-top: 0px;
        }
    }
}

.accommo-img{
    textarea{
        font-family: "rubik-regular";
        font-size: 14px;
        color: #000;
    }
}

.cover-location-title{
    font-family: 'Rubik';
    font-size: 18px !important;
    color: #ffba00;
    font-weight: 500 !important;
}

.select-date-dropdpwn{
    .ant-select-dropdown-menu-item{
        color:black;
        font-family: 'Rubik';
    }
    .disabled.ant-select-dropdown-menu-item-disabled{
        opacity: 0.5;
    }
}

/*----START----ABOUT THIS EXPERT*/
.prl-0{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.about-this-expert{
    margin-top: 100px;
    border: none;
    border-radius: 5px;
    background-color:#F8F8F8;
    color:#111111;
    font-family: 'Rubik';
    .sub_title{
        font-weight: 500;
    }
    .right_side_image{
        height: 160px;
        width: 160px;
        object-fit: cover;
        border-radius: 50%;
    }
    .expert-name{
        color:#111111;
    }
    .grn_txt{
        color: #099670;
        font-weight: 500;
    }
    .get-in-tuch{
        background-color: #ffba00;
        border-color: #ffba00;
        color: #111111;
        padding: 10px 70px;
        /* height: 31px; */
        font-size: 14px;
        font-family: 'Rubik';
        font-weight: 500;
        border-radius: 0;
    }
}

/*-----END -- ABOUT THIS EXPERT*/


.location_pin{
    img{
        height: 28px !important;
    }
}
.location_title{
    font-family: 'Rubik';
    color: #ffba00;
    font-weight: 400 !important;
}
.expedition_bg{
    .text_skill{
        font-family: 'Rubik';
        font-weight: 500;
    }
}

/*------START SELECT DATE POPUP*/
.select_date_popup{
    padding-left:0px !important;
    padding-right: 0px !important; 
    .select_date_popup_child{
        background-color: #F8F8F8;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #00000029;
        .header_per_txt {
          border-bottom: 2px solid #f0ecec;
          padding: 25px 25px 10px 25px;
          h2 {
            color: map-get($colors, "success");
          }
        }
        .select-date-text {
            font-family: 'Rubik';
            color: #0f0f0f;
            font-weight: 500;
        }
        .date-button-section{
          padding: 0px 25px 20px 25px;
        }
        .ant-radio-group.ant-radio-group-outline{
            display: inline-block;
            width: 100%;
        }
        .date-radio:nth-child(1) {
            display: inline-block;
            width: 32%;
            margin-right: 7px;
          }
        .date-radio:nth-child(2) {
            display: inline-block;
            width: 31%;
            margin-right: 7px;
        }
        .date-radio:nth-child(3) {
            display: inline-block;
            width: 32%;
        }
        
        .ant-radio-button-wrapper{
            width: 100%;
            padding: 0px;
            text-align: center;
            height: 28px;
            line-height: 26px;
        }
        .ant-radio-button-wrapper:nth-child(1) {
          
          border-radius: 20px;
        }
        .ant-radio-group{
            font-size: 12px;
        }
        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
          background-color: map-get($colors, "success");
          border-color: map-get($colors, "success");
          color: map-get($colors, "light");
          border-radius: 18px;
        }
        a {
          width: 150px;
          padding: 15px 25px;
        }
        .ant-radio-button-wrapper {
          background-color: map-get($colors, "grey");
          color: map-get($colors, "dark");
          border: 1px solid #d9d9d9;
          font-family: 'Rubik';
          font-weight: 400;
          &:hover {
            background-color: map-get($colors, "grey");
            color: map-get($colors, "dark");
          }
        }
        .ant-radio-button-wrapper:not(:first-child) {
          &:before {
            display: none;
          }
        }
        .ant-select-selection-selected-value {
            color: #0f0f0f;
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 12px;
        }
        .ant-select-selection__rendered{
            line-height: 35px;
        }
        .ant-select-selection--single{
            height: 35px;
            background: #eaedef;
        }
        .ant-form-item{
            margin-bottom: 15px;
        }
        .booking-btn{
            margin-top: 15px;
            width: 100%;
            display: inline-block;
            text-align: center;
            .date-yellow{
                width: 40%;
                display: inline-block;
                background-color: #ffba00;
                padding: 10px 15px;
                border: 1px solid #ffba00;
                color: #0f0f0f;
                font-family: 'Rubik';
                font-weight: 500;
                margin-right: 15px !important;
                
            }
            .date-green{
                width: 53%;
                display: inline-block;
                background-color: #099670;
                padding: 10px 15px;
                color: #fff;
                border: 1px solid #099670;
                font-family: 'Rubik';
                font-weight: 500;
            }
        }
        .edt_btn_sec {
            z-index: 9;
            a{
                color: #099670;
                border: 1px solid #ffba00;
                display: inline-block;
                border-radius: 20px;
                background: #fff;
                width: 70px;
                padding: 3px 0px;
                text-align: center;
                
            }
        }
        
        .save-new-icon-parent{
            margin-top: 10px;
            .save-new-icon{
                width: 15px;
                margin-left: 15px;
            }
            .like-count-text{
                width: auto;
                padding-top: 0px !important;
            }
        }
    }
    
}

.date-slot-title{
    color: #0f0f0f;
    font-size: 15px;
    font-family: "Rubik-medium";
    font-weight: 600;
}
.pl-zero{
    padding-left: 0px !important;
}

.meting-text{
    color: #0F0F0F !important;
    font-size: 20px !important;
}

.trip_detail_des.location-field{
    padding-bottom: 5px !important;
    h4{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 10px;
    }
}
.similar-bg{
    background: #f6f6f6;
}
.single-page-like{
    .like-heart-new-icon{
        height: auto !important;
        width: 20px !important;
    }
    .like-count-text{
        padding-top: 0px !important;
    }
    .share_new_icon{
        height: auto !important;
        width: 20px !important;
    }
    
}

.booking-btn-detail-page{
    padding: 0px 15px 0px 50px;
    margin-top: 15px;
    width: 100%;
    display: inline-block;
    text-align: center;
    .date-yellow{
        width: 40%;
        display: inline-block;
        background-color: #ffba00;
        padding: 10px 15px;
        border: 1px solid #ffba00;
        color: #0f0f0f;
        font-family: 'Rubik';
        font-weight: 500;
        text-align: center;
        margin-right: 15px !important;
        
    }
    .date-green{
        width: 53%;
        display: inline-block;
        background-color: #099670;
        padding: 10px 15px;
        color: #fff;
        border: 1px solid #099670;
        font-family: 'Rubik';
        font-weight: 500;
        text-align: center;
    }
}

.season-field-popup{
    ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li{
            margin: 5px;
            background: #eaedef;
            border-radius: 5px;
            padding: 0 18px;
            border: none;
            color: #000000;
            width: 60px;
            list-style: none;
            position: relative;
            display: flex;
            align-items: center;
            height: 32px;
            cursor: pointer;
            transition: color 0.3s, background 0.3s, border-color 0.3s;
        }
        li.active{
            background: #0A9670;
            border-color: #0A9670;
            color: #fff;
        }
    }
}

.flexible-txt{
    color:#0A9670;
    font-family: 'Rubik';
    font-weight: 500;
}


/* ----- START COVID BANNER ------*/
.covid-banner{
    width: 100%;
    text-align: center;
    background: #313131;
    color: white;
    padding: 16px;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 20px;
    img{
        width: 20px;
        margin-right: 15px;
        margin-top: -3px;
    }
    .title-yellow, .covid-link{
        color:#ffba00;
    }
    .book-with-confidence{
        color:#ffba00;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .covid-link{
        margin-left: 5px;
        text-decoration: underline;
        cursor: pointer;
    }
    .sub-title{
        font-weight: 500;
        font-size: 14px;
        color:white;
    }
    
   
}
/* ----- ENDCOVID BANNER ------*/


@media (min-width:320px) and (max-width:767px){
    .select_date_popup .select_date_popup_child .date-radio:nth-child(3) {
        display: inline-block;
        width: 32%;
    }
    .about-this-expert{
        margin-top: 0px;
    }
    .trip_desc_detail.justify{
        padding-right:10px !important;
    }
    .padding-right.justify{
        padding-right:10px !important;
    }
    .w_bg .person_sec{
        display: inline-block;
        .booking-btn-detail-page .date-yellow{
            width: 100%;
            margin-bottom: 10px;
        }
        .booking-btn-detail-page .date-green{
            width: 100%;
        }
        .booking-btn-detail-page{
            padding: 0px 15px 0px 15px;
        }
    }
    .prl-0{
        padding-right: 10px !important;
        padding-left: 10px !important;
        margin-bottom: 25px;
        margin-top: 15px
    }
    .similar-bg  .modular-card .ant-card-bordered{
        box-shadow: none !important;
    }

    .covid-banner{
        font-size: 16px;
        padding:10px;
        position: relative;
        .sub-title{
            font-size: 12px;
        }
    }
}
@media (min-width:320px) and (max-width:355px){
    .select_date_popup .select_date_popup_child .booking-btn .date-yellow{
        width: 100%;
        margin-bottom: 10px;
    }
    .select_date_popup .select_date_popup_child .booking-btn .date-green{
        width: 100%;
    }
}