.filter_sec_bg {
  padding: 0 0 50px 0;
  
  .filter_left {
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding-left: 20px;
    }

    .ant-collapse
      > .ant-collapse-item
      > .ant-collapse-header
      .ant-collapse-arrow {
      color: map-get($colors, "success");
    }
    .ant-collapse
      > .ant-collapse-item
      > .ant-collapse-header
      .ant-collapse-arrow {
      right: 0;
      left: unset;
      padding-right: 16px;
    }
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    .ant-collapse-content {
      margin: 15px 0;
    }
    .ant-collapse {
      border: none;
      border-radius: 20px;
    }
    .ant-collapse > .ant-collapse-item:last-child {
      border-bottom: none;
      border-radius: 20px 20px 20px 0;
    }
    .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
      border-radius: 0px 0px 20px 20px;
    }
    .ant-collapse > .ant-collapse-item {
      background: #fff;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 16px;
    }

    h4 {
      padding: 20px;
      background: #f8f8f8;
      border-radius: 5px 5px 0px 0px;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      background: #fff;
      font-weight: 600;
      text-transform: uppercase;
      p {
        margin-bottom: 0;
      }
    }
    .ant-collapse-content {
      border-top: none;
    }
    .couuntry_btn label {
      margin: 0 10px 10px 0;
      border-radius: 20px;
      padding: 0px 15px;
      border: 1px solid #d3d3d3;
    }
    .ant-radio-button-wrapper {
      &:before {
        display: none;
      }
    }
    .ant-radio-button-wrapper {
      margin: 5px;
      background: #f8f8f8;
      border-radius: 16px;
      padding: 0 18px;
      &:before {
        display: none;
      }
    }
    .checkbox_bg {
      label {
        width: 100%;
        margin-left: 0;
        padding-bottom: 10px;
      }
    }
    .ant-radio-button-wrapper:hover {
      color: map-get($colors, "dark");
    }
    .rating_sec {
      display: flex;
      label {
        padding-bottom: 10px;
      }
      .rating_lft {
        padding-top: 0;
      }
    }
    .suitable_sec label {
      width: 100%;
      padding-bottom: 10px;
    }
  }
  .ant-radio-group-solid
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: map-get($colors, "success");
    text-align: center;
    img {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      align-items: center;
    }
  }
  .ant-radio-button-wrapper {
    background-color: #f8f8f8;
    text-align: center;
    img {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      display: inline-block;
      align-items: center;
    }
  }
}

// Right Section
.expidition_bg {
  .loadmore_btn a {
    padding: 10px 40px;
    margin-top: 40px;
    display: inline-block;
    line-height: 30px;
  }
  h3 {
    color: map-get($colors, "success");
  }
  .ant-card-bordered {
    border-radius: 7px;
    border: none;
    border-color: rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  }
  .ant-card-body {
    padding: 10px;
  }
  .ant-badge-status-text {
    margin-left: 8px;
    color: map-get($colors, "dark");
    font-size: 12px;
  }
  .trip_price_sec {
    border-bottom: 1px solid #d3d3d3;
  }
  .ant-card-cover {
    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 185px;
      object-fit: cover;
    }
  }
}
.filter_sec_bg .filter_left .ant-collapse > .ant-collapse-item:last-child {
  border-bottom: none;
  border-radius: 20px 20px 20px 20px;
  background: #fff;
}

// Like
.heart_fill {
  input[type="checkbox"] {
    clear: both;
    display: none;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    float: right;
  }

  input[type="checkbox"] + label:before {
    content: "";
    z-index: -1;
    background: rgb(220, 72, 127);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(0);
    -webkit-ransform: scale(0);
  }

  input[type="checkbox"] + label:after {
    content: "";
    z-index: -1;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  input[type="checkbox"]:checked + label svg {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    fill: rgb(220, 72, 127);
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
  }

  input[type="checkbox"]:checked + label:after {
    -webkit-animation: like-a 0.3s 0.2s forwards;
    -moz-animation: like-a 0.3s 0.2s forwards;
    animation: like-a 0.3s 0.2s forwards;
  }

  input[type="checkbox"]:checked + label:before {
    -webkit-animation: like-a 0.5s 0s forwards;
    -moz-animation: like-a 0.5s 0s forwards;
    animation: like-a 0.5s 0s forwards;
  }

  label svg {
    display: inline-flex;
    vertical-align: middle;
    width: 20px;
    margin-top: 5px;
    fill: rgb(167, 167, 167);
  }
}

@-webkit-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@-moz-keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
@keyframes like-a {
  100% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
