.policy_sec p {
  line-height: 25px;
}
.day_sec {
  border-bottom: 1px solid #d3d3d3;
}
// Expeditions Details
.exclusion_sec {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  padding: 10px;
  h4 {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px;
  }
}
.inclusion_sec {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  padding: 10px;
  h4 {
    border-bottom: 1px solid #d3d3d3;
    padding: 20px;
  }
  .inc_ul li {
    list-style: none;
    &:before {
      content: url("../public/images/tick_ic.png");
      padding-right: 10px;
    }
  }

  .exc_ul li {
    list-style: none;
    &:before {
      content: url("../public/images/close_ic.png");
      padding-right: 10px;
    }
  }
}
.map img {
  background-size: cover;
  width: 100%;
}
.expedition_bg {
  .trip_exp_bg {
    border: 1px solid #ffba00;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 15px;
    }
    img:nth-child(5) {
      width: 5%;
      height: 15%;
    }
    span {
      padding: 10px 40px;
      display: inline-block;
      line-height: 30px;
    }
  }
  .trip_detail_des {
    h4 {
      color: map-get($colors, "success");
    }
  }
  .person_sec {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    h1 {
      color: map-get($colors, "success");
      span {
        color: map-get($colors, "dark");
      }
    }
  }
}
.gallery_bg {
  // background-image: url("../public/images/gallery_bg.png");
  background-size: cover;
  height: 100vh;

  @include media-mobile {
    background-size: cover;
    height: unset;
    background-position: right;
    background-repeat: no-repeat;
  }
  &:before {
    content: "";
    background-color: #000;
    height: 100vh;
    display: block;
    // background: rgba(10,10,10,0.05);
    // background: -moz-linear-gradient(top, rgba(10,10,10,0.05) 0%, rgba(38,38,38,0.05) 5%, rgba(0,0,0,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(15,15,15,0.05) 9%, rgba(36,36,36,0.05) 12%, rgba(18,18,18,0.05) 49%, rgba(10,10,10,0.34) 64%, rgba(46,46,46,0.59) 77%, rgba(51,51,51,1) 98%, rgba(51,51,51,1) 100%);
    // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.05)), color-stop(5%, rgba(38,38,38,0.05)), color-stop(8%, rgba(0,0,0,0.05)), color-stop(8%, rgba(23,23,23,0.05)), color-stop(8%, rgba(23,23,23,0.05)), color-stop(9%, rgba(15,15,15,0.05)), color-stop(12%, rgba(36,36,36,0.05)), color-stop(49%, rgba(18,18,18,0.05)), color-stop(64%, rgba(10,10,10,0.34)), color-stop(77%, rgba(46,46,46,0.59)), color-stop(98%, rgba(51,51,51,1)), color-stop(100%, rgba(51,51,51,1)));
    // background: -webkit-linear-gradient(top, rgba(10,10,10,0.05) 0%, rgba(38,38,38,0.05) 5%, rgba(0,0,0,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(15,15,15,0.05) 9%, rgba(36,36,36,0.05) 12%, rgba(18,18,18,0.05) 49%, rgba(10,10,10,0.34) 64%, rgba(46,46,46,0.59) 77%, rgba(51,51,51,1) 98%, rgba(51,51,51,1) 100%);
    // background: -o-linear-gradient(top, rgba(10,10,10,0.05) 0%, rgba(38,38,38,0.05) 5%, rgba(0,0,0,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(15,15,15,0.05) 9%, rgba(36,36,36,0.05) 12%, rgba(18,18,18,0.05) 49%, rgba(10,10,10,0.34) 64%, rgba(46,46,46,0.59) 77%, rgba(51,51,51,1) 98%, rgba(51,51,51,1) 100%);
    // background: -ms-linear-gradient(top, rgba(10,10,10,0.05) 0%, rgba(38,38,38,0.05) 5%, rgba(0,0,0,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(15,15,15,0.05) 9%, rgba(36,36,36,0.05) 12%, rgba(18,18,18,0.05) 49%, rgba(10,10,10,0.34) 64%, rgba(46,46,46,0.59) 77%, rgba(51,51,51,1) 98%, rgba(51,51,51,1) 100%);
    // background: linear-gradient(to bottom, rgba(10,10,10,0.05) 0%, rgba(38,38,38,0.05) 5%, rgba(0,0,0,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(23,23,23,0.05) 8%, rgba(15,15,15,0.05) 9%, rgba(36,36,36,0.05) 12%, rgba(18,18,18,0.05) 49%, rgba(10,10,10,0.34) 64%, rgba(46,46,46,0.59) 77%, rgba(51,51,51,1) 98%, rgba(51,51,51,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#333333', GradientType=0 );

    background: rgba(3, 3, 3, 0.01);
    background: -moz-linear-gradient(
      top,
      rgba(3, 3, 3, 0.01) 37%,
      rgba(3, 3, 3, 0.01) 40%,
      rgba(3, 3, 3, 0.01) 42%,
      rgba(3, 3, 3, 0.01) 43%,
      rgba(3, 3, 3, 0.01) 44%,
      rgba(0, 0, 0, 0.39) 64%,
      rgba(0, 0, 0, 0.49) 69%,
      rgba(0, 0, 0, 0.56) 73%,
      rgba(5, 5, 5, 0.87) 89%,
      rgba(8, 8, 8, 1) 96%,
      rgba(8, 8, 8, 1) 97%,
      rgba(10, 10, 10, 1) 98%,
      rgba(10, 10, 10, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(37%, rgba(3, 3, 3, 0.01)),
      color-stop(40%, rgba(3, 3, 3, 0.01)),
      color-stop(42%, rgba(3, 3, 3, 0.01)),
      color-stop(43%, rgba(3, 3, 3, 0.01)),
      color-stop(44%, rgba(3, 3, 3, 0.01)),
      color-stop(64%, rgba(0, 0, 0, 0.39)),
      color-stop(69%, rgba(0, 0, 0, 0.49)),
      color-stop(73%, rgba(0, 0, 0, 0.56)),
      color-stop(89%, rgba(5, 5, 5, 0.87)),
      color-stop(96%, rgba(8, 8, 8, 1)),
      color-stop(97%, rgba(8, 8, 8, 1)),
      color-stop(98%, rgba(10, 10, 10, 1)),
      color-stop(100%, rgba(10, 10, 10, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(3, 3, 3, 0.01) 37%,
      rgba(3, 3, 3, 0.01) 40%,
      rgba(3, 3, 3, 0.01) 42%,
      rgba(3, 3, 3, 0.01) 43%,
      rgba(3, 3, 3, 0.01) 44%,
      rgba(0, 0, 0, 0.39) 64%,
      rgba(0, 0, 0, 0.49) 69%,
      rgba(0, 0, 0, 0.56) 73%,
      rgba(5, 5, 5, 0.87) 89%,
      rgba(8, 8, 8, 1) 96%,
      rgba(8, 8, 8, 1) 97%,
      rgba(10, 10, 10, 1) 98%,
      rgba(10, 10, 10, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(3, 3, 3, 0.01) 37%,
      rgba(3, 3, 3, 0.01) 40%,
      rgba(3, 3, 3, 0.01) 42%,
      rgba(3, 3, 3, 0.01) 43%,
      rgba(3, 3, 3, 0.01) 44%,
      rgba(0, 0, 0, 0.39) 64%,
      rgba(0, 0, 0, 0.49) 69%,
      rgba(0, 0, 0, 0.56) 73%,
      rgba(5, 5, 5, 0.87) 89%,
      rgba(8, 8, 8, 1) 96%,
      rgba(8, 8, 8, 1) 97%,
      rgba(10, 10, 10, 1) 98%,
      rgba(10, 10, 10, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(3, 3, 3, 0.01) 37%,
      rgba(3, 3, 3, 0.01) 40%,
      rgba(3, 3, 3, 0.01) 42%,
      rgba(3, 3, 3, 0.01) 43%,
      rgba(3, 3, 3, 0.01) 44%,
      rgba(0, 0, 0, 0.39) 64%,
      rgba(0, 0, 0, 0.49) 69%,
      rgba(0, 0, 0, 0.56) 73%,
      rgba(5, 5, 5, 0.87) 89%,
      rgba(8, 8, 8, 1) 96%,
      rgba(8, 8, 8, 1) 97%,
      rgba(10, 10, 10, 1) 98%,
      rgba(10, 10, 10, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(3, 3, 3, 0.01) 37%,
      rgba(3, 3, 3, 0.01) 40%,
      rgba(3, 3, 3, 0.01) 42%,
      rgba(3, 3, 3, 0.01) 43%,
      rgba(3, 3, 3, 0.01) 44%,
      rgba(0, 0, 0, 0.39) 64%,
      rgba(0, 0, 0, 0.49) 69%,
      rgba(0, 0, 0, 0.56) 73%,
      rgba(5, 5, 5, 0.87) 89%,
      rgba(8, 8, 8, 1) 96%,
      rgba(8, 8, 8, 1) 97%,
      rgba(10, 10, 10, 1) 98%,
      rgba(10, 10, 10, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#0a0a0a', GradientType=0 );
  }
}

.gallery_sec {
  margin-top: -18rem;
  .ant-avatar > img {
    display: inline-block;
    width: auto;
    height: auto;
  }
  .ant-avatar {
    border-radius: 0px;
  }
  .skills-icon img {
    width: 26px !important;
    height: 17px !important;
  }
  .ant-list-item-meta:before {
    content: "";
    background: #ffba00;
    height: 40px;
    width: 1px;
  }
  .ant-list-item-meta-description {
    color: map-get($colors, "light") !important;
    // overflow: hidden;
    min-height: 43px;
    max-height: 43px;

    @include media-mobile {
      max-height: unset;
    }
  }
  h4 {
    color: map-get($colors, "light");
  }
  h1 {
    width: auto;
    color: map-get($colors, "light");
    // &:after {
    //   content: "";
    //   background: #ffba00;
    //   height: 3px;
    //   width: 40px;
    //   display: block;
    //   margin-top: 20px;
    // }
  }

  .trip_border_btm {
    margin-bottom: 28px;
    &:after {
      content: "";
      background: #ffba00;
      height: 3px;
      width: 25px;
      display: block;
      margin-top: 10px;
      position: absolute;
    }
    span {
      text-align: left;
    }
  }
}

// Date Section
.date_sec {
  background-color: map-get($colors, "light");
  padding: 30px 20px 25px 20px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);
  .header_per_txt {
    border-bottom: 1px solid #d3d3d3;
    h2 {
      color: map-get($colors, "success");
    }
  }
  .ant-radio-button-wrapper {
    margin: 10px 10px 0 0;
    border-radius: 20px;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background-color: map-get($colors, "success");
    border-color: map-get($colors, "success");
    color: map-get($colors, "light");
    border-radius: 18px;
  }
  a {
    width: 150px;
    padding: 15px 25px;
  }
  .ant-radio-button-wrapper {
    background-color: map-get($colors, "grey");
    color: map-get($colors, "dark");
    border: 1px solid #d9d9d9;
    &:hover {
      background-color: map-get($colors, "grey");
      color: map-get($colors, "dark");
    }
  }
  .ant-radio-button-wrapper:not(:first-child) {
    &:before {
      display: none;
    }
  }
  .share_btn {
    border: 1px solid map-get($colors, "secondary");
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    img {
      width: 15px;
    }
  }
}
.price_sec {
  h5 {
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
  }
  p:nth-child(3) {
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
  }
  p {
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
  }
}
.btn_yellow {
  .yellow_btn {
    width: 175px;
  }
  .green_btn {
    width: 140px;
  }
}

.trip_inclusion_sec {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 30px;
  h4 {
    border-bottom: 1px solid #d3d3d3;
  }
}

.ant-list-item-meta-avatar {
  margin-right: 16px;
  padding-left: 5px;
}
.grn_txt.medium-text.an-15 {
  padding: 0px 5px;
}
.flexible-txt {
  color: rgba(0, 0, 0, 0.65);
}

// updated css

.gallery_bg {
  @include media-mobile {
    border-bottom: 1px solid #04191feb;
    &:before {
      background: none;
      background-color: transparent;
      height: 300px;
    }
  }
}

.section_mobile.gallery_sec {
  @include media-mobile {
    // background:#04191F;
    margin: 0 -15px;
    margin-top: 0 !important;
    // padding:20px 15px 0;
    // opacity: 0.9;
  }

  .first-col-edit {
    @include media-mobile {
      background: #313131;
      padding-left: 20px !important;
      padding-right: 35px !important;
    }
  }
  .first-col-none {
    @include media-mobile {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
  .edit-title {
    @include media-mobile {
      margin-top: 15px;
    }
  }
}

.trip_mobile_view .gallery_sec {
  @include media-mobile {
    margin-top: 0 !important;
  }
}

.edit-trip-work-img {
  img {
    max-width: 100%;
    height: auto;
    min-height: 325px;
    object-fit: cover;
    object-position: center;
  }
}

.get-in-touch-drawer {
  .ant-drawer-body {
    padding-top: 10px;
  }
  .ant-drawer-header{
    padding: 25px 16px 15px 24px;
  }
  .anticon.anticon-close{
    color: black;
  }
  .main_sub_title {
    font-size: 18px;
    padding-bottom: 0px;
    color: #2fa686 !important;
    margin-bottom:0px;
    font-weight: 500;
    font-family: 'Rubik'; 
  }
  .trip-workshop {
    color: black !important;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    letter-spacing: 0px;
    font-family: "Rubik";
    padding-bottom: 10px;
  }
  .sub_title {
    color: #2fa686 !important;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 0;
    margin-bottom: 0;
    letter-spacing: 0px;
    font-family: "Rubik";
  }

  .ant-form-item-label {
    text-align: left;
    line-height: 35px;
  }
  .ant-form-item label {
    font-size: 16px;
    color: #000000 !important;
    font-weight: 500;
  }
  .ant-form-item-control {
    line-height: 0px;
  }
  input {
    border: none;
    height: 55px;
    color: #000;
    font-size: 14px;
    background-color: #f8f8f8;
    border: 1px solid black;
  }
  textarea {
    background-color: #f8f8f8;
    border: none;
    border: 1px solid black;
  }
  .has-error .ant-input,
  .has-error .ant-input:hover {
    background-color: #f8f8f8;
  }
  .checkbox-design {
    margin-top: 20px;
    margin-bottom: -25px;
  }
  .ant-advanced-search-form .ant-form-item {
    margin-bottom: 15px;
  }
  .text-area-class .ant-form-item-label {
    line-height: 0px;
  }
  .ant-select-selection.ant-select-selection--single {
    border: none;
    min-height: 55px;
    color: #000;
    font-size: 14px;
    position: relative;
    height: 32px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid black;
  }
  .ant-select-selection__placeholder {
    user-select: none;
    width: 100%;
    height: 55px;
    align-items: center;
    display: none;
    line-height: 48px;
  }
  .ant-select-selection-selected-value {
    opacity: 1;
    width: 100%;
    height: 55px;
    display: flex !important;
    align-items: center;
  }
  .ant-form-item-label > .ant-form-item-required::before {
    display: none;
    content: "";
  }
  .ant-form-item-label > .ant-form-item-required::after {
    display: inline;
    margin-right: 4px;
    color: #f5222d;
    font-size: 12px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
  .term_condition_txt {
    font-weight: 500 !important;
    span {
      line-height: 25px;
      font-size: 14px;
    }
  }
  .ant-checkbox-inner {
    border: 2px solid black;
  }
  .disclaimer {
    line-height: 25px;
  }
}
