$colors: (
  light: #fff,
  dark: #0f0f0f,
  primary: #1877f2,
  secondary: #ffba00,
  dark-grey: #939393,
  warning: #fd3c3c,
  success: #099670,
  facebook: #4267b2,
  grey: #d9d9d9,
  ratting: #fadb14,
  instagram: #e1306c,
);
$maxLoop: 100;
$step: 5;

$grid-breakpoints: (
  xs: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
