.w_bg {
  .container{
    padding-right: 0px;
    padding-left:0px; 
  }
  .gallery_sec {
    margin-top: -20rem;
  }
  .trip_exp_bg {
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  .trip_exp_bg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  .sub_title {
    color: map-get($colors, "dark") !important;
    text-transform: capitalize;
    letter-spacing: normal;
  }
  .grn_txt {
    color: map-get($colors, "success");
  }
  #location_img {
    width: 25px;
    vertical-align: -webkit-baseline-middle;
    height: 25px;
    border-radius: unset;
    object-fit: contain;
  }
  #languageIcon {
    width: 25px;
    vertical-align: -webkit-baseline-middle;
    height: 25px;
    border-radius: unset;
    object-fit: contain;
  }
  .bx_bg {
    height: 120px;
    background-color: #f8f8f8;
    width: 120px;
  }
  .inclusion_sec .exc_ul li {
    display: flex;
  }
  .inclusion_sec .inc_ul li {
    display: flex;
  }
  .inclusion_sec {
    border-radius: 5px;
    li {
      list-style: none;
      font-size: 16px;
      color: #0f0f0f;
      line-height: 25px;
      padding-bottom: 10px;
      &:before {
        content: url("./../public/images/tick_ic.png");
        position: absolute;
        left: 30px;
      }
    }
  }
  .exclusion_sec {
    border-radius: 5px;
    li {
      list-style: none;
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 25px;
      color: #0f0f0f;
      &:before {
        content: url("./../public/images/close_ic.png");
        position: absolute;
        left: 30px;
      }
    }
  }
  .ex__primary_btn {
    padding: 10px 40px;
  }
  .photo_sec img {
    border-radius: 5px;
    width: 100%;
  }
  .price_sec h3 {
    color: map-get($colors, "success");
  }
  hr.light_clr {
    border-color: map-get($colors, "grey");
  }
  .photo_sec img {
    border-radius: 5px 5px 0 0;
  }
  .ant-card-bordered {
    border-radius: 5px;
    border: none;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.1);
  }
  .person_sec {
    background: #f8f8f8;
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    padding: 40px 30px;
    display: flex;
    align-items: baseline;

    h6 {
      text-align: right;
      display: block;
      margin-bottom: 0;
      padding: 20px 5px;
      color: map-get($colors, "primary");
    }
  }
  .yellow_btn {
    background-color: map-get($colors, "secondary");
    padding: 10px 15px;
    border-radius: 5px !important;
    width: 45%;
    border: 1px solid map-get($colors, "secondary");
    &:hover {
      background-color: transparent;
      border: 1px solid map-get($colors, "secondary");
      border-radius: 5px;
    }
  }
  .green_btn {
    background-color: map-get($colors, "success");
    padding: 10px 15px;
    border-radius: 5px !important;
    width: 45%;
    color: map-get($colors, "light");
    border: 1px solid map-get($colors, "success");
    &:hover {
      background-color: transparent;
      border: 1px solid map-get($colors, "success");
      color: map-get($colors, "success");
      border-radius: 5px;
    }
  }
  .bg_map {
    background-color: #ffffff;
    padding: 0 20px;
    border-radius: 5px;
    .map img {
      border-radius: 5px;
    }
  }
  .share_btn {
    border: none;
  }
  .btn_head {
    .yellow_btn {
      width: 45%;
      display: inline-block;
      text-align: center;
    }
    .green_btn {
      width: 45%;
      display: inline-block;
      text-align: center;
    }
  }
  .select_date {
    display: flex;
  }
  .date_sec a {
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    z-index: 9;
    padding: 10px 10px;
    line-height: 15px;
    width: 50%;
  }

  .edt_btn_sec a {
    color: map-get($colors, "success");
    border: 1px solid map-get($colors, "secondary");
    display: inline-block;
    display: inline-block;
    border-radius: 20px;
    background: map-get($colors, "light");
    width: auto;
    padding: 5px 15px;
    text-align: center;
  }
  .header_edit {
    position: absolute;
    right: 0;
    bottom: 35px;
  }
  .brder_sec {
    .border_btm {
      border-bottom: 1px solid #d3d3d3;
    }
    .brder_nn {
      border-bottom: none;
    }
  }
}

.head_title {
  border-bottom: 1px solid #bbbbbb;

  h5 {
    color: map-get($colors, "success");
  }
}
.date_mdl {
  border-bottom: 1px solid #dddddd;
  padding-top: 10px;
  .ant-row {
    align-items: flex-end;
    display: flex;
  }
  .interest_btn {
    background: map-get($colors, "secondary");
    color: map-get($colors, "dark");
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-right: 10px;
    &:focus {
      outline: none;
    }
  }
  .reserve_btn {
    background: map-get($colors, "success");
    color: map-get($colors, "light");
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.acco_line {
  p {
    margin-top: 0;
    margin-bottom: 1em;
    line-height: 27px;
  }
}
.trip_reser_card{
  margin-top: -5px;  
}
.workshop_view_edit_page{
  .container{
    padding: 0px;
  }
  .workshop_detail_txt{
    font-size: 30px !important;
    margin-bottom: 40px;
  }
  .trip_detail_des{
    padding-bottom: 25px;
    h4{
      font-size: 25px !important;
      font-weight: 500;
      margin-bottom: 10px;
    }
    span{
      color: #0F0F0F;
       font-size: 16px;
    }
  }
  .day_sec.metting_point_trip h3.an-22.medium-text.pb10 {
    font-size: 25px !important;
    font-weight: 500;
    margin-bottom: 10px;
    color: #099670;
  }
  .day_sec.metting_point_trip .map_trip_edit .map-block{
    margin: 0 !important;
    margin-bottom: 27px !important;
 }
  .day_sec.metting_point_trip .map_trip_edit .map-block > div > div{
    border-radius: 20px;
  }
  .Itinerary_trip_edit{
    .trip_detail_des h4{
        font-size: 25px !important;
        font-weight: 500;
        margin-bottom: 0px;
        color: #099670;
        padding-top: 40px !important;
    }
    .trip_detail_des .day_sec h4.sub_title.an-14 {
        font-size: 20px !important;
    }
    .edit_right{
        padding-top: 40px !important;
    }
    .Itinerary_trip_edit_box{
        .trip_detail_des{
            .day_sec{
                padding-bottom: 40px;
                p{
                    color: #0F0F0F;
                    font-size: 16px;
                }
            }
        }
        .trip_detail_des.title{
          padding-bottom: 0px !important;
        }
    }
  }
  .Accommodation_trip_edit{
      .trip_pad_fix {
          padding: 50px 0px 0px 0px;
      }
      .trip_detail_des{
          .Accommodation_text{
              font-size: 25px !important;
              font-weight: 500;
              margin-bottom: 0px;
              color: #099670;
          }
        
      }
      .trip_detail_des.title{
        padding-bottom: 0px !important;
        p{
          margin-bottom: 0px;
        }
      }
      .Accommodation_detail_text {
          color: #0F0F0F;
          font-size: 16px;
      }
      .trip_detail_des.trip_Accommodation_image {
          padding-bottom: 22px;
      }
      .border-bottom{
          border-bottom: 1px solid #d3d3d3;
      }
     
  }
  .trip_exclusion_sec .list_off ul li:before{
    margin-top: 10px;
  }
  // .Inclusions_title_fix .list_off p:before{
  //   margin-top: 10px;
  // }
  img.br10.right_side_image {
    height: 160px;
    width: 160px;
  }

  .trip_photoset{
    margin: 0px 0 50px;
    border-top: 1px solid #ddd;
    padding-top: 40px;
  }
.worlshop-extra-desc{
  .lh-30{
      p{
        margin-bottom: 0px !important;
      }
  }
  .trip_detail_des.editor_text_display{
     border-bottom: 1px solid #d3d3d3;
  }
 
   .owl-theme .owl-nav button.owl-next, .owl-theme .owl-nav button.owl-prev{
     
      outline: none !important;
     
    }
 
  }
  .trip_detail_des.editor_text_display{
    p{

      margin-bottom: 0px;
    }
  }
}
.wifi_icon img{
  width: 30px !important;
  margin-left: auto;
  height: auto !important;
}
.workshop_similar{
  .share_icn{
    width: 18px !important;
    height: auto;
    margin-top: 7px
  }
  .card_cover{
    height: 275px;
  }
  
   .owl-nav{
    display: none;
  }
  .ant-card-body{
    padding: 0px;
  }
  .card-padding-ltr{
    padding: 24px 24px 0px 24px;
  }
  .card-padding-trb{
   padding: 0px 24px 24px;
  }
  hr.light_clr{
    border-top: 1px solid #d3d3d3 !important;
  }
}

.main-black-color{
  color: #0F0F0F;
}


@media (min-width:320px) and (max-width:767px){
  .workshop_mobile_view{
    .gallery_sec{
      // margin-top: -27rem !important;
    }
    .container{
      padding-right:15px;
      padding-left: 15px; 
    }
    .cover_img_data{
      // margin-bottom: 45px;
    }
    .an-35 {
      font-size: 25px !important;
    }
    .an-18 {
      font-size: 25px !important;
    }
    .person_sec .green_btn.cursor-pointer{
      width: 100%;
      margin-top: 5px;
    }
    .person_sec .yellow_btn.mr10{
      width: 100%;
    }
    .workshop_similar .card_cover{
      height: 260px;
    }
    .trip_view_detail_edit .trip_detail_des{
      margin-bottom: 25px;
    }
    .Inclusions_section{
      margin-bottom: 25px;
    }
    .Accommodation_trip_edit{
      .trip_pad_fix{
        padding-bottom: 25px; 
          .ant-col.ant-col-17{
              margin-bottom: 10px; 
              .trip_detail_des{
                padding-bottom: 0px;
              }
          }
          .ant-col.ant-col-4{
              text-align: right;
              width: 70%;
          }
          .ant-col.ant-col-3{
              width: 25%;
          }
      }
    }
    .ant-col.ant-col-6{
      .edt_btn_sec a{
          padding: 5px 8px;
      }
    }
    .text-right.edt_btn_sec.header_edit{
      bottom: 10px;
    }
    .ant-col.ant-col-5{
      .text-right.edt_btn_sec a{
        padding: 5px 8px;
      }
    }
    
  }  
}
@media(min-width:768px) and (max-width:991px){
  
}
.slider_prev_next{
    .owl-nav{
      display: none;
    }
    .owl-dots{
      margin-top: 25px !important;
    }
    .owl-dots .owl-dot.active span{
      opacity: 1;
    }
    .owl-dots .owl-dot.active:focus, .owl-dots .owl-dot:focus{
      outline: none;
    }
    .owl-dots .owl-dot span{
      background: #ffba00 !important;
      opacity: 0.5;
    }
}
.desc-min-height{
  .ql-container .ql-editor{
      min-height: 100px !important;
  }
}

.all_page_card{
  .ant-card-body .price_sec .ant-row img {
    width: 30px !important;
    margin-left: auto;
  }
  .price_line .text-right img {
    width: 25px !important;
    margin-top: -8px !important;
  }
  .ant-card-body .price_sec {
    padding: 0px 10px;
  }
  .ant-card-body {
    padding: 10px 0px;
  }
  .card_details .card-main-des {
    color: #2a2d2c;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    margin-bottom: 10px !important;
    overflow: hidden;
    min-height: 25px;
    max-height: 25px;
    white-space: nowrap;
    font-family: "Rubik";
  }
  .card_details p.an-15.medium-text.card-main-title {
    text-align: left;
    letter-spacing: 0px;
    color: #2a2d2c;
    opacity: 1;
    font-size: 16px !important;
    font-family: "Rubik";
    font-weight: 500;
  }
  .ant-card-body .price_sec .ant-row {
    border-top: 0px;
    padding: 0px 0px;
  }
  .ant-card-body .ant-row {
    border-top: 1px solid #d3d3d3;
    padding: 7px 10px 0px 10px;
  }
  .text-right img.share_icn, section.expe_sec.h_padding.workshop .ant-row .heart_fill .text-right img {
    width: 22px;
    display: inline-block;
    border-radius: 0;
  }
  .heart_fill .text-right .share_icn {
    width: 16px !important;
  }
  .text-right svg, section.expe_sec.h_padding.workshop .heart_fill label svg {
    width: 22px;
    margin-top: 0;
    margin-left: 15px;
  }
  img.card_cover {
    height: 305px;
  }
  .heart_fill label svg {
    fill: #e8e8e8;
  }
}

.photo_video_sec{
  img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
}
.common-top-border{
  border-top: 1px solid #ddd;
  padding-top: 40px;
}


.accommo_modal{
  .ant-modal-title{
    font-size: 25px !important;
    font-weight: 600;
    margin-bottom: 0px;
    color: #099670;
    padding:5px 0px;  
  }
  .ant-upload-list-picture-card-container{
    margin: 0 4px 8px 0;
  }
}

.base_price_trip_expert{
  .anticon-down.ant-select-arrow-icon{
    svg{
      margin-top: 2px;
    }
  }
}
.justify{
  p{
    text-align: justify;
  }
}
.trip_desc_detail.justify{
  padding-right: 50px !important;
}
.padding-right.justify{
  padding-right: 30px !important;
}
.itinerary_txt{
  color: #0f0f0f;
    font-weight: 600;
    font-size: 16px !important;
    font-family: 'Rubik-medium' !important;
}
.no-data-found-txt{
  color: #0F0F0F;
    font-size: 16px;
}
.cover_img_data .ant-list-item-meta-title{
    font-family: 'Rubik';
    font-size: 16px !important;
    color: #ffba00;
    font-weight: 500 !important;
}

.date_sec .ant-radio-button-wrapper {
  margin: 10px 10px 0 0;
  border-radius: 20px !important;
}
.border-top{
  border-top: 1px solid #d3d3d3;
}
.border-top-condition{

  border-top: 1px solid #d3d3d3;
}

.certification-parent{
  margin-top: 20px;
}

.certification-text{
  color: #0f0f0f;
  font-weight: 600;
  font-size: 15px;
  font-family: "Rubik-medium";
}